/* .dop-bg {
  background: #393939;
}
.dop-cl {
  color: #eee;
}
.dop-gr {
  background: linear-gradient(45deg, #6a6a6a, #ff8c8c);
}
iframe {
  border-radius: 4px;
}

img {
  border-radius: 0px;
}

.projects img {
  border: 20px solid red;
  border-radius: 0px;
}

.form-check-label {
  color: #eee;
}
.form-check-label a {
  color: #0c0c0c;
}
.bfade {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
}

.creative-text {
  border-radius: 0 0 50px 0;
  padding: 10px;
}
.creative-text-2 {
  border-radius: 0 0 50px 0;
  padding: 10px;
  font-size: 24px;
}

.contact-page {
  background: #ff6060;
} */
.blur {
  padding: 40px 20px;
  backdrop-filter: blur(40px);
  background: linear-gradient(#1a622a, rgba(0, 0, 0, 1));
  border-radius: 100px;
  text-align: center;
}
.blur-2 {
  padding: 40px 20px;
  backdrop-filter: blur(4px);
  // background: linear-gradient(rgba(9, 51, 61, 0.8), rgba(0, 0, 0, 1));
  border-radius: 0px 0px 0px 0px;
  text-align: center;
}

.bg {
  background: rgba(51, 51, 51, 0.453) 313;
}
