.wow img {
  border-radius: 40px;
}

.form-check-label {
  color: antiquewhite;
}

.form-check-label a {
  color: rgb(224, 242, 157);
  text-decoration: underline;
}
.parallax-content container p {
  background-color: black;
}

.parallax-content p {
  background-color: #1b1a1aa3;
  padding: 20px;
}
