.dop-bg {
  background: #30573b;
}

iframe {
  border-radius: 4px;
}

img {
  border: 6px solid #30573b;
  border-radius: 0px;
}

/* .projects img {
  border: 20px solid red;
  border-radius: 0px;
} */

.form-check-label {
  color: #eee;
}

.bfade {
  padding: 20px;
  background: rgba(0, 0, 0, 0.6);
}
