html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
  resize: none;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.qwe {
  max-width: 100%;
  display: inline-block;
}

.bgfb {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.ertb {
  margin: 0 0 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.nmm {
  width: 100%;
  height: 38px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.nmm:-moz-placeholder {
  color: #999;
}

.nmm::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.nmm::-webkit-input-placeholder {
  color: #999;
}

.nmm:focus {
  border-color: #3898ec;
  outline: 0;
}

textarea.nmm {
  height: auto;
}

.erghe {
  position: relative;
}

.erghe:before,
.erghe:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.erghe:after {
  clear: both;
}

.mjttt {
  display: block;
  position: relative;
  overflow: hidden;
}

.ewr2 {
  display: none;
  position: relative;
}

.ewfsdv {
  display: block;
}

:root {
  --white: #fff;
  --dark-sage: #183835;
  --h1: 70px;
  --h2: 53px;
  --h3: 40px;
  --h4: 30px;
  --h5: 23px;
  --h6: 18px;
  --tnhrn: 23px;
  --large-text: 30px;
  --white-smoke: whitesmoke;
  --mist: #e2e2e2;
  --light-sage: #ddf1e6;
  --frost: #ededed;
  --display-large: 93px;
  --display-medium: 70px;
  --display-small: 53px;
  --opaque-sage: #46605d;
  --small-text: 14px;
  --regular-text: 18px;
  --dove-grey: #b9b3b3;
  --black: #000;
  --display-xsmall: 40px;
  --bertnrn: 18px;
}

body {
  background-color: var(--white);
  color: var(--dark-sage);
  -webkit-text-stroke-color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  line-height: 1.3em;
}

h1 {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--h1);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2em;
}

h2 {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--h2);
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.2;
}

h3 {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--h3);
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.2em;
}

p {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--tnhrn);
  margin-bottom: 15px;
  font-weight: 400;
  line-height: 1.3em;
}

a {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: none;
}

a:hover {
  color: #7e7e7e;
}

a.terhrd {
  color: #788374;
}

img {
  max-width: 100%;
  display: inline-block;
}

label {
  color: #262626;
  text-transform: capitalize;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  display: block;
}

.ewfvv {
  z-index: 50;
  background-color: var(--white);
  padding: 80px 30px;
  position: relative;
}

.ewfvv.bettr {
  color: var(--white);
}

.fewvfswve {
  z-index: 1;
  max-width: 1600px;
  object-fit: cover;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.fewvfswver {
  z-index: 200;
  max-width: 1600px;
  object-fit: cover;
  flex: 1;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.primary-button {
  border: 1px solid var(--dark-sage);
  background-color: var(--dark-sage);
  color: var(--mist);
  text-align: center;
  object-fit: fill;
  border-radius: 300px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 23px 8px 11px;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  position: relative;
  overflow: hidden;
}

.primary-button:hover {
  color: var(--light-sage);
}

.display-large {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--display-large);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.1em;
}

.bettr {
  background-color: var(--dark-sage);
}

.vbv {
  background-color: var(--light-sage);
}

.fine-print-text {
  color: var(--white);
  font-size: 14px;
  line-height: 1.4;
  transition: opacity 0.3s;
}

.fine-print-text:hover {
  opacity: 0.6;
  color: var(--white);
}

.bertnrn {
  color: #2a2e28;
  text-transform: uppercase;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3em;
}

.large-text {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--large-text);
  font-weight: 400;
  line-height: 1.2em;
}

.wefwfv {
  margin-bottom: 60px;
}

.accordion-title-panel {
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.accordion-title-panel.on-pillars {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.bottom-margin-30px {
  margin-bottom: 30px;
}

.right-margin-15px {
  margin-right: 15px;
}

.page-wrapper {
  z-index: 99;
  position: relative;
}

.jyrtj-smoke {
  background-color: var(--white-smoke);
}

.main-wrapper {
  z-index: 99;
  position: relative;
}

.text-align-center {
  text-align: center;
}

.wefvz {
  flex-direction: column;
  justify-content: space-between;
  padding-right: 0;
  display: flex;
}

.image-cover {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.swgreb-ewfvv {
  z-index: 66;
  background-color: var(--white);
  padding: 15px 30px 60px;
  position: relative;
  overflow: hidden;
}

.erhrtyhj {
  min-width: 488px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
}

._2-column-grid {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: relative;
}

._2-column-grid.features-swgreb {
  grid-column-gap: 30px;
  grid-template-columns: 1fr 0.75fr;
}

._2-column-grid.instructions {
  grid-template-columns: 0.75fr 1fr;
}

._2-column-grid.features {
  grid-column-gap: 44px;
  grid-row-gap: 44px;
}

.jyrtj {
  background-color: var(--white);
}

.inline-block {
  display: inline-block;
}

.inline-block.top-margin-44px {
  margin-top: 44px;
}

.bnn {
  margin-top: 60px;
}

.bdbngn {
  z-index: 9;
  text-align: left;
  font-family: DM Sans, sans-serif;
  font-size: 18px;
  position: relative;
}

.footer {
  z-index: 90;
  background-color: var(--white-smoke);
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  position: static;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.nrtymjut {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--tnhrn);
  margin-bottom: 5px;
  margin-right: 20px;
  font-weight: 400;
  line-height: 1.4;
  transition: transform 0.2s;
  overflow: visible;
}

.nrtymjut:hover {
  color: #474747;
  transform: translate(0, -5px);
}

.nrtymjut.terhrd {
  color: var(--black);
}

.erbhbn {
  margin-top: 15px;
}

.ebhrtnh {
  color: var(--mist);
}

.bottom-margin-15px {
  margin-bottom: 15px;
}

.swgreb-content {
  grid-column-gap: 33px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  display: grid;
  position: relative;
}

.swgreb-right-side-fewvfswve {
  z-index: 10;
  height: 100%;
  background-color: var(--light-sage);
  border-radius: 33px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 55px 33px;
  display: flex;
  position: relative;
}

.hbrtnr {
  width: 80%;
}

.hbrtnr.justify-content-center {
  margin-left: auto;
  margin-right: auto;
}

.cta-s-fewvfswve {
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-grid {
  width: 100%;
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 44px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  display: grid;
}

.wbge {
  justify-content: space-between;
  display: flex;
}

.brand {
  z-index: 99;
  order: -1;
  margin-right: 15px;
  position: relative;
}

.brand.terhrd {
  z-index: 99;
  position: relative;
}

.column {
  flex-direction: column;
  display: flex;
}

._3-column-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

._3-column-grid.metrics-pills {
  grid-column-gap: 25px;
  margin-top: 60px;
}

.contact-button-cta-wrapper {
  flex-direction: column;
  display: flex;
}

.bhtnnm {
  background-color: var(--white-smoke);
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 35px;
  display: flex;
}

.swgreb-image {
  width: 100%;
  height: 666px;
  max-height: 740px;
  min-height: 444px;
  border-radius: 33px;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  position: relative;
  overflow: hidden;
}

.accordion-content {
  margin-bottom: 15px;
  padding-right: 50px;
  overflow: hidden;
}

.vertical-line {
  width: 2px;
  height: 10px;
  background-color: var(--dark-sage);
  border-radius: 20px;
  position: absolute;
}

.horizontal-line {
  width: 10px;
  height: 2px;
  background-color: var(--dark-sage);
  border-radius: 20px;
  position: absolute;
}

.dropdown-icon {
  width: 24px;
  height: 24px;
  border: 2px solid var(--dark-sage);
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.yjku {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--regular-text);
  margin-bottom: 0;
  margin-right: 15px;
}

.yjku.pillar {
  font-size: var(--tnhrn);
  margin-top: 44px;
}

.accordion-title {
  width: 90%;
  color: var(--dark-sage);
  font-size: var(--tnhrn);
  margin-bottom: 0;
  margin-right: 30px;
  padding-bottom: 0;
  font-weight: 400;
}

.accordion-panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 0;
}

.accordion-panel.no-bottom-margin {
  margin-bottom: 0;
}

.justify-s-content-evenly-top-to-bottom {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.decor-image {
  width: 30%;
}

.cta-wrapper {
  max-height: 680px;
  min-height: 680px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: var(--light-sage);
  color: #000;
  border-radius: 33px;
  grid-template-rows: auto;
  grid-template-columns: 1.25fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 40px;
  display: grid;
  overflow: hidden;
}

.form {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.pricing-hbrtnr {
  width: 50%;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.contact-heading-margin {
  margin-bottom: 60px;
}

.tnhrn {
  font-family: DM Sans, sans-serif;
  font-size: var(--tnhrn);
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.3em;
}

.tnhrn.on-swgreb {
  margin-top: 30px;
}

.display-medium {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--display-medium);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2em;
}

.display-medium.bottom-margin-15px {
  margin-bottom: 15px;
}

.display-small {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--display-small);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.2em;
}

.display-xsmall {
  color: var(--dark-sage);
  font-family: DM Sans, sans-serif;
  font-size: var(--display-xsmall);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.3em;
}

.display-xsmall.bottom-margin-30px {
  margin-bottom: 30px;
}

.swgerf {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  border-radius: 300px;
  justify-content: center;
  align-items: center;
  margin-right: 11px;
  display: flex;
}

.swgerf.bettr {
  background-color: var(--dark-sage);
}

.secondary-button {
  border: 1px solid var(--dark-sage);
  color: var(--dark-sage);
  text-align: center;
  object-fit: fill;
  background-color: rgba(24, 56, 53, 0);
  border-radius: 300px;
  flex: 0 auto;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 23px 8px 11px;
  font-family: DM Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: color 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  position: relative;
  overflow: hidden;
}

.secondary-button:hover {
  color: var(--opaque-sage);
}

.secondary-button.jyrtj {
  border-color: var(--white);
  background-color: var(--white);
}

.tri-button {
  color: var(--dark-sage);
  display: flex;
}

.image {
  margin-left: 11px;
}

.ehbtn {
  background-color: var(--dark-sage);
  border-radius: 300px;
  padding-left: 23px;
  padding-right: 23px;
  transition: color 0.2s;
}

.ehbtn:hover {
  color: var(--light-sage);
}

.wergrg {
  background-color: var(--mist);
  text-align: center;
  border-radius: 160px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 60px;
  font-size: 23px;
  display: flex;
}

.wergrg.bettr {
  background-color: var(--dark-sage);
  color: var(--light-sage);
}

.wergrg.vbv {
  background-color: var(--light-sage);
}

.highlight {
  font-weight: 500;
}

.top-margin-10px {
  margin-top: 10px;
}

.text-color-light-sage {
  color: var(--light-sage);
}

.left-side-fewvfswve.image-wrapper {
  max-height: 600px;
  border-radius: 33px;
  overflow: hidden;
}

.left-side-fewvfswve.justifys-content-top-to-bottom {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.right-side-fewvfswve.image-wrapper {
  max-height: 600px;
  border-radius: 33px;
  overflow: hidden;
}

.right-side-fewvfswve.justifys-content-top-to-bottom {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.heading-pill-wrapper {
  max-width: 450px;
  border: 1px solid var(--black);
  border-radius: 300px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-left: 11px;
  padding-right: 11px;
  display: flex;
}

.heading-pill-wrapper.on-founder-block {
  border-color: var(--light-sage);
  color: var(--light-sage);
  margin-bottom: 0;
  font-size: 14px;
}

.h4 {
  font-size: var(--h4);
  margin-bottom: 0;
  line-height: 1.3em;
}

.h4.on-instructions-block {
  margin-right: 25px;
}

.underline {
  height: 1px;
  background-color: var(--mist);
  margin-top: 20px;
}

.instructions-block-fewvfswve {
  background-color: var(--white);
  border-radius: 30px;
  padding: 66px 44px 60px;
  display: flex;
}

.instructions-block-fewvfswve.is-first {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.instructions-block-fewvfswve.is-second {
  z-index: 3;
  margin-top: 44px;
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.instructions-block-fewvfswve.is-third {
  z-index: 6;
  margin-top: 26px;
  position: -webkit-sticky;
  position: sticky;
  top: 14%;
}

.top-margin-20px {
  margin-top: 20px;
}

.faq-fewvfswve {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.faqs {
  max-width: 650px;
  margin-top: 60px;
}

.faqs.pillars {
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.hgt {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 500;
}

.vertical-line-divider {
  width: 1px;
  height: 100%;
  background-color: rgba(95, 95, 95, 0.2);
}

.top-footer-fewvfswve {
  grid-column-gap: 60px;
  grid-row-gap: 60px;
  grid-template-rows: auto;
  grid-template-columns: 0.5fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
}

.sbfgdngnm {
  flex-direction: row;
  justify-content: space-between;
  display: flex;
}

.footer-brand-fewvfswve {
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.footer-fine-print-fewvfswve {
  background-color: var(--dark-sage);
  margin-top: 60px;
  padding: 15px 30px;
  position: relative;
}

.image-wrapper {
  min-height: 600px;
  object-fit: cover;
  border-radius: 33px;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
  overflow: hidden;
}

._1111-max-width {
  max-width: 1111px;
  object-fit: cover;
  border-radius: 33px;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  overflow: hidden;
}

.award-wrapper.right-margin-60px {
  margin-right: 60px;
}

.awards-fewvfswve {
  display: flex;
}

.pillar-hbrtnr {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  display: flex;
}

.pillar-block {
  background-color: var(--white-smoke);
  cursor: pointer;
  border-radius: 14px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 30px;
  display: flex;
}

.pillar-block.mouse-pointer-default {
  cursor: default;
}

.sbbbbbbb {
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.sbbbbbbb.on-pillars {
  height: 40px;
  padding-top: 0;
  padding-bottom: 0;
}

.founder-block-fewvfswve {
  min-height: 460px;
  background-color: var(--dark-sage);
  color: var(--light-sage);
  border-radius: 22px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 35px 60px 35px 35px;
  display: flex;
}

.founder-portrait-wrapper {
  height: 226px;
  max-width: 240px;
  border-radius: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.founder-portrait-wrapper.image-cover-top {
  align-items: flex-start;
}

.rtnnnmt {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 30px;
  display: flex;
}

.checkmark-wrapper {
  width: 21px;
  height: 20px;
  background-color: var(--dark-sage);
  border-radius: 300px;
  justify-content: center;
  align-items: center;
  margin-right: 14px;
  padding: 3px;
  display: flex;
}

.checklist-item {
  display: flex;
}

.checklist-fewvfswve {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-top: 25px;
  display: grid;
}

.text-span {
  font-size: 14px;
}

.erghth-content {
  margin-top: 44px;
}

.erghth {
  margin-top: 60px;
}

.bold {
  font-weight: 500;
}

.feature-block-fewvfswve {
  min-height: 333px;
  background-color: var(--opaque-sage);
  border-radius: 30px;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 44px 44px;
  display: flex;
}

.features-top-content {
  justify-content: space-between;
  display: flex;
}

.feature-heading {
  color: var(--white-smoke);
  font-size: 23px;
  font-weight: 500;
}

.input-field-base-option-2 {
  background-color: var(--opaque-sage);
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.form-input-option-2 {
  color: var(--light-sage);
  background-color: rgba(0, 0, 0, 0);
  border: 1px #000;
  margin-bottom: 0;
  padding: 20px 15px;
  font-size: 16px;
}

.form-input-option-2:hover {
  border-color: var(--dark-sage);
}

.form-input-option-2:focus {
  border-color: var(--white);
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
}

.form-input-option-2::-ms-input-placeholder {
  color: var(--light-sage);
  font-size: var(--regular-text);
}

.form-input-option-2.message-area {
  min-height: 150px;
  padding-bottom: 0;
}

.input-label-option-2 {
  color: var(--white);
  text-transform: capitalize;
  margin-bottom: 7px;
  margin-left: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

.contact {
  color: var(--dark-sage);
}

.cta-right-fewvfswve {
  height: 100%;
  max-height: 680px;
}

.cta-left-fewvfswve {
  padding-right: 40px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10%;
}

.cta-content {
  max-width: 555px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: var(--h2);
  }

  .ewfvv {
    padding: 77px 5%;
  }

  .display-large {
    font-size: var(--display-medium);
    line-height: 1.1;
  }

  .large-text.tag-line {
    width: 80%;
    margin-top: 22px;
  }

  .contact-content {
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0;
  }

  .swgreb-ewfvv {
    padding-left: 5%;
    padding-right: 5%;
  }

  ._2-column-grid {
    grid-column-gap: 33px;
    grid-row-gap: 33px;
  }

  ._2-column-grid.features-swgreb {
    grid-row-gap: 44px;
    grid-template-columns: 1.5fr 0.75fr;
  }

  ._2-column-grid.instructions {
    grid-template-columns: 1fr;
  }

  ._2-column-grid.features {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  ._2-column-grid.heading-fewvfswve {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  ._2-column-grid.pillars {
    grid-template-columns: 1fr;
  }

  .swgreb-content {
    grid-row-gap: 33px;
    grid-template-columns: 1fr;
  }

  .swgreb-right-side-fewvfswve {
    text-align: left;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }

  .hbrtnr {
    width: 80%;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 44px;
    margin-bottom: 44px;
    padding-bottom: 0;
  }

  .wbge {
    flex-direction: column;
    align-items: center;
  }

  ._3-column-grid {
    grid-template-columns: 1fr 1fr;
  }

  ._3-column-grid.metrics-pills {
    width: 77%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-button-cta-wrapper {
    justify-content: space-between;
  }

  .contact-button-cta-wrapper.bnn {
    margin-top: 30px;
  }

  .swgreb-text {
    text-align: center;
  }

  .swgreb-image {
    max-height: 555px;
    min-height: 555px;
  }

  .decor-image {
    width: 44%;
  }

  .cta-wrapper {
    min-height: auto;
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 40px;
  }

  .contact-info-wrapper {
    width: 100%;
  }

  .pricing-hbrtnr {
    width: 80%;
  }

  .contact-heading-margin {
    margin-bottom: 30px;
  }

  .tnhrn.on-swgreb {
    text-align: left;
  }

  .display-medium {
    font-size: var(--display-small);
  }

  .display-small {
    font-size: var(--display-xsmall);
  }

  .display-xsmall {
    font-size: var(--h4);
  }

  .wergrg {
    padding-top: 88px;
    padding-bottom: 88px;
  }

  .left-side-fewvfswve.image-wrapper {
    border-radius: 22px;
  }

  .top-footer-fewvfswve {
    grid-column-gap: 17px;
    grid-row-gap: 17px;
    grid-template-columns: 1fr;
  }

  .image-wrapper {
    max-height: 444px;
    min-height: 444px;
    border-radius: 11px;
  }

  .cta-right-fewvfswve.hidden-on-mobile {
    display: none;
  }

  .cta-left-fewvfswve {
    padding-right: 0;
  }
}

@media screen and (max-width: 767px) {
  h1,
  h2 {
    font-size: var(--h2);
  }

  .ewfvv {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .primary-button {
    width: auto;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    display: flex;
  }

  .large-text {
    font-size: var(--tnhrn);
  }

  .contact-content {
    padding-left: 0;
    padding-right: 0;
  }

  .wefvz {
    width: 100%;
  }

  .erhrtyhj {
    min-width: auto;
  }

  ._2-column-grid {
    grid-template-columns: 1fr;
  }

  ._2-column-grid.features-swgreb {
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    grid-template-columns: 1fr;
  }

  .nrtymjut {
    margin-bottom: 5px;
  }

  .hbrtnr {
    width: 100%;
  }

  .cta-s-fewvfswve {
    flex-direction: column;
  }

  .footer-grid {
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .column {
    align-items: flex-start;
  }

  ._3-column-grid {
    grid-template-columns: 1fr;
  }

  ._3-column-grid.metrics-pills {
    width: 88%;
  }

  .swgreb-text {
    width: 100%;
  }

  .swgreb-image {
    min-height: 444px;
  }

  .accordion-content {
    padding-right: 0;
  }

  .decor-image {
    width: 30%;
  }

  .cta-wrapper {
    border-radius: 33px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .contact-info-wrapper,
  .pricing-hbrtnr {
    width: 100%;
  }

  .tnhrn {
    font-size: var(--tnhrn);
  }

  .secondary-button {
    width: auto;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    display: flex;
  }

  .wergrg {
    min-height: 320px;
    padding-top: 77px;
    padding-bottom: 77px;
  }

  .heading-pill-wrapper {
    margin-bottom: 55px;
  }

  .instructions-block-fewvfswve {
    padding: 55px 33px 44px;
  }

  .vertical-line-divider {
    display: none;
  }

  .sbfgdngnm {
    align-items: flex-start;
  }

  .image-wrapper {
    min-height: 333px;
  }

  .awards-fewvfswve {
    margin-bottom: 30px;
  }

  .awards-fewvfswve.on-about {
    margin-top: 30px;
    margin-bottom: 0;
  }

  .feature-block-fewvfswve {
    padding-top: 44px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .features-top-content {
    flex-wrap: wrap;
  }

  .feature-heading {
    order: 1;
    margin-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: var(--h3);
    line-height: 1.1em;
  }

  h2 {
    font-size: var(--h3);
  }

  h3 {
    font-size: var(--h4);
  }

  .ewfvv {
    padding-top: 44px;
    padding-bottom: 44px;
  }

  .primary-button {
    overflow: hidden;
  }

  .display-large {
    font-size: var(--display-small);
  }

  .large-text.tag-line {
    width: 100%;
  }

  .wefwfv {
    margin-bottom: 40px;
  }

  .contact-content {
    max-width: 100%;
    padding: 0;
  }

  .wefvz {
    width: 100%;
  }

  .swgreb-ewfvv {
    padding-top: 15px;
    padding-bottom: 44px;
  }

  .erhrtyhj {
    width: 100%;
    flex-direction: column;
  }

  ._2-column-grid.features-swgreb {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .inline-block.top-margin-44px {
    margin-top: 22px;
  }

  .swgreb-right-side-fewvfswve {
    padding: 44px 22px;
  }

  .footer-grid {
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
  }

  .column {
    align-items: stretch;
  }

  ._3-column-grid.metrics-pills {
    width: 100%;
    grid-row-gap: 33px;
  }

  .contact-button-cta-wrapper {
    flex-direction: column;
  }

  .bhtnnm {
    padding-left: 30px;
    padding-right: 30px;
  }

  .swgreb-image {
    min-height: 388px;
  }

  .accordion-title {
    width: 90%;
    font-size: var(--tnhrn);
  }

  .decor-image {
    width: 55%;
  }

  .cta-wrapper {
    min-height: auto;
    padding: 45px 20px;
  }

  .form {
    grid-row-gap: 15px;
  }

  .contact-heading-margin {
    margin-bottom: 40px;
  }

  .tnhrn {
    font-size: var(--regular-text);
  }

  .tnhrn.on-swgreb {
    font-size: var(--tnhrn);
    margin-top: 17px;
  }

  .display-medium,
  .display-small {
    font-size: var(--display-xsmall);
  }

  .display-xsmall {
    font-size: var(--h5);
    font-weight: 500;
  }

  .secondary-button {
    overflow: hidden;
  }

  .wergrg {
    min-height: 222px;
    padding: 44px;
  }

  .wergrg.bettr {
    font-size: 20px;
  }

  .left-side-fewvfswve.image-wrapper {
    max-height: 333px;
    min-height: 333px;
  }

  .heading-pill-wrapper {
    margin-bottom: 44px;
  }

  .h4 {
    font-size: var(--h5);
  }

  .h4.on-instructions-block {
    font-size: 20px;
    font-weight: 500;
  }

  .instructions-block-fewvfswve {
    border-radius: 22px;
    padding-left: 22px;
    padding-right: 22px;
  }

  .vertical-line-divider {
    width: 100%;
    height: 1px;
    margin-top: 33px;
  }

  .top-footer-fewvfswve {
    padding-left: 5%;
    padding-right: 5%;
  }

  .sbfgdngnm {
    flex-direction: column;
    align-items: stretch;
  }

  .image-wrapper {
    max-height: 33px;
    min-height: 333px;
  }

  ._1111-max-width {
    min-height: 333px;
    border-radius: 22px;
    margin-top: 30px;
  }

  .award-wrapper.right-margin-60px {
    margin-right: 30px;
  }

  .founder-block-fewvfswve {
    padding-left: 30px;
    padding-right: 30px;
  }
}

#hy {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#iul {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

#rmk {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #hy,
  #iul {
    justify-self: center;
  }

  #rmk {
    justify-self: center;
  }
}

.open {
  display: flex !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: #183835;
  color: #eee;
  padding: 0 40px;
}
.rhjr {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.rhjr a {
  font-size: 30px;
  text-decoration: none;
  color: #eee;
  font-weight: 900;
}
.nav {
  display: flex;
  width: 700px;
  padding: 0 40px;
}
.nav a {
  color: #eee;
  text-decoration: none;
}
.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 40px;
}
.nfrnr {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  z-index: 200;
}
.nfrnr span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #eee;
}
.nfrnr::before,
.nfrnr::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #eee;
  transition: all 0.5s ease 0s;
}
.nfrnr::before {
  top: 0;
}
.nfrnr::after {
  bottom: 0;
}
.nfrnr.active span {
  transform: scale(0);
}
.nfrnr.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.nfrnr.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header-fewvfswve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bwrg {
  width: 100%;
  z-index: 200;
}
@media (max-width: 991px) {
  .nfrnr {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #183835;
    animation: nfrnrAnimation 0.5s;
    font-size: 30px;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 90px;
    align-items: center;
  }
}

@keyframes nfrnrAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tehbr {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.dyjdjtjyjyjyjyj {
  padding-bottom: 20px;
  padding-top: 20px;
}
