
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
main,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
textarea {
  overflow: auto;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.VBfJhOffVx {
  max-width: 100%;
  display: inline-block;
}
.JWVzpBCsAJ {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}
.NXUmuQDYjf {
  margin: 0 0 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.XIkkFtDnPU {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.XIkkFtDnPU:-moz-placeholder {
  color: #999;
}
.XIkkFtDnPU::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.XIkkFtDnPU:-ms-input-placeholder {
  color: #999;
}
.XIkkFtDnPU::-webkit-input-placeholder {
  color: #999;
}
.XIkkFtDnPU:focus {
  border-color: #3898ec;
  outline: 0;
}
textarea.XIkkFtDnPU {
  height: auto;
  resize: none;
}
.lyPIYfHzOX:before,
.lyPIYfHzOX:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.lyPIYfHzOX:after {
  clear: both;
}
.lyPIYfHzOX ul {
  overflow: hidden;
}
.YIhelMzBme {
  position: relative;
}
.YIhelMzBme:before,
.YIhelMzBme:after {
  content: " ";
  display: table;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 2;
}
.YIhelMzBme:after {
  clear: both;
}
.WinxVfdQYs {
  position: relative;
}
.RbpPPZPwnq {
  position: relative;
  display: block;
  overflow: hidden;
}
.CPRnBuWRud {
  position: relative;
  display: none;
}
.UVQLbrodYO {
  display: block;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.abAbDDOBHt {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  color: rgba(17, 17, 17, 0.75);
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}

h1 {
  margin-top: 0px;
  margin-bottom: 21px;
  color: #111;
  font-size: 54px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

h2 {
  margin-top: 0px;
  margin-bottom: 21px;
  color: #111;
  font-size: 42px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #111;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h4 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #111;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h5 {
  margin-top: 0px;
  margin-bottom: 7px;
  color: #111;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 7px;
  color: #111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 28px;
}

a {
  color: #111;
  font-weight: 700;
  text-decoration: none;
}

ul {
  display: -ms-grid;
  display: grid;
  margin-top: 42px;
  margin-bottom: 42px;
  padding-left: 28px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

img {
  display: inline-block;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.nFeowPJHNO {
  padding-top: 112px;
  padding-bottom: 112px;
  -webkit-perspective: 200px;
  perspective: 200px;
}

.nFeowPJHNO.axiSedxrFP {
  color: hsla(0, 0%, 100%, 0.8);
}

.nFeowPJHNO.gNhFRSunMK {
  padding-bottom: 0px;
}

.nFeowPJHNO.eBZalHBABt {
  padding-top: 84px;
  padding-bottom: 84px;
}

.nFeowPJHNO.JvsGcffCdA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tIhfTqlDOI {
  width: 100%;
  max-width: 1272px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.axiSedxrFP {
  background-color: #093a3e;
  background-color: #093a3e;
opacity: 1;
background-image:  linear-gradient(135deg, #093d41 25%, transparent 25%), linear-gradient(225deg, #093d41 25%, transparent 25%), linear-gradient(45deg, #093d41 25%, transparent 25%), linear-gradient(315deg, #093d41 25%, #093a3e 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 20px 20px;
background-repeat: repeat;
  color: #fff;
}

.rydXHbLnyY {
  background-color: #d2f1e4;
  background-color: #d2f1e4;
opacity: 1;
background-image:  linear-gradient(135deg, #c5eedd 25%, transparent 25%), linear-gradient(225deg, #c5eedd 25%, transparent 25%), linear-gradient(45deg, #c5eedd 25%, transparent 25%), linear-gradient(315deg, #c5eedd 25%, #d2f1e4 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 20px 20px;
background-repeat: repeat;
}

.lnXKMfukWL {
  background-color: #fff;
}

.KCkSItTiTG {
  font-size: 24px;
  line-height: 35px;
  font-weight: 400;
  letter-spacing: -0.01em;
}

.KCkSItTiTG.CXUIeGxjsR {
  max-width: 50%;
}

.YsvovdTZiz {
  font-size: 16px;
  line-height: 24px;
}

.YsvovdTZiz.wzHdaAzICU {
  opacity: 0.75;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  font-weight: 500;
}

.YsvovdTZiz.wzHdaAzICU:hover {
  opacity: 1;
}

.YsvovdTZiz.ncIaGYTcHO {
  margin-bottom: 7px;
}

.YsvovdTZiz.beeHQgFmGw {
  margin-top: 14px;
}

.wprAdAXlyx {
  margin-bottom: 0px;
}

.KOzFxcTyWr {
  padding: 14px 21px;
  border-radius: 7px;
  background-color: #ef3d3d;
  box-shadow: inset 0 0 0 200px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.KOzFxcTyWr:hover {
  box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.1);
}

.KOzFxcTyWr.qfGPCCGuaG {
  padding: 10px 14px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.KOzFxcTyWr.axiSedxrFP {
  background-color: #093a3e;
}

.KOzFxcTyWr.rydXHbLnyY {
  background-color: #d2f1e4;
  color: #111;
}

.KOzFxcTyWr.CkZhujiCnv {
  color: #111;
}

.KOzFxcTyWr.lnXKMfukWL {
  background-color: #fff;
  color: #111;
}

.IqnxMfJyub {
  margin-bottom: 0px;
}

.SHDcRWiNlP {
  min-height: 56px;
  margin-bottom: 0px;
  padding: 14px 21px;
  border-style: solid;
  border-width: 2px;
  border-color: #111;
  border-radius: 7px;
  box-shadow: 1px 1px 0 2px rgba(17, 17, 17, 0);
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  font-size: 16px;
  line-height: 24px;
}

.SHDcRWiNlP:focus {
  border-color: #111;
  box-shadow: 1px 1px 0 2px rgba(17, 17, 17, 0.25);
}

.SHDcRWiNlP.qfGPCCGuaG {
  min-height: 44px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.SHDcRWiNlP.UGdPthfkOB {
  min-height: 200px;
}

.iaUzCiTyyJ {
  padding-top: 84px;
  padding-bottom: 84px;
}

.CNZhsdiPIf {
  margin-bottom: 21px;
  color: #111;
  font-size: 72px;
  line-height: 72px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.CNZhsdiPIf.wprAdAXlyx {
  margin-bottom: 0px;
}

.ckXLWEmbAB {
  background-color: #ef3d3d;
}

.LQYnZTgSid {
  color: #111;
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
}

.gKYafqALvc {
  color: #fff;
}

.CkZhujiCnv {
  background-color: #f8f6f2;
}

.efHhLYAKYj {
  font-size: 14px;
  line-height: 20px;
}

.efHhLYAKYj.beeHQgFmGw {
  margin-top: 14px;
}

.CpmkKwAIAG {
  font-size: 14px;
  font-weight: 600;
}

.CpmkKwAIAG.wzHdaAzICU {
  margin-right: 7px;
  margin-left: 7px;
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.CpmkKwAIAG.wzHdaAzICU:hover {
  opacity: 1;
}

.TPmqgqZCfZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.AAjzzbJVfo {
  margin-bottom: 56px;
  grid-column-gap: 56px;
  grid-row-gap: 35px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.iSWNEEcKmW {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.AXYicwLUBV {
  margin-bottom: 14px;
}

.qPMwNLqTVW {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.CcgBUnvfcM {
  height: 28px;
  background-position: 0px 0px;
  background-size: auto;
}

.CcgBUnvfcM.aDgBnekKMB {
  -webkit-transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  transform: rotateX(180deg) rotateY(0deg) rotateZ(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}



.HQYSfKslHU {
  text-align: center;
}

.oXQawlQIXu {
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.MxthsaFyMc {
  width: 100%;
  max-width: 580px;
}

.MxthsaFyMc.XsPGQBJgjb {
  max-width: 474px;
}

.MxthsaFyMc.qsunUZhgUX {
  max-width: 430px;
}

.fhuYmwWkHk {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.VbkAiOxZdZ {
  border-radius: 7px;
}

.KLaBGnuBEC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.upHlvPzvxS {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.tvrOCuvaWQ {
  position: relative;
  overflow: hidden;
  height: 2px;
}

.TKGDIRCFnq {
  width: 0%;
  height: 2px;
  background-color: #111;
}

.cOcFQEuxTp {
  margin-top: 28px;
}

.cOcFQEuxTp.TPmqgqZCfZ.FkSuvogZjE {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.PGBGmduQNv {
  margin-bottom: 56px;
}

.PGBGmduQNv.goVqumnwJO {
  margin-bottom: 84px;
}

.UwyzUsEYBm {
  width: 100%;
  max-width: 792px;
}

.UwyzUsEYBm.XsPGQBJgjb {
  max-width: 680px;
}

.FkSuvogZjE {
  margin-right: auto;
  margin-left: auto;
}

.XTEdmVeDSm {
  margin-bottom: 21px;
}

.iPGAGufSJt {
  width: 100%;
  max-width: 262px;
}

.iPGAGufSJt.XSpHbMlWsm {
  max-width: 368px;
}

.JIUkgJpypx {
  padding-left: 28px;
  border-left: 1px solid rgba(17, 17, 17, 0.2);
}

.ePwVkStdYI {
  margin-bottom: 21px;
  color: #111;
  font-size: 42px;
  line-height: 49px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.ePwVkStdYI.oxPxFoenPb {
  margin-bottom: 7px;
}

.ePwVkStdYI.wprAdAXlyx {
  margin-bottom: 0px;
}

.ePwVkStdYI.gKYafqALvc {
  color: #fff;
}

.cfbFuXfSPg {
  color: #111;
  font-weight: 700;
}

.cfbFuXfSPg.gKYafqALvc {
  color: #fff;
}

.TNQxEmgWQp {
  color: #ef3d3d;
}

.TTVgToJBMJ {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.TTVgToJBMJ.rGJrHtWNRz {
  margin-top: 35px;
}

.yAlKmmkqbc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hqXbedvfZI {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 28px;
  height: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 1px 0 0 #111;
}

.BYImFsSfWU {
  margin-bottom: 0px;
  margin-left: 14px;
}

.NhLeZqKXJE {
  width: 100%;
  height: 1px;
  background-color: rgba(17, 17, 17, 0.2);
}

.NhLeZqKXJE.goVqumnwJO {
  margin-top: 7px;
  margin-bottom: 7px;
}

.DLRVlfTpuV {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 21px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nTLDWuwlrZ {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.iEcaCctDNU {
  width: 100%;
  max-height: 580px;
}

.BoPuxQtvdM {
  position: relative;
  margin-bottom: 84px;
}

.qVENYoWUdY {
  max-width: 992px;
  margin-right: auto;
  margin-left: auto;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.FxWHDwkVjQ {
  font-size: 120px;
  line-height: 120px;
}

.fpXMpOBYwR {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.PFLlDqtqwI {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.SAeWytidNB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 7px;
  background-color: #fff;
}

.zxLcDTSWKX {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.yxZDtjokBo {
  display: -ms-grid;
  display: grid;
  max-width: 1680px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.HpMTtTxFhR {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 84px;
  grid-row-gap: 84px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pmkoLQBoQp {
  margin-bottom: 21px;
  color: #111;
  font-size: 54px;
  line-height: 60px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.pmkoLQBoQp.wprAdAXlyx {
  margin-bottom: 0px;
}

.WCZVSetRtm {
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.WEuGltDVLU {
  grid-row-gap: 35px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.oxkSALbybk {
  padding: 28px;
  border-radius: 7px;
  background-color: #fff;
}

.vpYGEKBXCQ {
  display: -ms-grid;
  display: grid;
  margin-top: 56px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  -ms-grid-columns: 70px 1fr;
  grid-template-columns: 70px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.kpPKWghmQI {
  max-height: 70px;
  border-radius: 50%;
}

.ebEfHJifUN {
  position: relative;
}

.ebEfHJifUN.FkSuvogZjE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.VDHKxSPvTl {
  padding-top: 14px;
  padding-bottom: 14px;
}

.oxPxFoenPb {
  margin-bottom: 7px;
}

.zjbnhCnpfM {
  grid-column-gap: 28px;
  grid-row-gap: 0px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.IMntyoxCLf {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.xoynWfpUMV {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 50%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(0, 0, 0, 0.7))
  );
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.7));
}

.LJTRaTHWWx {
  position: absolute;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 42px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  color: #fff;
}

.gZiaiVbxlC {
  position: relative;
  width: 100%;
  max-width: 368px;
}

.gZiaiVbxlC.XsPGQBJgjb {
  max-width: 233px;
}

.gZiaiVbxlC.XSpHbMlWsm {
  max-width: 474px;
}

.OmMaXLQZBm {
  overflow: hidden;
  border-style: solid;
  border-width: 2px;
  border-color: #111;
  border-radius: 7px;
  background-color: #fff;
  font-size: 13px;
  line-height: 20px;
}

.OmMaXLQZBm.aDMYFIBEOH {
  box-shadow: 3px 3px 0 0 #111;
}

.vflMrEVtws {
  padding: 21px;
}

.wIWxvFmbvO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 21px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wIWxvFmbvO.ckXLWEmbAB {
  color: #fff;
}

.jpMQduhEmm {
  color: #111;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.jpMQduhEmm.gKYafqALvc {
  color: #fff;
}

.jpMQduhEmm.HQYSfKslHU {
  margin-bottom: 14px;
  font-size: 18px;
  line-height: 28px;
}

.PMNQJhPVJZ {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ElTfOQZXRq {
  color: #111;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.njqdajgCEU {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.njqdajgCEU.UOReUcddCn {
  margin-top: 0px;
}

.SDPpzUstGC {
  padding: 3px 7px 4px;
  border-radius: 3px;
  background-color: #093a3e;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.SDPpzUstGC.lnXKMfukWL {
  background-color: #fff;
  color: #111;
}

.SDPpzUstGC.EXIkppqyfX {
  margin-left: 7px;
}

.SDPpzUstGC.ckXLWEmbAB {
  background-color: #ef3d3d;
}

.dHLKclxYwp {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.RjQXxmpJLw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.pgGChflHNf {
  position: relative;
  margin-right: 21px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.pgGChflHNf.qfGPCCGuaG {
  margin-right: 14px;
}

.OQCWpmszQv {
  color: #111;
  font-weight: 600;
}

.OQCWpmszQv.EXIkppqyfX.gKYafqALvc {
  color: #fff;
}

.EXIkppqyfX {
  margin-left: 7px;
}

.UlIluBHXJC {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.fRYKwtWZwE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 580px;
  padding: 28px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f8f6f2;
}

.ipPdGgaQpx {
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.FgFdkaZmdJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 35px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 7px;
  background-color: #f8f6f2;
}

.SbtBaIvjpB {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.rkUNYmjprE {
  margin-right: -14px;
  margin-bottom: 35px;
  margin-left: -14px;
}

.MBxTXnOdYo {
  display: -ms-grid;
  display: grid;
  padding: 84px 56px;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 56px;
  grid-row-gap: 56px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 7px;
  background-color: #f8f6f2;
}

.RGATfstBBb {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mfMOGPljXP {
  padding: 0px;
  border-radius: 7px;
  background-color: #fff;
}

.qElmIUOMDI {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 21px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.diFNdpNXHx {
  padding: 0px 21px 21px;
}

.DWjysNzkrV {
  margin-bottom: 0px;
}

@media screen and (max-width: 991px) {
  ul {
    margin-top: 35px;
    margin-bottom: 35px;
  }

  .CNZhsdiPIf {
    font-size: 54px;
    line-height: 60px;
  }

  .CNZhsdiPIf.wprAdAXlyx {
    font-size: 72px;
    line-height: 72px;
  }

  .AAjzzbJVfo {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .qPMwNLqTVW {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .oXQawlQIXu {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PGBGmduQNv.goVqumnwJO {
    margin-bottom: 70px;
  }

  .UwyzUsEYBm.XsPGQBJgjb {
    max-width: 580px;
  }

  .XTEdmVeDSm {
    margin-bottom: 14px;
  }

  .qVENYoWUdY {
    grid-column-gap: 28px;
  }

  .FxWHDwkVjQ {
    font-size: 112px;
    line-height: 112px;
  }

  .fpXMpOBYwR {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  .PFLlDqtqwI {
    max-width: 373px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .zxLcDTSWKX {
    justify-items: center;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .yxZDtjokBo {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .WCZVSetRtm {
    max-width: 580px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .WEuGltDVLU {
    grid-row-gap: 28px;
  }

  .fRYKwtWZwE {
    min-height: 368px;
  }

  .ipPdGgaQpx {
    max-width: 474px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .SbtBaIvjpB {
    max-width: 474px;
    margin-right: auto;
    margin-left: auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .MBxTXnOdYo {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    margin-bottom: 14px;
    font-size: 40px;
    line-height: 48px;
  }

  h2 {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 42px;
  }

  h3 {
    font-size: 28px;
    line-height: 36px;
  }

  h6 {
    font-size: 16px;
    line-height: 24px;
  }

  p {
    margin-bottom: 24px;
  }

  ul {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .nFeowPJHNO {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .KCkSItTiTG {
    font-size: 20px;
    line-height: 28px;
  }

  .SHDcRWiNlP {
    padding-right: 14px;
    padding-left: 14px;
  }

  .CNZhsdiPIf {
    font-size: 40px;
    line-height: 48px;
  }

  .CNZhsdiPIf.wprAdAXlyx {
    font-size: 54px;
    line-height: 60px;
  }

  .LQYnZTgSid {
    font-size: 24px;
    line-height: 32px;
  }

  .qPMwNLqTVW {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .cOcFQEuxTp {
    margin-top: 21px;
  }

  .PGBGmduQNv {
    margin-bottom: 35px;
  }

  .PGBGmduQNv.goVqumnwJO {
    margin-bottom: 56px;
  }

  .ePwVkStdYI {
    margin-bottom: 14px;
    font-size: 32px;
    line-height: 42px;
  }

  .BoPuxQtvdM {
    margin-bottom: 56px;
  }

  .qVENYoWUdY {
    grid-row-gap: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PFLlDqtqwI {
    grid-row-gap: 28px;
  }

  .zxLcDTSWKX {
    grid-row-gap: 28px;
  }

  .pmkoLQBoQp {
    margin-bottom: 14px;
    font-size: 40px;
    line-height: 48px;
  }

  .WCZVSetRtm {
    grid-row-gap: 28px;
  }

  .vpYGEKBXCQ {
    margin-top: 28px;
  }

  .zjbnhCnpfM {
    grid-column-gap: 21px;
  }

  .LJTRaTHWWx {
    padding: 35px;
  }

  .SbtBaIvjpB {
    grid-row-gap: 28px;
  }

  .rkUNYmjprE {
    margin-right: -7px;
    margin-left: -7px;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    margin-bottom: 7px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0em;
  }

  h2 {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 0em;
  }

  h3 {
    font-size: 24px;
    line-height: 28px;
  }

  h4 {
    margin-bottom: 7px;
    font-size: 18px;
    line-height: 24px;
  }

  h5 {
    font-size: 18px;
    line-height: 28px;
  }

  ul {
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 24px;
    grid-row-gap: 7px;
  }

  .nFeowPJHNO {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .tIhfTqlDOI {
    padding-right: 21px;
    padding-left: 21px;
  }

  .KCkSItTiTG {
    font-size: 18px;
    line-height: 28px;
  }

  .KCkSItTiTG.CXUIeGxjsR {
    max-width: 100%;
    margin-bottom: 14px;
  }

  .YsvovdTZiz {
    font-size: 14px;
    line-height: 20px;
  }

  .iaUzCiTyyJ {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .CNZhsdiPIf {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0em;
  }

  .CNZhsdiPIf.wprAdAXlyx {
    font-size: 40px;
    line-height: 48px;
  }

  .LQYnZTgSid {
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
  }

  .CpmkKwAIAG.wzHdaAzICU {
    margin-right: 0px;
    margin-left: 0px;
  }

  .AAjzzbJVfo {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .qPMwNLqTVW {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .HQYSfKslHU.wprAdAXlyx.cpRVhNoEpS {
    font-size: 20px;
    line-height: 28px;
  }

  .oXQawlQIXu {
    grid-row-gap: 35px;
  }

  .cOcFQEuxTp {
    margin-top: 14px;
  }

  .cOcFQEuxTp.TPmqgqZCfZ.FkSuvogZjE {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .PGBGmduQNv.goVqumnwJO {
    margin-bottom: 35px;
  }

  .XTEdmVeDSm {
    height: 70px;
  }

  .ePwVkStdYI {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0em;
  }

  .TTVgToJBMJ.rGJrHtWNRz {
    margin-top: 28px;
  }

  .BYImFsSfWU {
    font-size: 16px;
    line-height: 24px;
  }

  .nTLDWuwlrZ {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .BoPuxQtvdM {
    margin-bottom: 28px;
  }

  .fpXMpOBYwR {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .SAeWytidNB {
    padding: 21px;
  }

  .HpMTtTxFhR {
    grid-row-gap: 56px;
  }

  .pmkoLQBoQp {
    margin-bottom: 7px;
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    letter-spacing: 0em;
  }

  .WCZVSetRtm {
    grid-row-gap: 21px;
  }

  .WEuGltDVLU {
    grid-row-gap: 21px;
  }

  .oxkSALbybk {
    padding: 21px;
  }

  .vpYGEKBXCQ {
    margin-top: 21px;
    -ms-grid-columns: 56px 1fr;
    grid-template-columns: 56px 1fr;
  }

  .zjbnhCnpfM {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .LJTRaTHWWx {
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .OmMaXLQZBm {
    border-radius: 4px;
    font-size: 12px;
  }

  .vflMrEVtws {
    padding: 14px;
  }

  .wIWxvFmbvO.axiSedxrFP {
    padding: 7px 14px;
  }

  .jpMQduhEmm {
    font-size: 13px;
    line-height: 20px;
  }

  .PMNQJhPVJZ {
    grid-column-gap: 7px;
  }

  .ElTfOQZXRq {
    font-size: 18px;
    line-height: 28px;
  }

  .njqdajgCEU {
    margin-top: 7px;
  }

  .SDPpzUstGC {
    padding-bottom: 3px;
    font-size: 9px;
    line-height: 12px;
  }

  .SDPpzUstGC.EXIkppqyfX {
    margin-left: 4px;
  }

  .SDPpzUstGC.ckXLWEmbAB {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .pgGChflHNf {
    margin-right: 14px;
  }

  .UlIluBHXJC {
    display: -ms-grid;
    display: grid;
    grid-row-gap: 21px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .fRYKwtWZwE {
    min-height: auto;
    padding: 0px;
    background-color: transparent;
  }

  .FgFdkaZmdJ {
    padding: 21px;
  }

  .rkUNYmjprE {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .MBxTXnOdYo {
    padding: 0px;
    grid-row-gap: 28px;
    background-color: transparent;
  }

  .LrWhdHAKSt {
    overflow: visible;
  }

  .qElmIUOMDI {
    padding: 14px;
  }

  .diFNdpNXHx {
    padding-right: 14px;
    padding-bottom: 14px;
    padding-left: 14px;
  }
}
.open {
  display: flex !important;
}
.lpmiTCFhsd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
  /* background-color: var(--secondary-light); */
  color: #d7efd9;
  /* padding: 0 40px; */
}
.atbUevjMMy {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}
.atbUevjMMy a {
  font-size: 30px;
  text-decoration: none;
  color: #d7efd9;
  font-weight: 900;
}
.rIEenSoLUM {
  display: flex;
  justify-content: end;
  width: 700px;
  /* padding: 0 40px; */
}
.rIEenSoLUM a {
  color: #d7efd9;
  text-decoration: none;
  font-weight: 600;
}
.rIEenSoLUM ul {
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 40px;
  flex-direction: row;
}
.nFwUCswWCW {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  z-index: 9999;
}
.nFwUCswWCW span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #d7efd9;
}
.nFwUCswWCW::before,
.nFwUCswWCW::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #d7efd9;
  transition: all 0.5s ease 0s;
}

.nFwUCswWCW::before {
  top: 0;
}
.nFwUCswWCW::after {
  bottom: 0;
}

.DzsGaZwUpw {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hUfhiZioao {
  width: 100%;
  z-index: 9999;
}
@media (max-width: 991px) {
  .nFwUCswWCW {
    display: flex;
  }

  .rIEenSoLUM {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    overflow-y: auto;
    /* padding: 50px 40px; */
    background-color: #093a3e;
    background-color: #093a3e;
opacity: 1;
background-image:  linear-gradient(135deg, #093d41 25%, transparent 25%), linear-gradient(225deg, #093d41 25%, transparent 25%), linear-gradient(45deg, #093d41 25%, transparent 25%), linear-gradient(315deg, #093d41 25%, #093a3e 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 20px 20px;
background-repeat: repeat;
    animation: nfrnrAnimation 0.5s;
    font-size: 30px;
  }

  .rIEenSoLUM ul {
    flex-direction: column;
    row-gap: 90px;
    align-items: center;
  }
}

@keyframes nfrnrAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes nfrnr2Animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.GiCbayfXuU {
  width: 100%;
  /* background-color: #377bfa; */
}
.qIBXLnNNSS {
  width: 100%;
  background-color: #093a3e;
  background-color: #093a3e;
opacity: 1;
background-image:  linear-gradient(135deg, #093d41 25%, transparent 25%), linear-gradient(225deg, #093d41 25%, transparent 25%), linear-gradient(45deg, #093d41 25%, transparent 25%), linear-gradient(315deg, #093d41 25%, #093a3e 25%);
background-position:  10px 0, 10px 0, 0 0, 0 0;
background-size: 20px 20px;
background-repeat: repeat;
  margin-left: auto;
  margin-right: auto;
  /* position: fixed; */
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  z-index: 9999;
  padding-top: 10px;
}
