html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

footer,
main,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;

  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.BsChzAUzGn {
  max-width: 100%;
  display: inline-block;
}
.nWJATpQres {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

h1,
h3,
h4,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.kyuHQpPbrj {
  margin: 0 0 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.nWBIsMsJkJ {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.nWBIsMsJkJ:-moz-placeholder {
  color: #999;
}
.nWBIsMsJkJ::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.nWBIsMsJkJ:-ms-input-placeholder {
  color: #999;
}
.nWBIsMsJkJ::-webkit-input-placeholder {
  color: #999;
}
.nWBIsMsJkJ:focus {
  border-color: #3898ec;
  outline: 0;
}
textarea.nWBIsMsJkJ {
  height: auto;
  resize: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.juPxcDNUOq {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  color: #40496b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 28px;
  color: #29335c;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #29335c;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #29335c;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 7px;
  color: #29335c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

p {
  margin-bottom: 28px;
}

a {
  color: #29335c;
  font-weight: 600;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 7px;
  font-weight: 700;
}

.EVrcuBASja {
  position: relative;
  padding-top: 112px;
  padding-bottom: 112px;
  direction: ltr;
}

.EVrcuBASja.blIYHoPrjv {
  padding-bottom: 0px;
}

.EVrcuBASja.ebwsDjKNyl {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 28px;
  padding-left: 28px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.EVrcuBASja.ebwsDjKNyl.tPtgQLivLO {
  direction: ltr;
}

.EVrcuBASja.BBuUDqZiIC {
  padding-top: 0px;
}

.EVrcuBASja.fNTWyDycyN {
  padding-top: 84px;
  padding-bottom: 84px;
}

.uJzPTdqvVw {
  max-width: 1328px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.uJzPTdqvVw.gecDyxiiwU {
  max-width: 1106px;
}

.uJzPTdqvVw.dmOZRWJLep {
  position: relative;
  z-index: 2;
}

.XQAcviYgFx {
  background-color: #29335c;
  color: #fff;
}

.lSiirVidQq {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.lSiirVidQq.nFlAvwTWWa {
  opacity: 0.5;
}

.RrRiRcBaZZ {
  background-color: #c1e8ee;
  background-color: #c1e8ee;
  opacity: 1;
  background: repeating-linear-gradient(
    45deg,
    #b2e5ed,
    #b2e5ed 5px,
    #c1e8ee 5px,
    #c1e8ee 25px
  );
}

.tPtgQLivLO {
  background-color: #eff9fb;
}

.YrkojXQduQ {
  background-color: #fff;
}

.vOrKgcMWNa {
  margin-bottom: 28px;
  color: #29335c;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.vOrKgcMWNa.cnpAVTmHMQ {
  position: relative;
  z-index: 2;
  margin-bottom: -4px;
}

.TucnQLWExn {
  margin-bottom: 28px;
  color: #29335c;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -0.02em;
}

.TucnQLWExn.IjSVefConf {
  position: -webkit-sticky;
  position: sticky;
  top: 112px;
}

.zCCrsWhokY {
  margin-bottom: 0px;
}

.uunGkLcRgc {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.PYLaFmUqpG {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.PYLaFmUqpG.lSiirVidQq {
  font-size: 14px;
  line-height: 28px;
}

.PYLaFmUqpG.oKtgXTSyjT {
  margin-bottom: 24px;
  opacity: 0.25;
}

.zNUQNjbIBs {
  padding: 14px 24px;
  border-radius: 200px;
  background-color: #a1ec83;
  box-shadow: inset 0 10px 3px 100px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #29335c;
  font-weight: 600;
  text-align: center;
}

.zNUQNjbIBs:hover {
  box-shadow: inset 0 10px 3px 100px rgba(0, 0, 0, 0.05);
}

.zNUQNjbIBs.sMHdBGCxra {
  padding: 19px 36px;
  font-size: 20px;
  line-height: 30px;
}

.zNUQNjbIBs.sMHdBGCxra.YrkojXQduQ {
  background-color: #fff;
}

.zNUQNjbIBs.YrkojXQduQ {
  background-color: #fff;
}

.zNUQNjbIBs.RrRiRcBaZZ {
  background-color: #c1e8ee;
}

.qjjpwmifyo {
  margin-bottom: 0px;
}

.foRcUWfhYR {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 28px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.YilBgpzGIB {
  height: 56px;
  margin-bottom: 0px;
  padding: 14px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(41, 51, 92, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-size: 18px;
  line-height: 28px;
}

.YilBgpzGIB:focus {
  border-color: #29335c;
}

.YilBgpzGIB::-webkit-input-placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.YilBgpzGIB:-ms-input-placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.YilBgpzGIB::-ms-input-placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.YilBgpzGIB::placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.YilBgpzGIB.sMHdBGCxra {
  height: 68px;
  padding: 19px 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.YilBgpzGIB.sMHdBGCxra::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 30px;
}

.YilBgpzGIB.sMHdBGCxra:-ms-input-placeholder {
  font-size: 20px;
  line-height: 30px;
}

.YilBgpzGIB.sMHdBGCxra::-ms-input-placeholder {
  font-size: 20px;
  line-height: 30px;
}

.YilBgpzGIB.sMHdBGCxra::placeholder {
  font-size: 20px;
  line-height: 30px;
}

.YilBgpzGIB.QzoHqvcTgM {
  min-height: 200px;
}

.hxcLuMbTxy {
  padding: 6px 18px;
  border-radius: 100px;
}

.ERbkqVttON {
  color: #fff;
}

.sbLYFBUFyZ {
  padding-top: 84px;
  padding-bottom: 56px;
}

.sbLYFBUFyZ.XQAcviYgFx {
  border-bottom: 4px solid #c1e8ee;
}

.krsvOCPbXv {
  margin-bottom: 140px;
  grid-column-gap: 84px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.YfIJAyPime {
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.dbroSeThEc {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.dbroSeThEc:hover {
  opacity: 1;
}

.dbroSeThEc.lxVByiDmhX {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.udWebJVxHO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.aawPADSLGJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.axwOwAliFT {
  margin-right: 28px;
}

.FVeTlzJrnA {
  position: relative;
  max-width: 1270px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px;
}

.SZVqfQOkXQ {
  color: #29335c;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.SZVqfQOkXQ.RhHLREUeIe {
  max-width: 622px;
  margin-bottom: 0px;
}

.SZVqfQOkXQ.ERbkqVttON {
  color: #fff;
}

.YXITByDRVg {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.vYlfBwkaue {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.BEBBeROQGx {
  padding-top: 112px;
}

.qtKMJSedOy {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 28px;
  grid-row-gap: 84px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.qtKMJSedOy.RzhVbftdCP {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.qtKMJSedOy.EeOGDwmvqk {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.MEzVZvHMhh {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
}

.MEzVZvHMhh.JooQSuekOV {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.STGYZTsKVQ {
  width: 100%;
  max-width: 497px;
  direction: ltr;
}

.STGYZTsKVQ.TqSyTtRhDx {
  margin-right: auto;
  margin-left: auto;
}

.STGYZTsKVQ.TqSyTtRhDx.YlXwzneMrN {
  padding-right: 28px;
  padding-left: 28px;
}

.STGYZTsKVQ.dCkjAwtPHL {
  max-width: 650px;
}

.STGYZTsKVQ.dCkjAwtPHL.TqSyTtRhDx {
  margin-right: auto;
  margin-left: auto;
}

.STGYZTsKVQ.dmOZRWJLep {
  position: relative;
}

.STGYZTsKVQ.gecDyxiiwU {
  max-width: 387px;
}

.kvHAbdOyrW {
  position: relative;
}

.CKOQqPDcKJ {
  position: relative;
  z-index: 2;
}

.EACVsYjnPu {
  max-width: 418px;
  min-height: 532px;
}

.rvQoXuCOjR {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  width: 80%;
  height: 100%;
}

.rvQoXuCOjR.BsmAmFzxUi {
  left: 0px;
  right: auto;
}

.uGHUgrwLVt {
  position: absolute;
  right: 28px;
  bottom: 28px;
  z-index: 2;
}

.uGHUgrwLVt.BsmAmFzxUi {
  left: 28px;
  right: auto;
}

.cquvoyvBzU {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cquvoyvBzU.YlXwzneMrN {
  min-width: 280px;
  padding: 14px 28px 14px 21px;
  background-color: #fff;
}

.cquvoyvBzU.RzhVbftdCP {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.EBkrFXtbAl {
  margin-right: 14px;
}

.EBkrFXtbAl.XeuSboAujY {
  margin-right: 28px;
}

.VHYiTAIXcW {
  max-height: 42px;
}

.VHYiTAIXcW.cquvoyvBzU {
  margin-right: 7px;
}

.JPEqdcDWMF {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.blIYHoPrjv {
  padding-bottom: 0px;
}

.JEbTjGPZif {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.FQAdWhUAcQ {
  height: 2px;
  margin-left: 28px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(41, 51, 92, 0.1);
}

.FQAdWhUAcQ.YrkojXQduQ {
  background-color: rgba(255, 255, 255, 0.1);
}

.IXxbYaRFQx {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
}

.GGJJvzVesI {
  max-width: 413px;
}

.GGJJvzVesI.ucdelgpvvw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.zbZffKqxrf {
  margin-bottom: 28px;
}

.FcgOcoKCyL {
  max-width: 1328px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.FcgOcoKCyL.PMnlmvnAZF {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lhFVILBOfS {
  max-width: 320px;
  padding: 28px;
  background-color: #fff;
  color: #40496b;
}

.ywTQEFNymm {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 84px;
  grid-row-gap: 84px;
  -ms-grid-columns: 1fr 0.66fr;
  grid-template-columns: 1fr 0.66fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.HFmqhWwLZv {
  text-align: center;
}

.fsKYRIukZO {
  margin-bottom: 56px;
}

.BwhEgFPDWB {
  grid-column-gap: 84px;
  grid-row-gap: 54px;
}

.oXxkBdkajs {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.IcCSTGtnYx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.YYBfiOKgwH {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 14px;
  background-color: #a1ec83;
}

.CRbnyDpeiV {
  margin-top: 28px;
}

.TlpEoJPlNI {
  position: relative;
}

.CqMSBdIYQe {
  padding: 56px 35px;
  background-color: #fff;
  color: #40496b;
}

.CqMSBdIYQe.QhryMSooMw {
  border-bottom: 4px solid #c1e8ee;
}

.CqMSBdIYQe.fNTWyDycyN {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.pUvwJNANAr {
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.pUvwJNANAr.fsKYRIukZO {
  margin-bottom: 56px;
}

.GIDuSNmdir {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
}

.jCRdGHIMIO {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.jCRdGHIMIO.dCkjAwtPHL {
  width: 100%;
}

.VsnnhHFerh {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 56px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.NRIiSQSpIe {
  padding-bottom: 112px;
}

.NRIiSQSpIe.blIYHoPrjv {
  padding-bottom: 0px;
}

.DGXHhKchjz {
  width: 100%;
  max-width: 608px;
}

.DGXHhKchjz.TqSyTtRhDx {
  margin-right: auto;
  margin-left: auto;
}

.DGXHhKchjz.dCkjAwtPHL {
  max-width: 740px;
}

.nEWSqYTqjv {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  border-bottom: 1px dotted rgba(41, 51, 92, 0.2);
}

.BSCOvnQZLx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px dotted rgba(41, 51, 92, 0.2);
}

.ACZqtsgeDN {
  margin-left: 14px;
}

.cOrVrRkQjB {
  position: relative;
  padding: 56px;
  border-top: 4px solid #a1ec83;
  background-color: #fff;
}

.cOrVrRkQjB.sMHdBGCxra {
  top: -56px;
  padding-top: 84px;
  padding-bottom: 84px;
}

.JGDiMWNQBj {
  position: relative;
  margin-top: 84px;
}

.KCBfFqSxXs {
  position: relative;
  bottom: 18px;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.xohQkVaRgD {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.ShdjLKXjWu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.FneSTqrOMS {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgba(41, 51, 92, 0.2);
}

.AjvWZKMEJb {
  width: 1px;
  min-height: 56px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(41, 51, 92, 0.2);
}

.aLiHSXMYjQ {
  margin-bottom: 54px;
}

.ZwDwUDWpOA {
  margin-top: 56px;
  margin-bottom: 56px;
}

.YBXHOlGUUd {
  -o-object-fit: cover;
  object-fit: cover;
  height: -webkit-fill-available;
}

.fPHXShmOeA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 84px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.ApUQhoLMTX {
  margin-bottom: 0px;
}

.TFOTwuPBSS {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lxVByiDmhX {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dmOZRWJLep {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .EVrcuBASja {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .uJzPTdqvVw {
    max-width: 684px;
  }

  .uJzPTdqvVw.gecDyxiiwU {
    max-width: 684px;
  }

  .TucnQLWExn.IjSVefConf {
    position: relative;
    top: 0px;
  }

  .krsvOCPbXv {
    margin-bottom: 112px;
    grid-column-gap: 28px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .SZVqfQOkXQ.RhHLREUeIe {
    margin-bottom: 28px;
    text-align: center;
  }

  .YXITByDRVg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .BEBBeROQGx {
    padding-top: 0px;
  }

  .qtKMJSedOy {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .qtKMJSedOy.EeOGDwmvqk {
    grid-row-gap: 28px;
  }

  .STGYZTsKVQ {
    margin-right: auto;
    margin-left: auto;
  }

  .STGYZTsKVQ.dCkjAwtPHL.dmOZRWJLep {
    position: relative;
    z-index: 2;
  }

  .EACVsYjnPu {
    min-height: auto;
  }

  .cRQENLFTUU {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .cquvoyvBzU.RzhVbftdCP {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .EBkrFXtbAl.XeuSboAujY {
    margin-right: 0px;
    margin-bottom: 28px;
  }

  .FcgOcoKCyL {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .FcgOcoKCyL.PMnlmvnAZF {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .hdIXPShoKX {
    /* max-height: 400px; */
    display: none;
  }

  .ywTQEFNymm {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .VsnnhHFerh {
    padding-right: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .NRIiSQSpIe {
    padding-bottom: 0px;
  }

  .fPHXShmOeA {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .ApUQhoLMTX {
    margin-bottom: 28px;
  }

  .TFOTwuPBSS {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;
  }

  h3 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 32px;
  }

  .EVrcuBASja {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .uJzPTdqvVw {
    max-width: 488px;
  }

  .uJzPTdqvVw.gecDyxiiwU {
    max-width: 488px;
  }

  .vOrKgcMWNa {
    margin-bottom: 14px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }

  .TucnQLWExn {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }

  .TucnQLWExn.ZwDwUDWpOA {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .uunGkLcRgc {
    font-size: 20px;
    line-height: 30px;
  }

  .krsvOCPbXv {
    margin-bottom: 56px;
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .udWebJVxHO {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .aawPADSLGJ {
    margin-bottom: 28px;
  }

  .SZVqfQOkXQ {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .qtKMJSedOy {
    grid-row-gap: 56px;
  }

  .MEzVZvHMhh {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .MEzVZvHMhh.JooQSuekOV {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .kvHAbdOyrW {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .EACVsYjnPu {
    max-width: 334px;
  }

  .rvQoXuCOjR {
    display: none;
  }

  .rvQoXuCOjR.RrRiRcBaZZ {
    display: none;
  }

  .uGHUgrwLVt {
    position: relative;
    right: 0px;
    bottom: 0px;
    max-width: 334px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  .uGHUgrwLVt.BsmAmFzxUi {
    left: auto;
  }

  .EBkrFXtbAl.XeuSboAujY {
    margin-bottom: 14px;
  }

  .IXxbYaRFQx {
    grid-column-gap: 28px;
    grid-row-gap: 56px;
  }

  .zbZffKqxrf {
    margin-bottom: 14px;
  }

  .fsKYRIukZO {
    margin-bottom: 35px;
  }

  .BwhEgFPDWB {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  .CqMSBdIYQe.QhryMSooMw {
    padding: 35px 28px;
  }

  .pUvwJNANAr {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .cOrVrRkQjB {
    padding: 56px 28px;
  }

  .JGDiMWNQBj {
    margin-top: 56px;
  }

  .KCBfFqSxXs {
    grid-row-gap: 14px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .fPHXShmOeA {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 479px) {
  p {
    margin-bottom: 24px;
  }

  .uJzPTdqvVw {
    padding-right: 21px;
    padding-left: 21px;
  }

  .zNUQNjbIBs.sMHdBGCxra {
    padding: 14px 24px;
    font-size: 18px;
    line-height: 28px;
  }

  .krsvOCPbXv {
    justify-items: center;
    grid-row-gap: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .aawPADSLGJ {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .axwOwAliFT {
    margin-right: 0px;
    margin-bottom: 28px;
  }

  .FVeTlzJrnA {
    padding: 56px 28px;
  }

  .STGYZTsKVQ.TqSyTtRhDx.YlXwzneMrN {
    padding-right: 0px;
    padding-left: 0px;
  }

  .EACVsYjnPu {
    max-width: 100%;
  }

  .cquvoyvBzU.YlXwzneMrN {
    margin-right: 0px;
  }

  .JEbTjGPZif {
    margin-bottom: 35px;
  }

  .IXxbYaRFQx {
    grid-row-gap: 35px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .BwhEgFPDWB {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .CqMSBdIYQe.QhryMSooMw {
    padding-right: 21px;
    padding-left: 21px;
  }

  .cOrVrRkQjB {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .ShdjLKXjWu {
    margin-right: 21px;
  }

  .aLiHSXMYjQ {
    margin-bottom: 35px;
  }

  .fPHXShmOeA {
    text-align: center;
  }
}

/*  */
.unscroll {
  overflow: hidden;
}
.header {
  position: relative;
  z-index: 1000;
  background-color: #eff9fb;
      
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.header__logo {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  transition: color 0.3s ease;
}

.header__logo:hover {
  color: #a1ec83;
}

.header-menu {
  display: flex;
}

.header-menu ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-menu__item-link {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header-menu__item-link:hover {
  color: #a1ec83;
}

.header-toggler {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.header-toggler__bar {
  width: 30px;
  height: 3px;
  background-color: #333;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #eff9fb;
        
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    overflow: hidden;
  }

  .header-menu--open {
    transform: translateX(0);
  }

  .header-menu ul {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    
    align-items: center;
  }

  .header-toggler {
    display: flex;
  }

  .header-toggler--open .header-toggler__bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .header-toggler--open .header-toggler__bar:nth-child(2) {
    opacity: 0;
  }

  .header-toggler--open .header-toggler__bar:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }
}