html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

footer,
main,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
textarea {
  overflow: auto;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;

  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.jhOLpiVAvM {
  max-width: 100%;
  display: inline-block;
}
.wIyenPefvS {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

h1,
h3,
h4,
h6 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h4 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 10px;
}
h6 {
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.LghEdDnjRQ {
  margin: 0 0 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.RQdDDAusrD {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.RQdDDAusrD:-moz-placeholder {
  color: #999;
}
.RQdDDAusrD::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.RQdDDAusrD:-ms-input-placeholder {
  color: #999;
}
.RQdDDAusrD::-webkit-input-placeholder {
  color: #999;
}
.RQdDDAusrD:focus {
  border-color: #3898ec;
  outline: 0;
}
textarea.RQdDDAusrD {
  height: auto;
  resize: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fbSQghlQGz {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

body {
  color: #40496b;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

h1 {
  margin-top: 0px;
  margin-bottom: 28px;
  color: #29335c;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h3 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #29335c;
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 14px;
  color: #29335c;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

h6 {
  margin-top: 0px;
  margin-bottom: 7px;
  color: #29335c;
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
}

p {
  margin-bottom: 28px;
}

a {
  color: #29335c;
  font-weight: 600;
  text-decoration: none;
}

label {
  display: block;
  margin-bottom: 7px;
  font-weight: 700;
}

.iTeibyWqMS {
  position: relative;
  padding-top: 112px;
  padding-bottom: 112px;
  direction: ltr;
}

.iTeibyWqMS.kFUELgHqbN {
  padding-bottom: 0px;
}

.iTeibyWqMS.slzFMpEuxB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 28px;
  padding-left: 28px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.iTeibyWqMS.slzFMpEuxB.BABZWrEOie {
  direction: ltr;
}

.iTeibyWqMS.KyqCDDdMUX {
  padding-top: 0px;
}

.iTeibyWqMS.INWkkBvmiV {
  padding-top: 84px;
  padding-bottom: 84px;
}

.XUlDmDUSsL {
  max-width: 1328px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.XUlDmDUSsL.IAPmmNnDHQ {
  max-width: 1106px;
}

.XUlDmDUSsL.nRmdMmObbV {
  position: relative;
  z-index: 2;
}

.IKsuYqsFNn {
  background-color: #29335c;
  color: #fff;
}

.isglmNzqvP {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.01em;
}

.isglmNzqvP.lqpgIpKbQu {
  opacity: 0.5;
}

.kNFeNWJoKl {
  background-color: #c1e8ee;
  background-color: #c1e8ee;
  opacity: 1;
  background: repeating-linear-gradient(
    45deg,
    #b2e5ed,
    #b2e5ed 5px,
    #c1e8ee 5px,
    #c1e8ee 25px
  );
}

.BABZWrEOie {
  background-color: #eff9fb;
}

.FerivSWiRe {
  background-color: #fff;
}

.UDDGfoNwlC {
  margin-bottom: 28px;
  color: #29335c;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.UDDGfoNwlC.VXUDOuIOYg {
  position: relative;
  z-index: 2;
  margin-bottom: -4px;
}

.AZNvHHuxvd {
  margin-bottom: 28px;
  color: #29335c;
  font-size: 54px;
  line-height: 54px;
  letter-spacing: -0.02em;
}

.AZNvHHuxvd.ZVTpTKxjGO {
  position: -webkit-sticky;
  position: sticky;
  top: 112px;
}

.CXWwMTZkBg {
  margin-bottom: 0px;
}

.TePhXFrhPH {
  font-size: 24px;
  line-height: 32px;
  font-weight: 300;
}

.YPCsuPqgWB {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.YPCsuPqgWB.isglmNzqvP {
  font-size: 14px;
  line-height: 28px;
}

.YPCsuPqgWB.NdKAsZplUh {
  margin-bottom: 24px;
  opacity: 0.25;
}

.zjNpLKnpaX {
  padding: 14px 24px;
  border-radius: 200px;
  background-color: #a1ec83;
  box-shadow: inset 0 10px 3px 100px transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #29335c;
  font-weight: 600;
  text-align: center;
}

.zjNpLKnpaX:hover {
  box-shadow: inset 0 10px 3px 100px rgba(0, 0, 0, 0.05);
}

.zjNpLKnpaX.sPIJaotnNj {
  padding: 19px 36px;
  font-size: 20px;
  line-height: 30px;
}

.zjNpLKnpaX.sPIJaotnNj.FerivSWiRe {
  background-color: #fff;
}

.zjNpLKnpaX.FerivSWiRe {
  background-color: #fff;
}

.zjNpLKnpaX.kNFeNWJoKl {
  background-color: #c1e8ee;
}

.bEklVZnfWI {
  margin-bottom: 0px;
}

.KSyUfIhNEE {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 28px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.QyhpxYQRWo {
  height: 56px;
  margin-bottom: 0px;
  padding: 14px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(41, 51, 92, 0.2);
  border-radius: 4px;
  -webkit-transition: border-color 200ms ease;
  transition: border-color 200ms ease;
  font-size: 18px;
  line-height: 28px;
}

.QyhpxYQRWo:focus {
  border-color: #29335c;
}

.QyhpxYQRWo::-webkit-input-placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.QyhpxYQRWo:-ms-input-placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.QyhpxYQRWo::-ms-input-placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.QyhpxYQRWo::placeholder {
  color: rgba(64, 73, 107, 0.5);
  font-size: 18px;
  line-height: 28px;
}

.QyhpxYQRWo.sPIJaotnNj {
  height: 68px;
  padding: 19px 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.QyhpxYQRWo.sPIJaotnNj::-webkit-input-placeholder {
  font-size: 20px;
  line-height: 30px;
}

.QyhpxYQRWo.sPIJaotnNj:-ms-input-placeholder {
  font-size: 20px;
  line-height: 30px;
}

.QyhpxYQRWo.sPIJaotnNj::-ms-input-placeholder {
  font-size: 20px;
  line-height: 30px;
}

.QyhpxYQRWo.sPIJaotnNj::placeholder {
  font-size: 20px;
  line-height: 30px;
}

.QyhpxYQRWo.DZqzIHoOJk {
  min-height: 200px;
}

.VJeazXNfpY {
  padding: 6px 18px;
  border-radius: 100px;
}

.SRfGNDwmnT {
  color: #fff;
}

.oovDjYbjga {
  padding-top: 84px;
  padding-bottom: 56px;
}

.oovDjYbjga.IKsuYqsFNn {
  border-bottom: 4px solid #c1e8ee;
}

.BfxehszOKe {
  margin-bottom: 140px;
  grid-column-gap: 84px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.PeixGUowEY {
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.vOYJueSUHP {
  opacity: 0.5;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.vOYJueSUHP:hover {
  opacity: 1;
}

.vOYJueSUHP.pcxBQYLDDY {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.qXYaoyJpum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.fCHQcIkQMb {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.soCvNJpJAT {
  margin-right: 28px;
}

.JNGHlCXPVA {
  position: relative;
  max-width: 1270px;
  margin-right: auto;
  margin-left: auto;
  padding: 56px;
}

.PjYDgYXmSG {
  color: #29335c;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.PjYDgYXmSG.oEHWnTgfHi {
  max-width: 622px;
  margin-bottom: 0px;
}

.PjYDgYXmSG.SRfGNDwmnT {
  color: #fff;
}

.SUbWBaUEDy {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.NXIQosgkOg {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.jnekkUyOth {
  padding-top: 112px;
}

.nnbaaIDBep {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 28px;
  grid-row-gap: 84px;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nnbaaIDBep.lxMxsgYyzq {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.nnbaaIDBep.kedqDjGZBB {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
}

.dkCaBhDlwC {
  position: relative;
  padding-top: 56px;
  padding-bottom: 56px;
}

.dkCaBhDlwC.BXhVSGgZpC {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.xgHpyLEeFi {
  width: 100%;
  max-width: 497px;
  direction: ltr;
}

.xgHpyLEeFi.OSPGcDhqah {
  margin-right: auto;
  margin-left: auto;
}

.xgHpyLEeFi.OSPGcDhqah.DMxbDPGusl {
  padding-right: 28px;
  padding-left: 28px;
}

.xgHpyLEeFi.pfZxAVmwED {
  max-width: 650px;
}

.xgHpyLEeFi.pfZxAVmwED.OSPGcDhqah {
  margin-right: auto;
  margin-left: auto;
}

.xgHpyLEeFi.nRmdMmObbV {
  position: relative;
}

.xgHpyLEeFi.IAPmmNnDHQ {
  max-width: 387px;
}

.qLfzSvyquG {
  position: relative;
}

.HBCeoBDEME {
  position: relative;
  z-index: 2;
}

.UAbHhZAKmZ {
  max-width: 418px;
  min-height: 532px;
}

.NhQECPCbgc {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 0;
  width: 80%;
  height: 100%;
}

.NhQECPCbgc.aAdUiQWyVE {
  left: 0px;
  right: auto;
}

.hRbqijDupJ {
  position: absolute;
  right: 28px;
  bottom: 28px;
  z-index: 2;
}

.hRbqijDupJ.aAdUiQWyVE {
  left: 28px;
  right: auto;
}

.wofGuQkVFr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 21px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wofGuQkVFr.DMxbDPGusl {
  min-width: 280px;
  padding: 14px 28px 14px 21px;
  background-color: #fff;
}

.wofGuQkVFr.lxMxsgYyzq {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.jlSVNINamx {
  margin-right: 14px;
}

.jlSVNINamx.uvReEUPOub {
  margin-right: 28px;
}

.SnyNynngQU {
  max-height: 42px;
}

.SnyNynngQU.wofGuQkVFr {
  margin-right: 7px;
}

.fCwoPwHvoF {
  grid-column-gap: 7px;
  grid-row-gap: 7px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.kFUELgHqbN {
  padding-bottom: 0px;
}

.XPCNUCFffg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 56px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.JFsRSTsiJG {
  height: 2px;
  margin-left: 28px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(41, 51, 92, 0.1);
}

.JFsRSTsiJG.FerivSWiRe {
  background-color: rgba(255, 255, 255, 0.1);
}

.SeupLWclDq {
  grid-column-gap: 56px;
  grid-row-gap: 56px;
}

.inTBxQWVUx {
  max-width: 413px;
}

.inTBxQWVUx.XyzIoHJKho {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.RvCsDgDdwp {
  margin-bottom: 28px;
}

.ZtwzyzQQpu {
  max-width: 1328px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 28px;
  padding-left: 28px;
}

.ZtwzyzQQpu.hHQLnMnzWH {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.keSdOJttAA {
  max-width: 320px;
  padding: 28px;
  background-color: #fff;
  color: #40496b;
}

.ByQrrHBlmJ {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 84px;
  grid-row-gap: 84px;
  -ms-grid-columns: 1fr 0.66fr;
  grid-template-columns: 1fr 0.66fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.LcUaeuEQiD {
  text-align: center;
}

.ZCVBHOAsIv {
  margin-bottom: 56px;
}

.UTXfRSGHJY {
  grid-column-gap: 84px;
  grid-row-gap: 54px;
}

.UtaXKZfCSe {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 14px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.AqJROlaQMd {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.VsHIlUhfSt {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 14px;
  background-color: #a1ec83;
}

.SZowudXfKQ {
  margin-top: 28px;
}

.DNzloUiTLx {
  position: relative;
}

.DDpgLtUmxh {
  padding: 56px 35px;
  background-color: #fff;
  color: #40496b;
}

.DDpgLtUmxh.WEaAUnWfCv {
  border-bottom: 4px solid #c1e8ee;
}

.DDpgLtUmxh.INWkkBvmiV {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.OmuBilrCNF {
  margin-bottom: 28px;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  letter-spacing: -0.01em;
}

.OmuBilrCNF.ZCVBHOAsIv {
  margin-bottom: 56px;
}

.TWtMEqaDJY {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 24px;
  height: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 50%;
}

.cKDemWYRSx {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.cKDemWYRSx.pfZxAVmwED {
  width: 100%;
}

.WeGjFgnKCA {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 56px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1.25fr 1fr;
  grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ITVnuoTKPL {
  padding-bottom: 112px;
}

.ITVnuoTKPL.kFUELgHqbN {
  padding-bottom: 0px;
}

.oDGoxCskZY {
  width: 100%;
  max-width: 608px;
}

.oDGoxCskZY.OSPGcDhqah {
  margin-right: auto;
  margin-left: auto;
}

.oDGoxCskZY.pfZxAVmwED {
  max-width: 740px;
}

.XzaJWFrDzD {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  border-bottom: 1px dotted rgba(41, 51, 92, 0.2);
}

.xUekkxNsEz {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px dotted rgba(41, 51, 92, 0.2);
}

.aZWFJfLGDO {
  margin-left: 14px;
}

.VnGyYyqGui {
  position: relative;
  padding: 56px;
  border-top: 4px solid #a1ec83;
  background-color: #fff;
}

.VnGyYyqGui.sPIJaotnNj {
  top: -56px;
  padding-top: 84px;
  padding-bottom: 84px;
}

.JOvqLnpsYk {
  position: relative;
  margin-top: 84px;
}

.oxcqLAithm {
  position: relative;
  bottom: 18px;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 28px;
  grid-row-gap: 28px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.dqlqYZhdOd {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.jpHtLDpsqx {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nLQjJnPtmQ {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: rgba(41, 51, 92, 0.2);
}

.BddRKfVhYO {
  width: 1px;
  min-height: 56px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: rgba(41, 51, 92, 0.2);
}

.KuQLPQKRvP {
  margin-bottom: 54px;
}

.blgTIxgrNM {
  margin-top: 56px;
  margin-bottom: 56px;
}

.iBUsVVnmLt {
  -o-object-fit: cover;
  object-fit: cover;
  height: -webkit-fill-available;
}

.eWVlbWgJQG {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 84px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.gFUiDKeCTx {
  margin-bottom: 0px;
}

.eKcZsGeEps {
  grid-column-gap: 14px;
  grid-row-gap: 14px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.pcxBQYLDDY {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nRmdMmObbV {
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .iTeibyWqMS {
    padding-top: 84px;
    padding-bottom: 84px;
  }

  .XUlDmDUSsL {
    max-width: 684px;
  }

  .XUlDmDUSsL.IAPmmNnDHQ {
    max-width: 684px;
  }

  .AZNvHHuxvd.ZVTpTKxjGO {
    position: relative;
    top: 0px;
  }

  .BfxehszOKe {
    margin-bottom: 112px;
    grid-column-gap: 28px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .PjYDgYXmSG.oEHWnTgfHi {
    margin-bottom: 28px;
    text-align: center;
  }

  .SUbWBaUEDy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .jnekkUyOth {
    padding-top: 0px;
  }

  .nnbaaIDBep {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .nnbaaIDBep.kedqDjGZBB {
    grid-row-gap: 28px;
  }

  .xgHpyLEeFi {
    margin-right: auto;
    margin-left: auto;
  }

  .xgHpyLEeFi.pfZxAVmwED.nRmdMmObbV {
    position: relative;
    z-index: 2;
  }

  .UAbHhZAKmZ {
    min-height: auto;
  }

  .wgLsBVXcPL {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }

  .wofGuQkVFr.lxMxsgYyzq {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .jlSVNINamx.uvReEUPOub {
    margin-right: 0px;
    margin-bottom: 28px;
  }

  .ZtwzyzQQpu {
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
  }

  .ZtwzyzQQpu.hHQLnMnzWH {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .RCnpIigEhg {
    /* max-height: 400px; */
    display: none;
  }

  .ByQrrHBlmJ {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .WeGjFgnKCA {
    padding-right: 28px;
    padding-bottom: 28px;
    padding-left: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .ITVnuoTKPL {
    padding-bottom: 0px;
  }

  .eWVlbWgJQG {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .gFUiDKeCTx {
    margin-bottom: 28px;
  }

  .eKcZsGeEps {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 24px;
  }

  h1 {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;
  }

  h3 {
    margin-bottom: 14px;
    font-size: 24px;
    line-height: 32px;
  }

  .iTeibyWqMS {
    padding-top: 56px;
    padding-bottom: 56px;
  }

  .XUlDmDUSsL {
    max-width: 488px;
  }

  .XUlDmDUSsL.IAPmmNnDHQ {
    max-width: 488px;
  }

  .UDDGfoNwlC {
    margin-bottom: 14px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }

  .AZNvHHuxvd {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
  }

  .AZNvHHuxvd.blgTIxgrNM {
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .TePhXFrhPH {
    font-size: 20px;
    line-height: 30px;
  }

  .BfxehszOKe {
    margin-bottom: 56px;
    grid-row-gap: 56px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .qXYaoyJpum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .fCHQcIkQMb {
    margin-bottom: 28px;
  }

  .PjYDgYXmSG {
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .nnbaaIDBep {
    grid-row-gap: 56px;
  }

  .dkCaBhDlwC {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .dkCaBhDlwC.BXhVSGgZpC {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .qLfzSvyquG {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .UAbHhZAKmZ {
    max-width: 334px;
  }

  .NhQECPCbgc {
    display: none;
  }

  .NhQECPCbgc.kNFeNWJoKl {
    display: none;
  }

  .hRbqijDupJ {
    position: relative;
    right: 0px;
    bottom: 0px;
    max-width: 334px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  .hRbqijDupJ.aAdUiQWyVE {
    left: auto;
  }

  .jlSVNINamx.uvReEUPOub {
    margin-bottom: 14px;
  }

  .SeupLWclDq {
    grid-column-gap: 28px;
    grid-row-gap: 56px;
  }

  .RvCsDgDdwp {
    margin-bottom: 14px;
  }

  .ZCVBHOAsIv {
    margin-bottom: 35px;
  }

  .UTXfRSGHJY {
    grid-column-gap: 28px;
    grid-row-gap: 28px;
  }

  .DDpgLtUmxh.WEaAUnWfCv {
    padding: 35px 28px;
  }

  .OmuBilrCNF {
    margin-bottom: 14px;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0em;
  }

  .VnGyYyqGui {
    padding: 56px 28px;
  }

  .JOvqLnpsYk {
    margin-top: 56px;
  }

  .oxcqLAithm {
    grid-row-gap: 14px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .eWVlbWgJQG {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 479px) {
  p {
    margin-bottom: 24px;
  }

  .XUlDmDUSsL {
    padding-right: 21px;
    padding-left: 21px;
  }

  .zjNpLKnpaX.sPIJaotnNj {
    padding: 14px 24px;
    font-size: 18px;
    line-height: 28px;
  }

  .BfxehszOKe {
    justify-items: center;
    grid-row-gap: 28px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .fCHQcIkQMb {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }

  .soCvNJpJAT {
    margin-right: 0px;
    margin-bottom: 28px;
  }

  .JNGHlCXPVA {
    padding: 56px 28px;
  }

  .xgHpyLEeFi.OSPGcDhqah.DMxbDPGusl {
    padding-right: 0px;
    padding-left: 0px;
  }

  .UAbHhZAKmZ {
    max-width: 100%;
  }

  .wofGuQkVFr.DMxbDPGusl {
    margin-right: 0px;
  }

  .XPCNUCFffg {
    margin-bottom: 35px;
  }

  .SeupLWclDq {
    grid-row-gap: 35px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .UTXfRSGHJY {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .DDpgLtUmxh.WEaAUnWfCv {
    padding-right: 21px;
    padding-left: 21px;
  }

  .VnGyYyqGui {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .jpHtLDpsqx {
    margin-right: 21px;
  }

  .KuQLPQKRvP {
    margin-bottom: 35px;
  }

  .eWVlbWgJQG {
    text-align: center;
  }
}

/*  */
.header {
  position: relative;
  z-index: 999;
  background-color: #eff9fb ;
    
}

.header__wrapper {
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  font-size: 30px;
  color: #000;
  position: relative;
  z-index: 999;
  transition: 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.1);
  color: #a1ec83;
}

.header-menu .header-menu--footer {
  display: flex !important;
  position: static;
  transform: translateX(0%);
  opacity: 1;
  background-color: transparent;
}

.header-menu ul {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-direction: row;
}

.header-menu__item-link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
  transition: 0.3s ease;
}

.header-menu__item-link:hover {
  color: #a1ec83;
  
}

.header-toggler {
  display: none;
}

@media (max-width: 1024px) {
  .header-toggler {
    display: block;
    width: 30px;
    height: 20px;
    z-index: 999;
  }
  .header-toggler__icon {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .header-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    opacity: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: #eff9fb ;
    
    transition: 0.3s ease-in-out;
  }

  .header-menu--open {
    opacity: 1;
    transform: translateX(0);
  }
  .header-menu ul {
    flex-direction: column;
  }
  .header-toggler__line {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }
  .header-toggler__line-middle {
    top: 50%;
    transform: translateY(-50%);
  }
  .header-toggler__line-bottom {
    bottom: 0;
  }
  .header-toggler--open {
    .header-toggler__line {
      background-color: #000;
    }
    .header-toggler__line-top {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
    }
    .header-toggler__line-bottom {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    .header-toggler__line-middle {
      display: none;
    }
  }
}

.unscroll {
  overflow: hidden;
}