html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
  }
  
  body {
    margin: 0;
  }
  
   footer, main {
    display: block;
  }
  
   video {
    vertical-align: baseline;
    display: inline-block;
  }
  
   template {
    display: none;
  }
  
  a {
    background-color: rgba(0, 0, 0, 0);
  }
  
  a:active, a:hover {
    outline: 0;
  }
  
   strong {
    font-weight: bold;
  }
  
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  
  img {
    border: 0;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
  button, input, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
  button {
    overflow: visible;
  }
  
  button, select {
    text-transform: none;
  }
  
  button, html input[type="button"] {
    cursor: pointer;
  }
  
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  input {
    line-height: normal;
  }
  
  input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }
  
  textarea {
    overflow: auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .wpiMuaYoLN {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  
  
  h1, h2, h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  button, [type="button"] {
    cursor: pointer;
    border: 0;
  }
  
  .AbuPCkEYZh {
    margin: 0 0 15px;
  }
  
  .xagroiOeoC {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    display: none;
  }
  
  .RDBHYaRGCG {
    background-color: #ffdede;
    margin-top: 10px;
    padding: 10px;
    display: none;
  }
  
  .AaOdlszobh {
    width: 100%;
    height: 38px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
  }
  
  .AaOdlszobh:-moz-placeholder {
    color: #999;
  }
  
  .AaOdlszobh::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  
  .AaOdlszobh::-webkit-input-placeholder {
    color: #999;
  }
  
  .AaOdlszobh:focus {
    border-color: #3898ec;
    outline: 0;
  }
  
  textarea.AaOdlszobh {
    height: auto;
    resize: none;
  }
  
  .ePJSaEozgk {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ePJSaEozgk:before, .ePJSaEozgk:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .ePJSaEozgk:after {
    clear: both;
  }
  
  @media screen and (max-width: 991px) {
    .ePJSaEozgk {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .ePJSaEozgk {
      max-width: none;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  :root {
    --beige-background: #f4f1eb;
    --green: #1c3533;
    --accent-one: #75fb92;
    --white: #fcfbf9;
    --azure: #def1f0;
    --grey: #757b7b;
    --white-smoke: #efefef;
    --gainsboro: #e4e4e4;
    --background: whitesmoke;
    --tile: #dfdbd4;
    --sea-green: #219653;
    --dark-grey: #b1b1b1;
    --dark-grey-2: #8e8e8f;
    --stoke-white: #ededed;
  }
  
  .ahYbLKkodr {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  body {
    background-color: var(--beige-background);
    color: var(--green);
    
    font-size: 18px;
    line-height: 140%;
  }
  
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 42px;
    font-weight: 700;
    line-height: 140%;
  }
  
  h2 {
    margin-top: 16px;
    margin-bottom: 12px;
    
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
  }
  
  h3 {
    margin-top: 16px;
    margin-bottom: 12px;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .MDsFvsAnHM {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .MDsFvsAnHM.wReBGoEDbA {
    padding-top: 100px;
    padding-bottom: 32px;
  }
  
  .MDsFvsAnHM.eLjWxrcYMj {
    background-color: var(--white);
opacity: 1;
background-image:  radial-gradient(#084f166c 0.5px, transparent 0.5px), radial-gradient(#084f165c 0.5px, var(--white) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
  }
  
  .MDsFvsAnHM.eLjWxrcYMj.JBIuRXeHke {
    padding-top: 100px;
    padding-bottom: 100px;
    overflow: hidden;
  }
  
  .MDsFvsAnHM.xgczLnAMrf {
    padding-top: 160px;
    padding-bottom: 115px;
  }
  
  .MDsFvsAnHM.HmivWlYkjb {
    padding-top: 160px;
  }
  
  .MDsFvsAnHM.kOgdyPeIYI {
    background-color: var(--green);
    color: #fff;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 200px;
    padding-bottom: 100px;
  }
  
  .MDsFvsAnHM.LAkYnWwtRm {
    background-color: var(--green);
    color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  .MDsFvsAnHM.FSavprGjlm {
    margin-top: -100px;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .MDsFvsAnHM.vauJhkwBqe {
    padding-top: 160px;
  }
  
  .qznGbJHRWx {
    max-width: 1348px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .qznGbJHRWx.kQjSXNCBTI {
    max-width: 1512px;
    padding-left: 28px;
    padding-right: 28px;
  }
  
  .ckwpUfpaPX {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 52px;
    font-weight: 600;
  }
  
  .DVsGhoUemR {
    margin-bottom: 0;
    font-size: 21px;
    line-height: 140%;
  }
  
  .DVsGhoUemR.SOIgbfwbbr {
    max-width: 550px;
  }
  
  .IexRhtfORp {
    font-size: 16px;
    line-height: 140%;
  }
  
  .IexRhtfORp.hGDCmyPRtl {
    line-height: 200%;
  }
  
  .YpStXciqFO {
    margin-bottom: 0;
    font-size: 22px;
    line-height: 140%;
  }
  
  .qnbYaSZdEd {
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 110%;
  }
  
  .NKkmMhDYTV {
    min-height: 752px;
    color: #fff;
    background-image: linear-gradient(to top, #1c3533, rgba(28, 53, 51, 0.133)), linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, .4)), url("imgs/1.jpg");
    background-position: 0 0, 0 0, 50%;
    background-repeat: repeat, repeat, no-repeat;
    background-size: auto, auto, cover;
    border-radius: 18px;
    padding: 200px 80px 180px;
  }
  
  .eLGKCdGHsv {
    width: 100%;
    max-width: 790px;
  }
  
  .guDgOfwTVF {
    height: 32px;
  }
  
  .xtHMKszjBq {
    grid-column-gap: 32px;
    align-items: center;
    margin-top: 32px;
    display: flex;
  }
  
  .qLOUzEjxGd {
    height: 24px;
  }
  
  .PUBHrRqWYI {
    height: 64px;
    background-color: var(--accent-one);
    color: var(--green);
    text-align: center;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    padding: 0 32px 1px;
    
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    transition: background-color .2s;
    display: flex;
  }
  
  .PUBHrRqWYI:hover {
    background-color: rgba(117, 251, 146, .8);
  }
  
  .PUBHrRqWYI.ajqmwmJFtD {
    height: 52px;
    background-color: var(--green);
    color: #fff;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 200%;
    display: flex;
  }
  
  .PUBHrRqWYI.ajqmwmJFtD:hover {
    background-color: rgba(28, 53, 51, .9);
  }
  
  .TQNkZKuEzV {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: .7fr 1fr;
  }
  
  .jvSnCevWio {
    height: 50px;
  }
  
  .biShtzFjiR {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
  }
  
  .SKCnoCUVGK {
    padding-top: 30px;
  }
  
  .mHADTViCHj {
    grid-column-gap: 18px;
    align-items: flex-start;
    display: flex;
  }
  
  .KqREPBRYda {
    width: 30px;
    height: 30px;
    flex: none;
  }
  
  .vrmNefvFJW {
    height: 8px;
  }
  
  .iUBnUpvXUP {
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
  }
  
  .iUBnUpvXUP.MjJJMnQjqA {
    grid-template-columns: .8fr 1.2fr;
  }
  
  .iUBnUpvXUP.YqWfcBMZSx {
    grid-column-gap: 64px;
    grid-row-gap: 50px;
  }
  
  .iUBnUpvXUP.WexzaQpDMW {
    grid-column-gap: 64px;
  }
  
  .AZcBtkvvBL {
    position: relative;
  }
  
  .KOMqiNuHti {
    font-weight: 500;
  }
  
  .GRasZzjiAO {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    margin-top: 24px;
    font-weight: 500;
    display: flex;
  }
  
  .lFZHqDYBVd {
    grid-column-gap: 16px;
    align-items: center;
    display: flex;
  }
  
  .wYEmCkOfnl {
    width: 32px;
    height: 32px;
    flex: none;
  }
  
  .ckjAxlhdfQ {
    height: 423px;
    background-color: var(--green);
    border-radius: 18px;
    position: relative;
  }
  
  .ckjAxlhdfQ.PUBHrRqWYI {
    z-index: 0;
    height: 294px;
    background-color: rgba(0, 0, 0, .2);
    position: absolute;
    top: 20px;
    bottom: -20px;
    left: -20px;
    right: 20px;
  }
  
  .sffBoOUSYx {
    height: 423px;
    transform-origin: 0 100%;
    border-radius: 18px;
    margin: -22px -22px 22px 22px;
    position: relative;
    overflow: hidden;
  }
  
  .QIPJsODmsz {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .sjldArLLwj {
    height: 16px;
  }
  
  .TrchVTQCWA {
    width: 100%;
    max-width: 593px;
    min-height: 718px;
    border-radius: 18px;
    overflow: hidden;
  }
  
  .YKNfZJusFP {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    margin-top: 32px;
    font-weight: 500;
    display: flex;
  }
  
  .VEwtWjFnyD {
    grid-column-gap: 24px;
    align-items: center;
    font-weight: 700;
    display: flex;
  }
  
  .xPfXcoGkKl {
    width: 32px;
    height: 32px;
    flex: none;
  }
  
  .shwEyuanTJ {
    margin-top: 24px;
    display: flex;
  }
  
  .JIpLxXpref {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .QFCnFlCTvW {
    width: 100%;
    max-width: 626px;
  }
  
  .pLhmzMBiQM {
    height: 80px;
  }
  
  .HLrUGbjTCm {
    height: 56px;
  }
  
  .KBjVRyVJeN {
    background-color: var(--green);
    color: #fff;
    background-position: 100% 0;
    background-repeat: no-repeat;
    background-size: auto;
    border-radius: 10px;
    padding: 78px;
  }
  
  .IOkelDnfst {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr .6fr;
  }
  
  .EjqSxulGpc {
    max-width: 560px;
  }
  
  .uUdZmAUvJL {
    width: 100%;
    max-width: 440px;
    grid-column-gap: 32px;
    flex-direction: column;
    align-items: stretch;
    margin-top: 48px;
    display: flex;
  }
  
  .XUhCrOzXRC {
    z-index: 2;
    height: 294px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  
  .XSgTHYKXtD {
    width: 100%;
    max-width: 740px;
  }
  
  .hvdvEJxesh {
    height: 48px;
  }
  
  .isMSitxeeX {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .bztQdKpRqE {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
  }
  
  .dSzkxKbsUR {
    width: 100%;
    max-width: 325px;
    grid-row-gap: 8px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .auDPAPZfhP {
    width: 30px;
    height: 30px;
    flex: none;
  }
  
  .mKvftmnKMD {
    height: 40px;
  }
  
  .GIxQfukldQ {
    background-color: #fff;
    opacity: 1;
background-image:  radial-gradient(#084f166c 0.5px, transparent 0.5px), radial-gradient(#084f165c 0.5px, var(--white) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
    border-radius: 18px;
    padding: 48px;
    box-shadow: 0 4px 94px rgba(0, 0, 0, .07);
  }
  
  .sDQvgmHVLP {
    min-height: 60px;
    border: 1px solid var(--gainsboro);
    border-radius: 8px;
    margin-bottom: 12px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
  }
  
  .sDQvgmHVLP::-ms-input-placeholder {
    color: var(--dark-grey);
  }
  
  .sDQvgmHVLP::placeholder {
    color: var(--dark-grey);
  }
  
  .vOJIFguTON {
    min-height: 158px;
    border: 1px solid var(--gainsboro);
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
  }
  
  .vOJIFguTON::-ms-input-placeholder {
    color: var(--dark-grey);
  }
  
  .vOJIFguTON::placeholder {
    color: var(--dark-grey);
  }
  
  .iICoqPufjO {
    flex-direction: column;
    display: flex;
  }
  
  .OTuHeJeqSj {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
  }
  
  .SxSAoDdCdD {
    grid-column-gap: 46px;
    grid-row-gap: 46px;
    background-color: #fff;
    opacity: 1;
background-image:  radial-gradient(#084f166c 0.5px, transparent 0.5px), radial-gradient(#084f165c 0.5px, var(--white) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
    border-radius: 18px;
    flex: 1;
    align-items: center;
    padding: 40px 50px;
    display: flex;
    box-shadow: 0 4px 94px rgba(0, 0, 0, .07);
  }
  
  .kVHidKkXiW {
    width: 150px;
    height: 130px;
    background-color: var(--green);
    border-radius: 18px;
    flex: none;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ccc;
  }
  
  .WxvoLdopdP {
    font-size: 24px;
    font-weight: 700;
    line-height: 180%;
  }
  
  .gyhDdPwOBx {
    color: var(--green);
    font-size: 16px;
    font-weight: 700;
    line-height: 200%;
    transition: opacity .2s;
  }
  
  .gyhDdPwOBx:hover {
    opacity: .9;
  }
  
  .MuDPKBhBnr {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .jfqhzQJdqS {
    grid-column-gap: 52px;
    grid-row-gap: 52px;
    background-color: #fff;
    opacity: 1;
background-image:  radial-gradient(#084f166c 0.5px, transparent 0.5px), radial-gradient(#084f165c 0.5px, var(--white) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
    border-radius: 18px;
    align-items: center;
    padding: 32px;
    display: flex;
  }
  
  .BmDwrLWTwQ {
    width: 100%;
    height: 318px;
    max-width: 448px;
    border-radius: 10px;
    flex: none;
    overflow: hidden;
  }
  
  .PAFQFZVKVO {
    margin-bottom: -180px;
  }
  
  .TGavFlJYbg {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: .8fr 1fr;
  }
  
  .BWsvRbfBZv {
    padding: 60px 50px;
  }
  
  .dEGHzqvAyH {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 105%;
  }
  
  .dcgMRDFBPs {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  .ldkfgjsd{
    padding-top: 50px;
  }
  .ncwAEeItEa {
    min-height: 360px;
    background-color: #fff;
    
    border-radius: 18px;
    flex-direction: column;
    justify-content: center;
    padding: 40px 50px;
    font-weight: 500;
    transition: opacity .3s ease-out;
    display: flex;
  }
  
  .ncwAEeItEa.vqLhZrMWek {
    background-color: var(--green);
    color: var(--beige-background);
  }
  
  .VYoLnqzNCx {
    width: 100%;
    max-width: 860px;
  }
  
  .ZnvFxWgAhH {
    width: 100%;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template: "."
    / 1fr .5fr;
  }
  
  .UxfYHqPmdx {
    height: 264px;
    border-radius: 18px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  
  .ahKpvAtrIM {
    height: 548px;
    border-radius: 18px;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    overflow: hidden;
  }
  
  .FQqCZJzRzU {
    width: 100%;
    max-width: 640px;
  }
  
  .IJygQzwwCQ {
    height: 72px;
  }
  
  .AtIDiKGajF {
    z-index: 5;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    position: absolute;
    top: 80px;
    bottom: auto;
    left: -20px;
    right: auto;
  }
  
  .tVxDoJJggl {
    grid-row-gap: 16px;
    flex-direction: column;
    display: flex;
  }
  
  .vmzDkpVsmJ {
    cursor: pointer;
    background-color: #fff;
    opacity: 1;
background-image:  radial-gradient(#084f166c 0.5px, transparent 0.5px), radial-gradient(#084f165c 0.5px, var(--white) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
    border-radius: 18px;
    padding: 22px 24px 24px 32px;
  }
  
  .MOxQjIrdgJ {
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  
  .tYYljYrkvY {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 24px;
    font-size: 20px;
  }
  
  .kaYGibmDAI {
    width: 90%;
    transform-origin: 50% 0;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .SUFnZLOQpy {
    transform-origin: 50% 0;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 12px;
  }
  
  .ulBAkfPxqr {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .bHMVejlwhS {
    width: 100%;
    max-width: 740px;
  }
  
  .mWQzAQlzHD {
    width: 100%;
    height: 100%;
    max-height: 600px;
    background-image: url("imgs/6.jpg");
    background-position: 50%;
    background-size: cover;
    border-radius: 16px;
    position: -webkit-sticky;
    position: sticky;
    top: 86px;
  }
  
  .hOgbSenAvO {
    max-width: 670px;
    grid-row-gap: 16px;
    flex-direction: column;
    display: flex;
  }
  
  .JUFQsULsxO {
    grid-row-gap: 40px;
    flex-direction: column;
    display: flex;
  }
  
  .rCGvHygLgg {
    
    font-size: 22px;
    font-weight: 600;
  }
  
  .EngTkovtwF {
    display: flex;
  }
  
  .cHqMFceKPe {
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .xQukpAKeOw {
    grid-column-gap: 40px;
    align-items: stretch;
    display: flex;
  }
  
  .tXtIVNSYeA{
    padding-bottom: 15px;
  }
  .EKELzwrEJI {
    width: 32px;
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .QDOxGFQzqg {
    grid-row-gap: 24px;
    flex-direction: column;
    flex: 1;
    align-items: flex-start;
    padding-bottom: 64px;
    display: flex;
  }
  
  .QDOxGFQzqg.aLDgLKGSFu {
    padding-bottom: 0;
  }
  
  .iPSZMDUvKv {
    width: 29px;
    height: 29px;
    background-color: #576763;
    border-radius: 50%;
    flex: none;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
  }
  
  .yKPyeFiEBS {
    width: 5px;
    height: 100%;
    background-color: #576763;
  }
  
  .bsDUddAqwU {
    width: 100%;
    height: 100%;
    background-color: var(--accent-one);
    border-radius: 50%;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }
  
  .JQtzpvUuID {
    width: 100%;
    height: 100%;
    background-color: var(--accent-one);
    transform-origin: 50% 0;
  }
  
  .LxzxNmdVwS {
    background-color: #fff;
    opacity: 1;
background-image:  radial-gradient(#084f166c 0.5px, transparent 0.5px), radial-gradient(#084f165c 0.5px, var(--white) 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
    border-radius: 10px;
    padding: 50px 64px;
    box-shadow: 0 4px 64px rgba(0, 0, 0, .04);
  }
  
  .XVxPVCBNcR {
    width: 100%;
    max-width: 550px;
  }
  
  .vVSJRSkJHu {
    width: 100%;
    max-width: 470px;
  }
  
  .DEMEADkmPJ {
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 16px;
    display: flex;
  }
  
  .KhmAsPQvGU {
    margin-top: 0;
    margin-bottom: 0;
  }
  .section.footer{
    background-color: var(--white);
    color: var(--green);
    padding-top: 108px;
    padding-bottom: 80px;
  }
  .grid-footer {
    grid-column-gap: 72px;
    grid-row-gap: 72px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
}
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 38px;
    }
  
    h3 {
      font-size: 20px;
    }
  
    .MDsFvsAnHM.wReBGoEDbA {
      padding-top: 100px;
    }
  
    .MDsFvsAnHM.xgczLnAMrf {
      padding-top: 140px;
    }
  
    .qznGbJHRWx.kQjSXNCBTI {
      padding-left: 24px;
      padding-right: 24px;
    }
  
    .ckwpUfpaPX {
      font-size: 44px;
      line-height: 130%;
    }
  
    .NKkmMhDYTV {
      min-height: 0;
      padding: 140px 40px 120px;
    }
  
    .eLGKCdGHsv {
      max-width: 600px;
    }
  
    .TQNkZKuEzV, .iUBnUpvXUP {
      grid-template-columns: 1fr;
    }
  
    .iUBnUpvXUP.MjJJMnQjqA {
      max-width: 600px;
      grid-template-columns: 1.2fr;
      margin-left: auto;
      margin-right: auto;
    }
  
    .iUBnUpvXUP.YqWfcBMZSx {
      grid-row-gap: 80px;
      grid-template-columns: 1fr;
    }
  
    .iUBnUpvXUP.WexzaQpDMW {
      grid-row-gap: 64px;
      grid-template-columns: 1fr;
    }
  
    .iUBnUpvXUP.mblDYKsdfe {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .AZcBtkvvBL.ZhHNtDYVnJ {
      max-width: 630px;
      text-align: center;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .AZcBtkvvBL.TTSiPOlCGm {
      text-align: center;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .lFZHqDYBVd {
      text-align: left;
    }
  
    .ckjAxlhdfQ {
      max-width: 550px;
    }
  
    .TrchVTQCWA {
      max-width: 510px;
      min-height: 580px;
    }
  
    .VEwtWjFnyD {
      text-align: left;
    }
  
    .KBjVRyVJeN {
      padding: 52px;
    }
  
    .isMSitxeeX {
      grid-template-columns: 1fr;
    }
  
    .bztQdKpRqE {
      grid-column-gap: 16px;
      grid-row-gap: 16px;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-columns: 1fr;
      display: grid;
    }
  
    .jfqhzQJdqS {
      flex-direction: column;
    }
  
    .TGavFlJYbg {
      grid-template-columns: 1fr;
    }
  
    .BWsvRbfBZv {
      text-align: center;
      flex-direction: column;
      align-items: center;
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
    }
  
    .AtIDiKGajF {
      left: -40px;
    }
  
    .mWQzAQlzHD {
      height: 80vw;
      position: static;
    }
  
    .XVxPVCBNcR {
      text-align: center;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
  
    .DEMEADkmPJ {
      grid-row-gap: 16px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
  }
  
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 34px;
    }
  
    .MDsFvsAnHM {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  
    .MDsFvsAnHM.wReBGoEDbA {
      padding-bottom: 0;
    }
  
    .MDsFvsAnHM.xgczLnAMrf {
      padding-top: 120px;
    }
  
    .MDsFvsAnHM.vauJhkwBqe {
      padding-top: 140px;
    }
  
    .ckwpUfpaPX {
      font-size: 36px;
      line-height: 124%;
    }
  
    .YpStXciqFO {
      font-size: 18px;
      line-height: 135%;
    }
  
    .NKkmMhDYTV {
      text-align: center;
      background-image: linear-gradient(to top, #1c3533, rgba(28, 53, 51, 0)), linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), ;
      background-position: 0 0, 0 0, 65% 0;
      padding: 64px 24px 56px;
    }
  
    .xtHMKszjBq {
      grid-column-gap: 0px;
      grid-row-gap: 24px;
      flex-direction: column;
    }
  
    .KOMqiNuHti {
      font-size: 16px;
      line-height: 136%;
    }
  
    .ckjAxlhdfQ {
      height: 66vw;
      max-width: 82%;
    }
  
    .sffBoOUSYx {
      height: 66vw;
    }
  
    .TrchVTQCWA {
      height: 90vw;
      max-height: 560px;
      max-width: 460px;
      min-height: 0;
    }
  
    .KBjVRyVJeN {
      padding: 32px;
    }
  
    .IOkelDnfst {
      grid-row-gap: 48px;
      grid-template-columns: 1fr;
    }
  
    .isMSitxeeX.RJTsbnGkiF {
      grid-row-gap: 48px;
    }
  
    .bztQdKpRqE {
      grid-row-gap: 40px;
      grid-template-columns: 1fr;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .tYYljYrkvY {
      font-size: 18px;
    }
  
    .SUFnZLOQpy {
      font-size: 15px;
      line-height: 135%;
    }
  
    .mWQzAQlzHD {
      height: 100vw;
    }
  
    .LxzxNmdVwS {
      padding: 40px;
    }
  
    .vVSJRSkJHu {
      text-align: center;
    }
  }
  
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 28px;
      line-height: 135%;
    }
  
    h2 {
      font-size: 24px;
    }
  
    h3 {
      font-size: 18px;
    }
  
    .MDsFvsAnHM.wReBGoEDbA {
      padding-top: 72px;
    }
  
    .MDsFvsAnHM.eLjWxrcYMj.JBIuRXeHke {
      padding-top: 64px;
      padding-bottom: 64px;
    }
  
    .MDsFvsAnHM.eLjWxrcYMj.JBIuRXeHke.yAMmXXCIFQ {
      padding-top: 100px;
    }
  
    .MDsFvsAnHM.xgczLnAMrf {
      padding-bottom: 64px;
    }
  
    .MDsFvsAnHM.kOgdyPeIYI {
      padding-top: 160px;
    }
  
    .MDsFvsAnHM.SSgaPkhzbZ {
      padding-top: 24px;
    }
  
    .MDsFvsAnHM.vauJhkwBqe {
      padding-top: 100px;
    }
  
    .qznGbJHRWx {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .qznGbJHRWx.kQjSXNCBTI {
      padding-left: 8px;
      padding-right: 8px;
    }
  
    .ckwpUfpaPX {
      font-size: 26px;
    }
  
    .DVsGhoUemR {
      font-size: 20px;
    }
  
    .DVsGhoUemR.SOIgbfwbbr {
      font-size: 17px;
    }
  
    .IexRhtfORp {
      font-size: 15px;
      line-height: 130%;
    }
  
    .qnbYaSZdEd {
      font-size: 13px;
    }
  
    .NKkmMhDYTV {
      background-image: linear-gradient(to top, #1c3533, rgba(28, 53, 51, 0)), linear-gradient(rgba(28, 53, 51, .2), rgba(28, 53, 51, .2)), ;
      background-position: 0 0, 0 0, 65% 0;
      background-repeat: repeat, repeat, no-repeat;
      background-size: auto, auto, cover;
      padding: 64px 20px;
    }
  
    .biShtzFjiR {
      grid-template-columns: 1fr;
    }
  
    .SKCnoCUVGK {
      padding-top: 0;
    }
  
    .mHADTViCHj {
      grid-column-gap: 16px;
    }
  
    .iUBnUpvXUP.YqWfcBMZSx {
      grid-row-gap: 40px;
    }
  
    .KOMqiNuHti {
      font-size: 17px;
      line-height: 130%;
    }
  
    .GRasZzjiAO {
      grid-row-gap: 12px;
    }
  
    .lFZHqDYBVd {
      font-size: 16px;
    }
  
    .ckjAxlhdfQ, .sffBoOUSYx {
      height: 78vw;
    }
  
    .TrchVTQCWA {
      height: 120vw;
      max-height: 610px;
    }
  
    .VEwtWjFnyD {
      font-size: 16px;
    }
  
    .GIxQfukldQ {
      padding: 24px;
    }
  
    .SxSAoDdCdD {
      text-align: center;
      flex-direction: column;
      padding: 32px 24px;
    }
  
    .WxvoLdopdP {
      margin-bottom: 4px;
    }
  
    .jfqhzQJdqS {
      padding: 24px;
    }
  
    .BmDwrLWTwQ {
      height: 70vw;
      max-width: 100%;
    }
  
    .BWsvRbfBZv {
      padding: 24px 0;
    }
  
    .dcgMRDFBPs {
      grid-template-columns: 1fr;
    }
  
    .ncwAEeItEa {
      min-height: auto;
      padding: 40px;
    }
  
    .ZnvFxWgAhH {
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
    }
  
    .UxfYHqPmdx {
      height: 90vw;
    }
  
    .ahKpvAtrIM {
      height: 120vw;
    }
  
    .AtIDiKGajF {
      width: 70%;
      top: 80px;
      left: -24px;
    }
  
    .vmzDkpVsmJ {
      padding: 16px;
    }
  
    .tYYljYrkvY {
      margin-bottom: 0;
    }
  
    .rCGvHygLgg {
      font-size: 20px;
    }
  
    .xQukpAKeOw {
      grid-column-gap: 16px;
    }
  
    .EKELzwrEJI {
      width: 28px;
    }
  
    .iPSZMDUvKv {
      width: 25px;
      height: 25px;
    }
  
    .yKPyeFiEBS {
      width: 3px;
    }
  
    .LxzxNmdVwS {
      padding: 30px 24px;
    }
  }
  
  
  .lZNLEFBFxB {
    max-width: 100%;
    display: inline-block;
  }
  
   h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .HEyYRBqAcM {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .HEyYRBqAcM:before, .HEyYRBqAcM:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .HEyYRBqAcM:after {
    clear: both;
  }
  
  @media screen and (max-width: 991px) {
    .HEyYRBqAcM {
      max-width: 728px;
    }
  }
  
  @media screen and (max-width: 479px) {
    .HEyYRBqAcM {
      max-width: none;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  :root {
    --beige-background: #f4f1eb;
    --green: #1c3533;
    --accent-one: #75fb92;
    --white: #fcfbf9;
    --azure: #def1f0;
    --grey: #757b7b;
    --white-smoke: #efefef;
    --gainsboro: #e4e4e4;
    --background: whitesmoke;
    --tile: #dfdbd4;
    --sea-green: #219653;
    --dark-grey: #b1b1b1;
    --dark-grey-2: #8e8e8f;
    --stoke-white: #ededed;
  }
  
  .TPLJWICVDt {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  body {
    background-color: var(--beige-background);
    color: var(--green);
    
    font-size: 18px;
    line-height: 140%;
  }
  
  h3 {
    margin-top: 16px;
    margin-bottom: 12px;
    
    font-size: 22px;
    font-weight: 600;
    line-height: 140%;
  }
  
  p {
    margin-bottom: 0;
  }
  
  .pLOKxGXnXK {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .pLOKxGXnXK.fdvCbCmicm {
    background-color: var(--white);
    color: var(--green);
    padding-top: 108px;
    padding-bottom: 80px;
  }
  
  .hbmyInasuD {
    max-width: 1348px;
    padding-left: 24px;
    padding-right: 24px;
  }
  
  .mQNZCxyJci {
    height: 24px;
  }
  
  .RQLPuXaeSZ {
    font-weight: 500;
  }
  
  .DrBAXRQvys {
    grid-column-gap: 72px;
    grid-row-gap: 72px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .ABhgVWtnsl {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-direction: column;
    display: flex;
  }
  
  .oOdVNDMUDv {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
    line-height: 160%;
  }
  
  .qrlvicJmFe {
    grid-column-gap: 24px;
    display: flex;
  }
  
  .OgpFegqVeH {
    width: 100%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
    display: flex;
  }
  
  .XZUpKqxOHO {
    color: var(--green);
    font-size: 16px;
    font-weight: 500;
    line-height: 200%;
    text-decoration: none;
  }
  
  @media screen and (max-width: 991px) {
  
    h3 {
      font-size: 20px;
    }
  
    .DrBAXRQvys {
      grid-column-gap: 40px;
      grid-row-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media screen and (max-width: 767px) {
  
    .pLOKxGXnXK {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  
    .RQLPuXaeSZ {
      font-size: 16px;
      line-height: 136%;
    }
  }
  
  @media screen and (max-width: 479px) {
  
    h3 {
      font-size: 18px;
    }
  
    .hbmyInasuD {
      padding-left: 16px;
      padding-right: 16px;
    }
  
    .RQLPuXaeSZ {
      font-size: 17px;
      line-height: 130%;
    }
  
    .DrBAXRQvys {
      grid-template-columns: 1fr;
    }
  
    .dJPNSGfSfy {
      flex-direction: column;
      display: flex;
    }
  
    .qrlvicJmFe {
      grid-row-gap: 12px;
      flex-direction: column;
    }
  
    .XZUpKqxOHO {
      font-size: 18px;
    }
  }
  
  .lkfghjdl{
    padding-bottom: 230px;
  }
  
  .open {
    display: flex !important;
  }
  .lpmiTCFhsd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80px;
    /* background-color: var(--secondary-light); */
    color: #333;
    /* padding: 0 40px; */
  }
  .atbUevjMMy {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
  }
  .atbUevjMMy a {
    font-size: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 900;
  }
  .rIEenSoLUM {
    display: flex;
    justify-content: end;
    width: 700px;
  }
  .rIEenSoLUM a {
    color: #333;
    text-decoration: none;
    font-weight: 600;
  }
  .rIEenSoLUM ul {
    /* width: 100%; */
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 40px;
    flex-direction: row;
  }
  .nFwUCswWCW {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    z-index: 9999;
  }
  .nFwUCswWCW span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #333;
  }
  .nFwUCswWCW::before,
  .nFwUCswWCW::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #333;
    transition: all 0.5s ease 0s;
  }
  
  .nFwUCswWCW::before {
    top: 0;
  }
  .nFwUCswWCW::after {
    bottom: 0;
  }
  
  .DzsGaZwUpw {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hUfhiZioao {
    width: 100%;
    z-index: 9999;
  }
  @media (max-width: 991px) {
    .nFwUCswWCW {
      display: flex;
    }
  
    .rIEenSoLUM {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      overflow-y: auto;
      /* padding: 50px 40px; */
      background-color: #f4f1eb;
  
      background-size: 20px 20px;
      background-position: 0 0, 10px 10px;
      animation: nfrnrAnimation 0.5s;
      font-size: 30px;
    }
  
    .rIEenSoLUM ul {
      flex-direction: column;
      row-gap: 90px;
      align-items: center;
      padding: 0;
    }
  }
  
  @keyframes nfrnrAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes nfrnr2Animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .GiCbayfXuU {
    width: 100%;
    /* background-color: #377bfa; */
  }
  .qIBXLnNNSS {
    width: 100%;
    background-color: #f4f1eb;
  
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  