html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
main,
section {
  display: block;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #eee;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.GLNGHGtnzp {
  max-width: 100%;
  display: inline-block;
}

h1,
h2,
h3,
h5 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
  margin-top: 10px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(15, 15, 15);
  background-color: rgb(52, 52, 52);
  background: radial-gradient(circle at 13px 3px, rgb(15, 15, 15), rgb(0, 0, 0));

  color: #fff;
  font-size: 1vw;
  line-height: 1.5;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0.4em;
  font-size: 3.5em;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -1px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0.2em;
  font-size: 3em;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.8px;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0.4em;
  font-size: 2.2em;
  line-height: 1;
  font-weight: 500;
  letter-spacing: -0.6px;
}

h5 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  opacity: 0.6;
  font-size: 1.25em;
  line-height: 1;
  font-weight: 500;
}

p {
  margin-bottom: 1em;

  color: #cfcfcf;
  font-size: 1.25em;
  line-height: 1.5;
}

a {
  color: #fff;
  text-decoration: underline;
}

img {
  display: inline-block;
  max-width: 100%;
}

.rgWJsrJfMS {
  position: relative;
  overflow: hidden;
  padding-top: 5.5em;
  padding-bottom: 5.5em;
}

.rgWJsrJfMS.lNALkdwdiY {
  padding-top: 11em;
  padding-bottom: 5em;
}

.rgWJsrJfMS.ENibwrKJtR {
  overflow: hidden;
  padding-top: 0em;
  padding-bottom: 0em;
}

.rgWJsrJfMS.WWsfmoHbEM {
  overflow: visible;
  padding-top: 0em;
  padding-bottom: 0em;
}

.bCghXtIVAR {
  position: relative;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 5.5em;
  padding-left: 5.5em;
}

.bCghXtIVAR.nvkrpeNOSG {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bCghXtIVAR.fWGYakYpuC {
  padding-top: 4em;
  padding-bottom: 3em;
}

.NCxaArWLbS {
  position: relative;
  z-index: 3;
  display: inline-block;
  overflow: hidden;
  padding: 2em 4em;
  border-radius: 100px;
  background-color: #5ce115;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  color: #0f0f0f;
  font-size: 0.8em;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
}

.NCxaArWLbS.RTGcRmkgnL {
  border-style: none;
  background-color: #3a3a3a;
}

.NCxaArWLbS.XMpyQivabU {
  background-color: #fff;
}

.exZxglMrdv {
  margin-top: 2.5em;
}

.BNrHbCWSON {
  font-size: 3.5em;
  font-weight: 500;
}

.vxRLlexfWS {
  margin-bottom: 3.5em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.vxRLlexfWS.MnqFzrrJRD {
  width: 65%;
}

.vxRLlexfWS.ssBzBCKHgN {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.UbvUTjQHjh {
  margin: 0em;
}

.nwoTzcpLau {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5em;
  padding-bottom: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.aRLYMDiLEu {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 7em;
  grid-row-gap: 0px;
  -ms-grid-columns: minmax(200px, 32em) 1fr;
  grid-template-columns: minmax(200px, 32em) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.BZOxZNryKF {
  position: absolute;
  left: 0px;
  top: 0px;
  margin-bottom: 2em;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
}

.BZOxZNryKF:hover {
  opacity: 0.7;
}

.cnIYkFFwfJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5em;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.TzyoolnzPC {
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;

  color: hsla(0, 0%, 100%, 0.6);
  font-size: 0.9em;
}

.TzyoolnzPC:hover {
  color: #fff;
}

.zjYxHKEcpV {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.75em;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.mziUAEEOHt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.jdRtUVsYYG {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  opacity: 0.85;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 0.9em;
  line-height: 1;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.jdRtUVsYYG:hover {
  opacity: 1;
}

.jcmGoEwHdB {
  display: -ms-grid;
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.lvQxkFWPyz {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.rWuhNqwvhu {
  width: 100%;
  height: 17em;
  border-radius: 16px;
  -o-object-fit: cover;
  object-fit: cover;
}

.jjlPFhozWX {
  display: block;
  overflow: hidden;
  border-radius: 16px;
  transition: transform 1s ease;
}
.jjlPFhozWX:hover{
  transform: scale(1.1);
}

.GlxKdXruWE {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 15em;
  padding-top: 2em;
  padding-bottom: 0em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #fff;
  text-decoration: none;
}

.GlxKdXruWE:hover {
  color: hsla(0, 0%, 100%, 0.7);
}

.tTtFPInCtf {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #0f0f0f;
  background: radial-gradient(circle at 50% 50%,#2b2b2b, #373F1D);
  opacity: 0.4;
}

.zfFFyzNMFn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.zfFFyzNMFn.erUKFdQWsr {
  text-align: left;
}

.jNsqgVAQAC {
  width: 100%;
  max-width: 32em;
}

.SLpJIkZDCr {
  position: relative;
  width: 100%;
  max-width: 620px;
}

.SqCShtRgmJ {
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #fff;
  font-size: 1.25em;
  line-height: 1.5em;
  text-decoration: none;
}

.SqCShtRgmJ:hover {
  opacity: 0.7;
}

.vWzdEVtWYZ {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.qgyMWKEscL {
  display: -ms-grid;
  display: grid;
  margin-top: 4em;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1.5em;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.EzJtxxemjN {
  position: relative;
  z-index: 2;
  display: block;
  padding: 1.5em;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(92, 225, 21, 0.5);
  border-radius: 16px;
  background-color: #0f0f0f;
  color: #fff;
  text-decoration: none;
}

.vJoFBgGsWO {
  position: absolute;
  top: 50%;
  right: 3em;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.BmvUfvlKNR {
  overflow: hidden;
}

.jruAPnprfQ {
  position: relative;
  z-index: 2;
  font-size: 1.6em;
}

.rMhIaXlheF {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  padding-top: 102%;
  border-radius: 100%;
  background-color: #fff;
  -webkit-transform: translate(-101%, 0px);
  -ms-transform: translate(-101%, 0px);
  transform: translate(-101%, 0px);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}

.euLSGRnpDn {
  background-color: #5ce115;
}

.EekpQajMxZ {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 30%;
}

.JLQtAkvaCW {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 0 0 23px 12px rgba(17, 17, 17, 0.3);
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.cKJDLUhiau {
  margin-bottom: 0.6em;
  color: #ababab;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.cKJDLUhiau.UbvUTjQHjh {
  margin-bottom: 0em;
}

.CBSvAlOvJD {
  background-color: #171717;
}

.mTLfdGwtWg {
  background-color: #282828;
  position: relative;
  overflow: hidden;
}
.mTLfdGwtWg::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.221);
  transform: rotate(45deg);
  pointer-events: none;
  transition: transform 0.7s ease;
}

.mTLfdGwtWg:hover::before {
  transform: translateX(105%) rotate(45deg);
}
.DUzAftYscm {
  background-color: #4a4a4a;
}

.ucaVaVEkAG {
  color: #fff;
}

.MiRSqtLElW {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.MiRSqtLElW.lJZAflYmHo {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.MiRSqtLElW.dKFAwAvdcG {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.WRQyKCUlZC {
  position: relative;
  z-index: 3;
  padding: 2em;
  border-radius: 16px;
}

.WRQyKCUlZC.mtUqGkdTgh {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(92, 225, 21, 0.6);
}

.TJfRXDJRvq {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.SkuSanAdei {
  width: 3em;
}

.gUdueSkKxk {
  width: 100%;
  max-width: 33em;
}

.OPvEDtLwaX {
  overflow: hidden;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(92, 225, 21, 0.6);
  border-radius: 12%;
}

.OPvEDtLwaX.UohLqrHvNO {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  transform: rotateX(15deg) rotateY(19deg) rotateZ(3deg);
  transition: transform  1s ease;
}
.OPvEDtLwaX.UohLqrHvNO:hover{
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.UohLqrHvNO {
  width: 15em;
  height: 17em;
  -o-object-fit: cover;
  object-fit: cover;
}

.QUhslvDnIV {
  position: absolute;
  top: 50%;
  right: 5.5em;
  z-index: 3;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.uYmiAiGPnJ {
  position: absolute;
  left: 5.5em;
  top: 25%;
  z-index: 2;
}

.AOkSiZMpbV {
  padding-top: 3em;
  padding-bottom: 3em;
}

.tzAPeoEqaS {
  width: 100%;
  max-width: 30em;
}

.SknOTJNJaE {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.SknOTJNJaE.rGLxGHkNvL {
  left: auto;
  right: 0px;
}

.xoIgivrvBL {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.gXLFmLcHLz {
  width: 100%;
  max-width: 48em;
}

.KtduePSUPO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3em;
  height: 3em;
  margin-bottom: 1.5em;
  padding: 7px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background-color: #716d6d;
}

.VWzYJaoZys {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.FEoucUgWMu {
  margin-bottom: 4em;
}

.CJmJazievx {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 5em;
  grid-row-gap: 16px;
  -ms-grid-columns: minmax(200px, 35em) 1fr;
  grid-template-columns: minmax(200px, 35em) 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.YFEapjZyUL {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 23em;
  margin-top: 5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(92, 225, 21, 0.6);
  border-radius: 50px;
}

.nwAPwlmKkp {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.eRFrESpKkv {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 2.2em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.ZcrVFPZEvD {
  position: relative;
  padding-right: 2.2em;
}

.ZcrVFPZEvD.hvbpodJIvn {
  bottom: -1.5em;
}

.ZcrVFPZEvD.rGLxGHkNvL {
  top: -1.5em;
}

.BVKtJdmpJg {
  position: relative;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.NdHwvNQtLc {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 38em;
  height: 28em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(92, 225, 21, 0.6);
  border-radius: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.erklSvyiLy {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.ZKfbHlRFWJ {
  margin-bottom: 3.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.45);
}

.slFTCNjNBL {
  padding-top: 4em;
}

@media screen and (max-width: 991px) {
  body {
    font-size: 12px;
  }

  .rgWJsrJfMS.lNALkdwdiY {
    padding-top: 9em;
  }

  .bCghXtIVAR.nvkrpeNOSG {
    z-index: 3;
  }

  .vxRLlexfWS.MnqFzrrJRD {
    width: 80%;
  }

  .aRLYMDiLEu {
    grid-column-gap: 0.75em;
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cnIYkFFwfJ {
    max-width: 50%;
  }

  .jdRtUVsYYG {
    font-size: 14px;
  }

  .jcmGoEwHdB {
    grid-column-gap: 3em;
    grid-row-gap: 3em;
  }

  .rWuhNqwvhu {
    height: 11em;
  }

  .vWzdEVtWYZ {
    grid-column-gap: 2vw;
  }

  .MiRSqtLElW.dKFAwAvdcG {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .WRQyKCUlZC.DjNgkyUTze {
    padding: 0em;
  }

  .OPvEDtLwaX.UohLqrHvNO {
    width: 9em;
    height: 10em;
  }

  .SknOTJNJaE {
    width: 40%;
  }

  .CJmJazievx {
    grid-column-gap: 2.2em;
    grid-row-gap: 16px;
    -ms-grid-columns: minmax(200px, 45em) 1fr;
    grid-template-columns: minmax(200px, 45em) 1fr;
  }

  .YFEapjZyUL {
    margin-top: 2em;
  }

  .BVKtJdmpJg {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .NdHwvNQtLc {
    width: auto;
    height: 40vh;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    margin-bottom: 1vw;
    font-size: 7vw;
  }

  h2 {
    margin-bottom: 1vw;
    font-size: 6vw;
  }

  h3 {
    margin-bottom: 1vw;
    font-size: 5vw;
  }

  h5 {
    margin-bottom: 1vw;
    font-size: 3vw;
  }

  p {
    font-size: 1.2em;
  }

  .rgWJsrJfMS {
    padding-top: 7vw;
    padding-bottom: 7vw;
  }

  .rgWJsrJfMS.WWsfmoHbEM {
    padding-top: 4vw;
    padding-bottom: 4vw;
  }

  .bCghXtIVAR {
    padding-right: 4vw;
    padding-left: 4vw;
  }

  .NCxaArWLbS {
    padding: 3vw 7vw;
    font-size: 18px;
  }

  .vxRLlexfWS {
    margin-bottom: 4vw;
  }

  .vxRLlexfWS.MnqFzrrJRD {
    width: 100%;
  }

  .aRLYMDiLEu {
    grid-row-gap: 2em;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .cnIYkFFwfJ {
    max-width: 70%;
    margin-top: 1.3em;
    text-align: center;
  }

  .zjYxHKEcpV {
    padding-top: 10vw;
  }

  .jcmGoEwHdB {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }

  .jNsqgVAQAC {
    max-width: 60vw;
  }

  .SqCShtRgmJ {
    font-size: 3vw;
  }

  .vWzdEVtWYZ {
    grid-row-gap: 8vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .qgyMWKEscL {
    margin-top: 5vw;
    grid-row-gap: 4vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .jruAPnprfQ {
    font-size: 1em;
  }

  .EekpQajMxZ {
    height: 90%;
  }

  .MiRSqtLElW {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
  }

  .MiRSqtLElW.lJZAflYmHo {
    grid-row-gap: 4vw;
  }

  .WRQyKCUlZC {
    padding: 4vw;
  }

  .QUhslvDnIV {
    display: none;
  }

  .uYmiAiGPnJ {
    display: none;
  }

  .SknOTJNJaE {
    position: relative;
    top: -4vw;
    width: 100%;
    height: 40vh;
  }

  .xoIgivrvBL {
    grid-column-gap: 4vw;
    grid-row-gap: 4vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .CJmJazievx {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .eRFrESpKkv {
    margin-top: 4vw;
  }

  .ZcrVFPZEvD {
    padding-right: 4vw;
  }

  .BVKtJdmpJg {
    grid-column-gap: 2.2em;
    grid-row-gap: 4vw;
  }

  .NdHwvNQtLc {
    height: 45vw;
  }

  .erklSvyiLy {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .ZKfbHlRFWJ {
    margin-bottom: 5vw;
    padding-bottom: 2vw;
  }

  .slFTCNjNBL {
    padding-top: 0em;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    margin-bottom: 2vw;
    font-size: 10vw;
  }

  h2 {
    margin-bottom: 2vw;
    font-size: 9vw;
  }

  h3 {
    margin-bottom: 2vw;
    font-size: 7vw;
  }

  h5 {
    font-size: 16px;
  }

  p {
    margin-bottom: 3vw;
  }

  .rgWJsrJfMS {
    padding-top: 10vw;
    padding-bottom: 10vw;
  }

  .rgWJsrJfMS.lNALkdwdiY {
    padding-top: 32vw;
    padding-bottom: 10vw;
  }

  .rgWJsrJfMS.WWsfmoHbEM {
    padding-top: 7vw;
    padding-bottom: 7vw;
  }

  .bCghXtIVAR {
    padding-right: 7vw;
    padding-left: 7vw;
  }

  .NCxaArWLbS {
    padding: 5vw 11vw;
    font-size: 16px;
    letter-spacing: 0px;
  }

  .exZxglMrdv {
    margin-top: 6vw;
  }

  .exZxglMrdv.UbvUTjQHjh {
    margin-top: 0vw;
  }

  .BNrHbCWSON {
    font-size: 10vw;
  }

  .vxRLlexfWS {
    margin-bottom: 5vw;
  }

  .vxRLlexfWS.ssBzBCKHgN {
    display: -ms-grid;
    display: grid;
    justify-items: start;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 6vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .cnIYkFFwfJ {
    max-width: none;
    margin-top: 0em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .zjYxHKEcpV {
    padding-top: 50px;
    padding-right: 0em;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .jdRtUVsYYG {
    margin-top: 2vw;
    margin-bottom: 2vw;
    font-size: 12px;
    line-height: 1.2;
  }

  .jcmGoEwHdB {
    margin-top: 7vw;
    grid-column-gap: 3vw;
    grid-row-gap: 7vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .lvQxkFWPyz:nth-child(even) {
    top: auto;
  }

  .rWuhNqwvhu {
    height: 45vw;
  }

  .GlxKdXruWE {
    min-height: 12em;
  }

  .jNsqgVAQAC {
    max-width: none;
  }

  .SqCShtRgmJ {
    font-size: 5vw;
  }

  .MiRSqtLElW {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .MiRSqtLElW.dKFAwAvdcG {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .WRQyKCUlZC {
    padding: 5vw;
  }

  .SknOTJNJaE {
    top: -10vw;
  }

  .xoIgivrvBL {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .YFEapjZyUL {
    height: 65vw;
    margin-top: 4vw;
    border-radius: 30px;
  }

  .nwAPwlmKkp {
    border-radius: 30px;
  }

  .eRFrESpKkv {
    grid-column-gap: 0px;
    grid-row-gap: 7vw;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .ZcrVFPZEvD {
    padding-right: 0vw;
  }

  .ZcrVFPZEvD.hvbpodJIvn {
    bottom: auto;
  }

  .ZcrVFPZEvD.rGLxGHkNvL {
    top: auto;
  }

  .NdHwvNQtLc {
    height: 60vw;
    border-radius: 30px;
  }
}
.HvMvBKlxnE {
  position: relative;
  z-index: 1000;
  background-color: #384b38;
      background-color: #000000;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #292920 0, #292920 1px, #000000 0, #000000 50%);
}

.MJfnAQTXkY {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.lokrBSWuYW {
  font-size: 32px;
  font-weight: bold;
  color: #eee;
  transition: color 0.3s ease;
}

.lokrBSWuYW:hover {
  color: #6f6653;
}

.dnAivZlzjo {
  display: flex;
}

.dnAivZlzjo ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

.sOgwOJQWfh {
  font-size: 16px;
  font-weight: 600;
  color: #eee;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.sOgwOJQWfh:hover {
  color: #6f6653;
}

.JTzBbuHepL {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.HBAhrMRddg {
  width: 30px;
  height: 3px;
  background-color: #eee;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .dnAivZlzjo {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #384b38;
        background-color: #000000;
    opacity: 1;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #292920 0, #292920 1px, #000000 0, #000000 50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.4s ease;
    overflow: hidden;
  }

  .dnAivZlzjo ul {
    flex-direction: column;
    gap: 20px;
  }

  .JTzBbuHepL {
    display: flex;
  }
}

header {
  color: #333;
  
  padding-top: 10px;
}

.sXpkiTiEXx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.ZCrJTmGTCP a {
  color: #eee;
  font-size: 32px;
  text-decoration: none;
  transition: color 0.3s;
}
.ZCrJTmGTCP a:hover {
  color: #5ce11599;
  text-decoration: none;
}



nav {
  width: auto;
}

.GxfqDSsMmP {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.GxfqDSsMmP li {
  margin: 0 15px;
}

.GxfqDSsMmP a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.GxfqDSsMmP a:hover {
  color: #5ce11599;
}

@media (max-width: 768px) {
  .sXpkiTiEXx {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 10px;
  }

  .GxfqDSsMmP {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  .GxfqDSsMmP li {
    margin: 5px 0;
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate-on-scroll.show {
  opacity: 1;
  transform: translateY(0);
}