html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
}

body {
  margin: 0;
}

header,
main,
nav,
section {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.qwe {
  max-width: 100%;
  display: inline-block;
}

.wer {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

.werfg {
  margin: 0 0 15px;
}

.werfg-done {
  text-align: center;
  background-color: #ddd;
  padding: 20px;
  display: none;
}

.werfg-fail {
  background-color: #ffdede;
  margin-top: 10px;
  padding: 10px;
  display: none;
}

.lable {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
}

.sdv {
  width: 100%;
  height: 38px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.sdv:-moz-placeholder {
  color: #999;
}

.sdv::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.sdv::-webkit-input-placeholder {
  color: #999;
}

.sdv:focus {
  border-color: #3898ec;
  outline: 0;
}

textarea.sdv {
  height: auto;
}

.sdfs {
  position: relative;
}

.sdfs:before,
.sdfs:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.sdfs:after {
  clear: both;
}

.gnfd {
  position: relative;
}

.fsgaswf {
  vertical-align: top;
  text-align: left;
  cursor: pointer;
  color: #222;
  background-color: #ddd;
  padding: 9px 30px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.fsgaswf.sgvfdb {
  background-color: #c8c8c8;
}

.fsgaswf:focus {
  outline: 0;
}

.jhmj {
  display: block;
  position: relative;
  overflow: hidden;
}

.yrds {
  display: none;
  position: relative;
}

.sgtrhsedg {
  display: block;
}

@media screen and (max-width: 479px) {
  .fsgaswf {
    display: block;
  }
}

:root {
  --colors--light-navy: #1f2937;
  --colors--dark-navy: #111827;
  --fonts--heading-font: Inter, sans-serif;
  --colors--white: #fff2b0;
  --max-width--small: 26rem;
  --fonts--body-font: Inter, sans-serif;
  --colors--dim-grey: #4b5563;
  --max-width--medium: 32rem;
  --max-width--large: 48rem;
  --containers--large-container: 80rem;
  --border-radius--button: 0.25rem;
  --colors--dark-olive-green: #346042;
  --colors--honeydew: #d43aff;
  --colors--honeydew-light: #f6b0ff;
  --colors--medium-sea-green: #0023ea;
  --border-radius--large: 8rem;
  --max-width--medium-large: 40rem;
}

.tyjerhhj {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.htdfgr {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

body {
  color: var(--colors--light-navy);
  font-family: Inter, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.2;
}

h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

p {
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.25rem;
}

img {
  max-width: 100%;
  display: inline-block;
}

lable {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.fghjjkfrt {
  z-index: 1;
  position: relative;
}

.edhedgh {
  color: var(--colors--dark-navy);
}

.ghedg {
  color: gray;
}

.edggs {
  font-family: var(--fonts--heading-font);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.rghr {
  width: 3rem;
  height: 3rem;
}

.tshseh {
  font-family: var(--fonts--heading-font);
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1.2;
}

.tshseh.hero {
  color: var(--colors--white);
}

.thhd {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.fnf {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.rgter {
  width: 100%;
  max-width: var(--max-width--small);
}

.utt {
  font-family: var(--fonts--body-font);
  font-size: 1rem;
}

.utt.ghedg {
  color: var(--colors--dim-grey);
}

.etgsewgr {
  font-weight: 700;
}

.etgsewgwerfr {
  width: 100%;
  max-width: var(--max-width--medium);
}

.wqe {
  width: 100%;
  max-width: var(--max-width--large);
}

.rtyeh {
  font-family: var(--fonts--heading-font);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
}

.bhegv {
  font-weight: 600;
}

.ertehj {
  min-height: 3rem;
  background-color: var(--colors--white);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.5rem 1rem;
}

.ertehj.text-area {
  min-height: 8rem;
  padding-top: 0.75rem;
  resize: none;
}

.fgjrfh {
  font-family: var(--fonts--heading-font);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.ru6jr5e {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.ru6jr5e.padding-top-0 {
  padding-top: 0;
}

.ru6jr5e.padding-top-5 {
  padding-top: 5rem;
}

.ertgfe {
  font-family: var(--fonts--heading-font);
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.egewfg {
  font-family: var(--fonts--heading-font);
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.5;
}

.ergtbr {
  width: 100%;
  max-width: var(--containers--large-container);
  margin-left: auto;
  margin-right: auto;
}

.button {
  border-radius: var(--border-radius--button);
  background-color: var(--colors--light-navy);
  color: #fff;
  text-align: center;
  padding: 0.75rem 1.5rem;
  font-weight: 400;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: var(--colors--dark-navy);
}

.button.dhththtyht {
  color: var(--colors--dark-olive-green);
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgba(0, 0, 0, 0);
  padding: 0.25rem 0;
  font-weight: 600;
  text-decoration: underline;
  transition: color 0.2s, background-color 0.2s;
}

.button.dhththtyht:hover {
  color: var(--colors--light-navy);
}

.ergfewfr {
  font-family: var(--fonts--body-font);
  font-size: 1.15rem;
}

.ergfewfr.hero {
  color: #fff;
}

.button-group {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.terheg {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ehbgew {
  color: var(--colors--medium-sea-green);
}

.wgfrwgergaa {
  color: var(--colors--dark-olive-green);
}

.rsgwf {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.weeeerwe {
  position: relative;
}

.eghetg {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
}

.wefwefwf {
  min-height: 40rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 4rem;
  display: flex;
  position: relative;
}

.wefwefwf.align-bottom {
  min-height: 36.5rem;
  justify-content: flex-end;
}

.wefwefwf.align-top {
  justify-content: flex-start;
  padding-top: 8rem;
}

.sgerfiuk {
  width: 100%;
  padding-top: 1.5rem;
}

.wefq {
  width: 100%;
  padding-top: 2rem;
}

.wfwfwqqc {
  z-index: -1;
  border-radius: var(--border-radius--large);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.erthrtyj {
  z-index: 1;
  background-color: rgba(31, 41, 55, 0.05);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.erthrtyj.yjyjuyj {
  background-color: rgba(31, 41, 55, 0.13);
}

.ergheth {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.feermkiuy {
  font-weight: 600;
  display: inline-block;
}

.feermkiuy.wgfrwgergaa {
  font-family: var(--fonts--body-font);
  letter-spacing: 0;
  font-size: 1rem;
  line-height: 1.5;
}

.wergeg {
  border-radius: 0.5rem;
    padding: 0.5rem 4rem;
    display: inline-block;
}

.wergeg.w3rfe {
  background-color: var(--colors--honeydew);
}

.wergeg.ebnr {
  background-color: var(--colors--white);
  color: var(--colors--dark-olive-green);
}

.wgrnuk {
  z-index: 2;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: relative;
}

.qewfrefefe {
  padding-left: 5rem;
}

.rsgwhyj {
  width: 100%;
  padding-top: 0.5rem;
}

.qefewfggrgvv._fvbfb {
  border-radius: var(--border-radius--large);
  padding-bottom: 100%;
  position: relative;
  overflow: hidden;
  border: 5px solid #ff00f7;
}

.uiyiyiyi {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.sdvgf {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.fbhgt {
  width: 95%;
  max-width: 72rem;
  background-color: var(--colors--honeydew-light);
  border-radius: 1rem;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  border: 5px dashed #fd00ff;
}

.fbhgt.asdzx {
  border-radius: var(--border-radius--large);
  margin-left: auto;
}

.fbhgt.cnb {
  border-radius: var(--border-radius--large);
}

.sgegrerwg {
  padding-right: 5rem;
}

.dfhfrbn {
  padding-top: 5rem;
  padding-bottom: 5rem;
  position: relative;
}

.wgwgwgqq {
  z-index: 2;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
  position: relative;
}

.fvgvcwa {
  height: 85%;
  background-color: var(--colors--honeydew-light);
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.tehrnh {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  display: grid;
}

.ryjhgn {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  border-left: 1px solid var(--colors--honeydew-light);
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rtyijkk {
  background-color: rgba(0, 0, 0, 0);
  border-left: 3px solid rgba(0, 0, 0, 0);
  padding: 1.5rem 0 1.5rem 2rem;
  display: block;
}

.rtyijkk.sgvfdb {
  border-left-width: 3px;
  border-left-color: var(--colors--medium-sea-green);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0);
}

.ghdbvd {
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  display: grid;
}

.frjhfn {
  border-radius: var(--border-radius--large);
  background-color: var(--colors--honeydew-light);
  padding: 2.5rem;
}

.wvgsevgsewvg.ternh4j {
  color: var(--colors--light-navy);
}

.ternh4j {
  background-color: var(--colors--honeydew-light);
  color: var(--colors--light-navy);
}

.wgsce {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  flex-wrap: wrap;
  display: flex;
}

.rgnyjtb {
  background-color: var(--colors--white);
    border-radius: 0.25rem 2.5rem;
    padding: 0.75rem 1rem;
}

.qewqeqf {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.ukyjtj {
  width: 100%;
  padding-top: 5rem;
}

.tumkjtj {
  grid-column-gap: 0rem;
  grid-row-gap: 0rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: start;
  display: grid;
}

.wrghwf {
  width: 100%;
  height: 100%;
  color: var(--colors--medium-sea-green);
  flex-direction: column;
  align-items: center;
  padding: 2rem 1.5rem;
  transition: all 0.2s;
  background-color: #e294ff5e;
}

.wrghwf:hover {
  background-color: var(--colors--honeydew-light);
  color: var(--colors--dark-navy);
}

.rtjdr {
  width: 100%;
  padding-top: 4rem;
}

.vgswvb {
  width: 100%;
  border-top: 1px solid var(--colors--honeydew-light);
  border-bottom: 1px solid var(--colors--honeydew-light);
}

.itlkgkym {
  width: 100%;
}

.sdfvgwaq {
  min-height: 40rem;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 4rem;
  display: flex;
  position: relative;
}

.hjryhr {
  background-color: var(--colors--honeydew-light);
  color: var(--colors--light-navy);
  border-radius: 1rem;
  padding: 2.5rem;
}

.tnjuy {
  font-family: var(--fonts--body-font);
  font-size: 2rem;
  line-height: 1.4;
}

.hjryhr-width {
  width: 100%;
  max-width: 27rem;
}

.qfdsac {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.rhjrjhrhj {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.rhjrjhrhj-item {
  font-family: var(--fonts--body-font);
  color: #050c35;
  background-image: url("../images/p.svg");
  background-position: 0 6px;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 40px;
}

.egrar4.ternh4j {
  color: var(--colors--light-navy);
}

.wefwfbjy {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 0.75fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.werf2w {
  border-bottom: 1px solid #000;
}

.wefehtyjk {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.gntbv {
  cursor: pointer;
  border-top: 1px solid #000;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: flex;
}

.fesdvgw {
  width: 2rem;
  align-self: flex-start;
  margin-left: 1.5rem;
  display: flex;
}

.swgvav {
  overflow: hidden;
}

.sbgwv3.tnheg {
  color: var(--colors--light-navy);
}

.kukyk {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: stretch;
  display: grid;
}

.bgetv {
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 0;
}

.iolkyk {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tnheg {
  background-color: var(--colors--honeydew);
  color: var(--colors--light-navy);
}

.ehwqgawq {
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: end;
  display: grid;
}

.ehwqgawq-right {
  grid-column-gap: 2rem;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.blog-item-qefewfggrgvvhh {
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.erwherg {
  grid-column-gap: 2.5rem;
  display: flex;
}

.wrgheth {
  max-height: 7rem;
}

.erwgws {
  grid-column-gap: 8rem;
  display: flex;
}

.rtyhjrh {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.erwgwsper {
  grid-row-gap: 0.5rem;
  flex-direction: column;
  display: flex;
}

.jyjrhherty {
  color: var(--colors--dim-grey);
  margin-top: 0;
  text-decoration: none;
}

.jyjrhherty:hover {
  color: rgba(26, 27, 31, 0.75);
}

.ewqffg {
  width: 100%;
  height: 1px;
  background-color: var(--colors--honeydew-light);
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.rewgqqq {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.rewgqqq-text {
  color: var(--colors--dim-grey);
}

.tehh {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 0.4fr 0.6fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.wrgwqw {
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}

.kuyyk {
  position: relative;
}

.tershbgv {
  width: 2px;
  height: 65%;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 7%;
  left: 2rem;
  right: auto;
}

.aqefgt2q34t {
  width: 2px;
  height: 100%;
  background-color: var(--colors--medium-sea-green);
}

.ehjwgr {
  grid-column-gap: 2.5rem;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: max-content 1fr;
}

.ehjwgr-left {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  position: relative;
}

.timeline-icon-wrapper {
  z-index: 1;
  background-color: #fff;
  margin-top: -1rem;
  padding: 1rem;
  position: relative;
}

.ehjwgr-right {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.efwgg {
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--colors--medium-sea-green);
  border-radius: 100%;
}

.efwgg-wrapper {
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wgervf {
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr max-content;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: start;
  display: grid;
}

.erthnnnn {
  flex: 1;
}

.ewger {
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.terjhr {
  z-index: 3;
  width: 500px;
  max-width: 100%;
  position: static;
  top: -4rem;
  bottom: auto;
  left: auto;
  right: 0%;
}

.sryj {
  z-index: 3;
  width: 250px;
  max-width: 50%;
  margin-right: 0;
  position: static;
  top: auto;
  bottom: -4rem;
  left: auto;
  right: 4rem;
}

.rahgerht {
  z-index: 3;
  grid-row-gap: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.aqefwgv {
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  display: grid;
}

.rwheh {
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}

.ewqfgw {
  background-color: var(--colors--honeydew-light);
  border: 1px #000;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding: 2rem;
}

.ewqfgw.eqgfwc3-1 {
  top: 30%;
}

.ewqfgw.eqgfwc3-2 {
  top: 32%;
}

.ewqfgw.eqgfwc3-3 {
  top: 34%;
}

.rwgherwh {
  height: 100%;
}

.wegwgh {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.blog-item-qefewfggrgvv {
  border-radius: 1rem;
  padding-bottom: 65%;
  position: relative;
  overflow: hidden;
}

.blog-item-uiyiyiyi {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 6px 24px rgba(30, 58, 138, 0.1);
}

.dhththtyht {
  color: #fff;
  text-align: center;
  background-color: #1e3a8a;
  border-radius: 3px;
  padding: 0.75rem 1.5rem;
  font-weight: 700;
}

.etgsewgwerfr-large {
  width: 100%;
  max-width: var(--max-width--medium-large);
}

.hero-dhththtyht {
  color: #fff;
}

.sbn {
  width: 100%;
  padding-top: 3rem;
}

.ptuoioyk {
  margin-top: 3rem;
}

@media screen and (max-width: 991px) {
  .tshseh.hero {
    color: var(--colors--light-navy);
  }

  .ru6jr5e {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .ergfewfr.hero {
    color: var(--colors--light-navy);
  }

  .terheg {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .wefwefwf {
    grid-row-gap: 3rem;
    padding: 2rem 0 0;
  }

  .wfwfwqqc {
    width: 100%;
    padding-bottom: 60%;
    position: relative;
  }

  .wfwfwqqc.quote {
    padding-bottom: 0%;
    position: absolute;
  }

  .wgrnuk {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .qewfrefefe {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .qefewfggrgvv._fvbfb {
    padding-bottom: 60%;
  }

  .sdvgf {
    padding: 2.5rem;
  }

  .sdvgf.consultation {
    grid-row-gap: 3rem;
    flex-direction: column;
    display: flex;
  }

  .fbhgt {
    width: 100%;
  }

  .dfhfrbn {
    padding: 2.5rem;
  }

  .wgwgwgqq {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .tehrnh,
  .ghdbvd {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .tumkjtj {
    grid-template-columns: 1fr 1fr;
  }

  .vgswvb {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .sdfvgwaq {
    min-height: 32rem;
    padding: 2.5rem;
  }

  .qfdsac {
    grid-column-gap: 2.5rem;
    grid-template-columns: 1fr 1fr;
  }

  .wefwfbjy {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .kukyk {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
  }

  .ehwqgawq {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .blog-item-qefewfggrgvvhh {
    grid-row-gap: 3rem;
    flex-wrap: wrap;
  }

  .erwgws {
    width: 100%;
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    justify-content: space-between;
  }

  .rtyhjrh {
    flex: none;
  }

  .rewgqqq {
    align-items: flex-start;
  }

  .tehh {
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
  }

  .wrgwqw {
    top: 6rem;
  }

  .ehjwgr {
    grid-column-gap: 24px;
  }

  .wgervf {
    grid-column-gap: 3rem;
  }

  .erthnnnn {
    margin-right: 3rem;
  }

  .ewger {
    flex: none;
  }

  .sryj {
    margin-left: 0;
    margin-right: 0;
  }

  .rahgerht {
    grid-column-gap: 2.5rem;
    flex-direction: row;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    position: static;
  }

  .aqefwgv {
    min-height: auto;
    grid-column-gap: 3rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .rwheh {
    position: static;
    top: 6rem;
  }

  .hero-dhththtyht {
    color: var(--colors--light-navy);
  }

  .sbn {
    padding-top: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .edggs {
    font-size: 1.5rem;
  }

  .tshseh {
    font-size: 2.5rem;
  }

  .thhd {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .fnf {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .rtyeh {
    font-size: 1rem;
  }

  .fgjrfh {
    font-size: 0.75rem;
  }

  .fgjrfh.ehbgew {
    font-size: 1rem;
  }

  .ru6jr5e {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .ertgfe {
    font-size: 2rem;
  }

  .egewfg {
    font-size: 1rem;
  }

  .terheg {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .eghetg {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
  }

  .wefwefwf {
    min-height: 0;
    padding: 3rem 0 0;
  }

  .wefwefwf.align-bottom {
    min-height: 0;
  }

  .wgrnuk {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .sdvgf,
  .dfhfrbn {
    padding: 1.3rem;
  }

  .wgwgwgqq {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .tehrnh {
    grid-column-gap: 0px;
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .ghdbvd {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .frjhfn {
    padding: 1.3rem;
  }

  .wgsce {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }

  .ukyjtj {
    padding-top: 3rem;
  }

  .tumkjtj {
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
  }

  .sdfvgwaq {
    min-height: 25rem;
    padding: 2rem;
  }

  .tnjuy {
    font-size: 1.5rem;
  }

  .qfdsac {
    grid-row-gap: 2.5rem;
    grid-template-columns: 1fr;
  }

  .wefwfbjy {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .gntbv {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .fesdvgw {
    width: 1.75rem;
  }

  .kukyk {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .ehwqgawq {
    grid-column-gap: 1.25rem;
    grid-row-gap: 1.25rem;
    grid-template-columns: 1fr;
  }

  .erwgws {
    width: 100%;
    grid-column-gap: 5rem;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .rewgqqq {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .rewgqqq-text {
    font-size: 14px;
    line-height: 20px;
  }

  .tehh {
    grid-template-columns: 1fr;
  }

  .wrgwqw {
    position: static;
  }

  .tershbgv {
    left: 1.5rem;
  }

  .timeline-icon-wrapper {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .wgervf {
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
  }

  .erthnnnn {
    margin-right: 0;
  }

  .ewger {
    width: 100%;
    justify-content: flex-end;
  }

  .aqefwgv {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rwheh {
    position: static;
  }

  .sbn {
    padding-top: 2rem;
  }
}

@media screen and (max-width: 479px) {
  .tshseh {
    font-size: 2.2rem;
  }

  .ru6jr5e {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .egewfg,
  .ergfewfr.hero {
    font-size: 1rem;
  }

  .wefwefwf.align-top {
    padding-top: 4rem;
  }

  .sgerfiuk {
    padding-top: 1.2rem;
  }

  .wfwfwqqc.quote {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-bottom: 60%;
    position: relative;
  }

  .wgrnuk {
    grid-template-columns: 1fr;
  }

  .sgegrerwg {
    padding-right: 0;
  }

  .wgwgwgqq,
  .tehrnh,
  .ghdbvd {
    grid-template-columns: 1fr;
  }

  .rgnyjtb {
    font-size: 0.85rem;
  }

  .tumkjtj {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .wrghwf,
  .sdfvgwaq {
    padding: 0;
  }

  .hjryhr {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .tnjuy {
    font-size: 1.25rem;
  }

  .qfdsac {
    grid-row-gap: 30px;
    grid-template-columns: 1fr;
  }

  .wefwfbjy,
  .kukyk {
    grid-template-columns: 1fr;
  }

  .contact-map-wrapper {
    max-height: 300px;
  }

  .ehwqgawq {
    grid-template-columns: 1fr;
  }

  .ehwqgawq-right {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
  }

  .blog-item-qefewfggrgvvhh {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .erwherg {
    grid-row-gap: 2rem;
    flex-direction: column;
  }

  .erwgws {
    grid-column-gap: 0rem;
    grid-row-gap: 3rem;
    flex-direction: column;
  }

  .rtyhjrh {
    margin-top: 0;
  }

  .ewqffg {
    margin-top: 3rem;
  }

  .rewgqqq {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .tehh {
    grid-template-columns: 1fr;
  }

  .tershbgv {
    height: 65%;
    top: 5%;
  }

  .wgervf {
    grid-template-columns: 1fr;
  }

  .ewger {
    justify-content: flex-start;
  }

  .sryj {
    max-width: 100%;
  }

  .rahgerht {
    grid-row-gap: 1rem;
    flex-direction: column;
  }

  .aqefwgv {
    grid-template-columns: 1fr;
  }

  .contact-map-embed {
    height: 100%;
  }
}

#ewfg234r {
  grid-area: 1 / 1 / 2 / 2;
}

/* ------------------ */
.open {
  display: flex !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: var(--colors--honeydew-light);
  color: #333;
  padding: 0 40px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 60;
}
.logo span {
  text-decoration: none;
}
.logo a {
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
}
.logo a:hover {
  color: #884949;
  transition: color 0.5s ease;
}
.nav {
  display: flex;
  width: 700px;
  padding: 0 40px;
}
.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav li {
  text-align: center;
}
.nav a {
  text-decoration: none;
  color: #333;
}
.burger {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}
.burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #333;
}
.burger::before,
.burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #333;
  transition: all 0.5s ease 0s;
}
.burger::before {
  top: 0;
}
.burger::after {
  bottom: 0;
}
.burger.active span {
  transform: scale(0);
}
.burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.burger.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

@media (max-width: 991px) {
  .burger {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: var(--colors--honeydew-light);
    animation: burgerAnimation 0.5s;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 30px;
  }

  .nav a {
    font-size: 20px;
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 30px;
  }
}

@keyframes burgerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.check {
  text-decoration: none;
}
.gift-types-strip {
  padding-bottom: 50px;
}
