* {
  padding: 0;
  margin: 0;
  border: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
.main-container {
  max-width: 1170px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}
/* -------------------------- */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000;
  border-bottom: 1px solid;
  margin-bottom: 30px;
}
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.header-logo {
  font-weight: 700;
  font-size: 24px;
  color: #cd8900;
  margin-left: 40px;
  transition: color 0.2s linear;
}

.header-logo span {
  color: brown;
}
.header-logo:hover {
  color: blueviolet;
  transition: color 0.2s linear;
}

.header-menu a {
  padding-right: 40px;
}
.header-menu a:hover {
  color: brown;
  transition: color 0.2s linear;
}
/* ------------------ */
.header {
  background-color: #333;
  color: #fff;
}

.main-container {
  width: 80%;
  margin: 0 auto;
}

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 1.5em;
}

.header-logo a {
  text-decoration: none;
  color: #fff;
}

.header-logo span {
  color: #ffd700;
}

.header_burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.header_burger span {
  height: 5px;
  width: 30px;
  background: #fff;
  margin: 6px 0;
}

.header-menu {
  display: flex;
}

.header-menu a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.header-menu a:hover {
  color: #ffd700;
}

@media only screen and (max-width: 767px) {
  .header_burger {
    display: flex;
  }

  .header-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
  }

  .header-menu.show-menu {
    display: flex;
    align-items: end;
  }

  .header-menu a {
    margin: 20px 0;
  }
}

/* ------------------------ */
.hero {
  margin-top: 80px;
}
.hero-container {
  width: 100%;
  height: 70vh;
  background-image: url(../imgs/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: all 0.3s linear;
}
.hero-desc {
  position: absolute;
  left: 50px;
  bottom: 170px;
  color: #eee;
  max-width: 450px;
  background: #3333339c;
  padding: 20px;
  margin-right: 20px;
  transition: all 0.3s linear;
}
.hero-desc h2 {
  padding-bottom: 30px;
}
@media (max-width: 767px) {
  .hero-container {
    height: 50vh;
    transition: all 0.3s linear;
  }
  .hero-desc {
    left: 20px;
    bottom: 120px;
    transition: all 0.3s linear;
  }
}
@media (max-width: 424px) {
  .hero-container {
    height: 40vh;

    transition: all 0.3s linear;
  }
  .hero-desc {
    left: 20px;
    bottom: 15px;
    transition: all 0.3s linear;
  }
}
/* --------------------------- */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -120px;
  z-index: 10;
  position: relative;
}
.card-serv {
  width: 30%;
  min-width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #dcdcdc;
  margin: 0px 30px;
  gap: 20px;
  padding: 30px;
  box-shadow: 0px 0px 20px 5px #838383;
}
.card-serv-icon {
  display: flex;
  justify-content: center;
}
.card-serv-icon img {
  width: 80px;
}
@media (max-width: 767px) {
  .card-container {
    flex-wrap: wrap;
    margin-top: -70px;
    transition: all 0.5s linear;
  }
  .card-serv {
    margin-bottom: 20px;
    width: 70%;
  }
}
@media (max-width: 424px) {
  .card-serv {
    width: 100%;
  }
  .card-container {
    margin-top: 10px;
  }
}
/* ------------------ */
.history {
  margin-top: 90px;
  margin-bottom: 80px;
}
.history-text {
  width: 50%;
}
.history-title {
  width: 40%;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 30px;
}
.history-desc {
  width: 50%;
  text-align: center;
  margin-left: 50px;
}
.history-stat {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-left: 50px;
  font-size: 24px;
  color: #9f7928;
  margin-top: 30px;
}
.history-stat-item {
  text-align: center;
  margin: 10px;
}
.history-stat-item span {
  display: block;
  font-size: 16px;
  color: #c4a642;
  text-align: center;
}
.history-container {
  display: flex;
}
.history-img {
  width: 50%;
  position: relative;
}
.history-img img {
  width: 300px;
}
.img-2 {
  position: absolute;
  top: 50px;
  right: 180px;
}
.img-1 {
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 1;
}
.img-3 {
  position: absolute;
  top: 140px;
  right: 60px;
  z-index: 2;
}
@media (max-width: 767px) {
  .history-container {
    flex-direction: column;
    transition: all 0.5s linear;
  }
  .history-text {
    width: 100%;
    transition: all 0.5s linear;
  }
  .history-title {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: all 0.5s linear;
  }
  .history-desc {
    width: 100%;
    margin: 0 auto;
    transition: all 0.5s linear;
  }
  .history-stat {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
    transition: all 0.5s linear;
  }
  .history-img img {
    width: 200px;
    transition: all 0.5s linear;
  }
  .history-img {
    width: 80%;
    margin-top: 40px;
  }
}
@media (max-width: 500px) {
  .img-1 {
    position: absolute;
    top: -10px;
    right: -60px;
    z-index: 1;
  }

  .img-2 {
    position: absolute;
    top: 50px;
    right: 80px;
  }
  .img-3 {
    position: absolute;
    top: 110px;
    right: -20px;
    z-index: 2;
  }
}
@media (max-width: 424px) {
  .img-1 {
    position: absolute;
    top: -10px;
    right: -60px;
    z-index: 1;
  }
  .img-2 {
    position: absolute;
    top: 100px;
    right: 30px;
  }
  .img-3 {
    position: absolute;
    top: 210px;
    right: -60px;
    z-index: 2;
  }
  .history-stat-item span {
    font-size: 14px;
  }
}
/* -------------------------- */
.block-bg {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
.block-left-title {
  margin-bottom: 30px;
}
.right-btn {
  background-color: #fec934;
  padding: 14px 18px;
  color: #eee;
  transition: all 0.3s linear;
}
.right-btn:hover {
  background-color: #e1a602;
  transition: all 0.3s linear;
}
.block-bg-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  padding: 80px 50px;
}
@media (max-width: 767px) {
  .block-bg-container {
    margin-top: 300px;
  }
}
@media (max-width: 424px) {
  .block-bg-container {
    margin-top: 360px;
  }
  .block-bg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
  }
}
/* ---------------- */
.price {
  margin-top: 50px;
}
.price-title-main {
  display: flex;
  justify-content: center;
}
.price-container {
  background-image: url(../imgs/price-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
}
.price-title {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 130px;
}
.price-title h2 {
  background-color: #dddede;
  padding: 10px;
}
.price-card {
  background-color: #eeeeeeed;
  text-align: center;
  width: 30%;
}
.price-card-img img {
  width: 30%;
}
.price-card-img {
  padding: 10px 0;
}
.price-card-title {
  padding: 10px 0;
}
.price-card-text {
  padding: 10px 0;
}
.price-btn {
  background-color: #f49720;
  padding: 14px 18px;
  margin: 20px;
  box-shadow: 5px 5px 10px 0 #727272;
  text-wrap: nowrap;
}
.price-card {
  align-items: center;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
}
.price-card-btn {
  margin: 30px 0;
}

.price-price {
  font-weight: 700;
  font-size: 24px;
  width: 70px;
  height: 70px;
  background: #bcbcbc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #e1a602;
}
.price-cards {
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .price-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .price-card {
    width: 80%;
  }
  .price-title {
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;
  }
}
/* -------------------------- */
.reviews {
  margin: 50px 0;
}
.reviews-title {
  margin: 20px 0;
  text-align: center;
}
.reviews-slider {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.review {
  display: none;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-name {
  font-weight: bold;
}

.user-review {
  margin-top: 10px;
}

.prev-button,
.next-button {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* --------------------- */
.blog {
  padding: 40px 0;
}
.blog-title {
  text-align: center;
  margin: 30px 0;
}
.custom-container {
  max-width: 1200px;
  margin: 0 auto;
}

.custom-posts-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.custom-col-lg-4 {
  flex: 0 0 calc(33.3333% - 20px);
  box-sizing: border-box;
}

.custom-post {
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #624207 0%,
      #875303 8%,
      #7a5011 30%,
      #6e6223 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #c0c0c0 0%,
      #73730d 8%,
      #8c7833 25%,
      #3c3315 62.5%,
      #3c3315 100%
    );
  padding: 20px;
  border-radius: 8px;
}

.custom-post-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #eee;
}

.custom-post-content {
  font-size: 14px;
  color: #eee;
}

.custom-col-lg-4 {
  flex: 0 0 100%;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .custom-col-lg-4 {
    flex: 0 0 calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .custom-col-lg-4 {
    flex: 0 0 calc(33.3333% - 20px);
  }
}
/* ------------ */
.about {
  padding: 40px 0;
}
.custom-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.custom-column {
  flex: 1;
}

.custom-content {
}

.custom-image {
  max-width: 100%;
  height: auto;
}
.custom-content h3,
p {
  margin: 30px 0;
}
@media (max-width: 767px) {
  .custom-row {
    flex-direction: column;
  }
  .custom-column {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .custom-column img {
    max-width: 70%;
  }
}
/* ----------------- */
.team {
  padding: 40px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 1;
  margin: 0 15px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.section-header {
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .row {
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 40px;
  }
}
/* ---------------- */
.description {
  text-align: center;
  margin: 40px 0;
}
/* ------------------ */
form {
  width: 300px;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  resize: none;
}

button {
  background-color: #bc8c2b;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #fcb931;
}

.contact-info {
  max-width: 400px;
  margin: 20px auto;
}
.contact-cont {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.contact-title {
  text-align: center;
  margin: 20px 0;
}
.contact {
  margin: 40px 0;
  padding: 30px 0;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
}
.check-block {
  display: flex;
}

.contact a:hover {
  color: #df9a0f;
}
.form-check-block {
  width: 100%;
  margin-bottom: 0;
  display: flex;
  gap: 5px;
  text-wrap: nowrap;
}
.check-block-cont {
  width: 10%;
}
.privacy {
  margin: 30px 0;
}
.privacy h3 {
  text-align: center;
  margin: 30px 0;
}
.privacy-cont {
  display: flex;
  justify-content: center;
  gap: 60px;
}
.copyright {
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .contact-cont {
    flex-direction: column;
  }
  form {
    width: 70%;
  }
}
/* -------------- */
.disclaimer-container {
  margin-top: 110px;
}
.privacy-container {
  margin-top: 110px;
}
