/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
  color: inherit;
}
a {
}
a:hover {
  text-decoration: none;
  color: #5463bd;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*--------------------*/

body._lock {
  overflow: hidden;
}

.header_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 50px;
  height: 70px;
}

.header_logo {
  display: flex;
  align-items: center;
  z-index: 10;
  font-size: 24px;
  font-weight: 700;
}
.header_logo img {
  width: 40px;
  margin-right: 20px;
}
.header_logo a {
  color: #000000;
}
.hearder_list {
  display: flex;
}

.hearder_list_link {
  margin: 0 20px;
  font-size: 15px;
  text-transform: uppercase;
}
.hearder_list_link_active a {
  margin: 0 20px;
  font-size: 15px;
  text-transform: uppercase;
  color: #54bd9f;
}

.header_burger {
  display: none;
}

/* ---------------------hero--------------------- */
.hero_container {
  background: url(../images/hero.jpg) no-repeat;
  background-position: center;
  width: 100%;
  height: 60vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_title {
  background: #c7c7c7bf;
  padding: 30px;
  width: 600px;
}
.hero_title h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.hero_title p {
  text-align: center;
}
/* ---------------------about--------------------- */
.about {
  margin-top: 100px;
}

.about_container {
  margin: 0 auto;
}
.about_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.about_container p {
  margin: 20px 0;
}

/* ---------------------peculiarities--------------------- */
.peculiarities {
  margin-top: 100px;
}
.peculiarities_container {
  margin: 0 auto;
}
.peculiarities_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.peculiarities_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
}
.card_figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #cfcfcf;
  border-radius: 50%;
  border: 1px solid #646464;
}
.card_figure img {
  width: 35%;
}
.card_title {
  font-size: 24px;
  margin: 20px 0;
}

/* ---------------------special--------------------- */
.special_ico {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.special_ico img {
  width: 85px;
}
.special_offer {
  margin-top: 100px;
  background-color: #54bd9f;
  padding: 50px 0px;
}
.special_container {
  margin: 0 auto;
}
.special_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.special_container p {
  margin: 20px 0;
}
.special_btn {
  background: #8afd5000;
  border: 2px solid #c9c6c6;
  padding: 10px;
}
.special_btn:hover {
  border: 2px solid #2d2d2d;
  color: #5463bd;
}
.special_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------------project--------------------- */
.project {
  margin-top: 100px;
}
.project_container {
  margin: 0 auto;
}
.project_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.project_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
}

.card_img img {
  width: 100%;
}
.card_title {
  font-size: 24px;
  margin: 20px 0;
}
.project_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* ---------------------mission--------------------- */
.mission {
  margin-top: 100px;
}
.mission_container {
  margin: 0 auto;
}
.mission_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.mission_card_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.mission_card_img img {
  width: 100%;
}
.mission_card_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mission_card {
  width: 47%;
}
.mission_card_text {
  margin-top: 30px;
}

/* ---------------------footer--------------------- */
.footer {
  margin-top: 100px;
  padding-top: 30px;
  background: #54bd9f;
}
.footer_container {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footer_card {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 200px;
}

.footer_card li {
  padding: 5px 0px;
}
.footer_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.footer a:hover {
  color: #377a67;
}

/* ---------------------copyright--------------------- */
.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}
.copyright p {
}

.wrapper {
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

/* ---------------------price hero--------------------- */

.hero_price_container {
  background: url(../images/hero_2.jpg) no-repeat;
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: bottom;
}

.hero_price_title {
  background: #c7c7c7bf;
  padding: 10px;
}
.hero_price_title h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.hero_price_title p {
  text-align: center;
}
.hero_price_castom {
  width: 100%;
  display: flex;
  padding-top: 20px;
}
.hero_price_castom_container {
  margin: 0 auto;
  padding: 5px;
  background: #c7c7c7bf;
}
/* ---------------------contact hero--------------------- */

.hero_contact_container {
  background: url(../images/hero_2.jpg) no-repeat;
  width: 100%;
  height: 30vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-position: center;
}

.hero_contact_title {
  background: #c7c7c7bf;
  padding: 10px;
}
.hero_contact_title h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.hero_contact_title p {
  text-align: center;
}
.hero_contact_castom {
  width: 100%;
  display: flex;
  padding-top: 20px;
}
.hero_contact_castom_container {
  margin: 0 auto;
  padding: 5px;
  background: #c7c7c7bf;
}

/* ---------------------price--------------------- */
.price {
  margin-top: 100px;
}
.price_container {
  margin: 0 auto;
}
.price_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.price_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  min-width: 200px;
  border: 1px solid #333;
  padding: 10px;
}
.price_card_img {
  position: relative;
}
.price_price {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #3deebc;
  padding: 15px;
}
.price_card_img img {
  width: 100%;
}
.price_card_title {
  font-size: 24px;
  margin: 20px 0;
  background: #54bd9f;
  width: 100%;
  padding: 5px;
  text-align: center;
}
.price_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  width: 100%;
}
.price_btn {
  background: #54bd9f;
  border: 2px solid #c9c6c6;
  padding: 10px;
  width: 100%;
}
.price_btn:hover {
  background: #3deebc;
  border: 2px solid #000000;
  padding: 10px;
  width: 100%;
}
.price_link {
  width: 100%;
}
.about_dopbg {
  margin-top: 100px;
  background: url(../images/dopbg.jpg) no-repeat;
  background-position: center;
  width: 100%;
  background-size: cover;
  padding: 30px;
  color: #eee;
}

/* ---------------------price_about--------------------- */
.price_about {
  margin-top: 100px;
}

.price_about_container {
  margin: 0 auto;
}
.price_about_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.price_about_container p {
  margin: 20px 0;
}
/* ---------------------contact_about--------------------- */
.contact_about {
  margin-top: 100px;
}

.contact_about_container {
  margin: 0 auto;
}
.contact_about_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.contact_about_container p {
  margin: 20px 0;
}

/* ---------------------team--------------------- */
.team {
  margin-top: 100px;
}
.team_container {
  margin: 0 auto;
}
.team_title h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}

.team_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.team_card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  min-width: 200px;
}
.card_figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  background: #cfcfcf;
  border-radius: 50%;
  border: 1px solid #646464;
}
.team_img img {
  width: 100%;
}
.team_img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.team_card_item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team_card_info {
  width: 100%;
  text-align: center;
  padding: 25px 0px;
  background: #e3e3e3;
}
.team_card_info h4 {
  padding-bottom: 15px;
}
.team_title {
  text-align: center;
}

/* ---------------------contact--------------------- */
.contact {
  padding: 60px 0px;
}
.contact_container {
  display: flex;
  justify-content: center;
  background: #54bd9f;
  margin: 0 auto;
  max-width: 800px;
}
.contact_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.contact_form_nameemail {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
input,
textarea {
  width: 100%;
  padding: 10px 20px;
  margin-top: 10px;
}
textarea {
  height: 200px;
  resize: none;
}
.contact_form_name {
  width: 100%;
}
.contact_form_email {
  width: 100%;
}
.form-control {
  width: 100%;
}
.form-check {
  display: flex;
  align-items: center;
}
.form-check-input {
  width: 14px;
  margin-right: 4px;
  margin-top: 0;
}
.user_name {
  margin-bottom: 10px;
}
.contact_btn {
  padding: 20px 40px;
  border-radius: 6px;
  outline: none;
  border: none;
  background: #60ffd2;
}
.contact_btn:hover {
  background: #00fbb4;
}
/* --------------------privacy---------------- */
.privacy {
  margin-top: 100px;
}
.privacy_container {
  margin: 0 auto;
}
.privacy_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.privacy_container h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.privacy_container p {
  margin: 20px 0;
}

.disclaimer {
  margin-top: 100px;
}
.disclaimer_container {
  margin: 0 auto;
}
.disclaimer_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.disclaimer_container h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.disclaimer_container p {
  margin: 20px 0;
}
.terms {
  margin-top: 100px;
}
.terms_container {
  margin: 0 auto;
}
.terms_container h2 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.terms_container h1 {
  font-size: 35px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.terms_container p {
  margin: 20px 0;
}

@media (max-width: 767px) {
  .header_burger {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .header_burger span,
  .header_burger::before,
  .header_burger::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #000000;
  }
  .header_burger::before,
  .header_burger::after {
    content: "";
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header_burger._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .header_burger._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .header_burger._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header_list_menu {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: #ffffff;
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
  }
  .header_list_menu._active {
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hearder_list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hearder_list > li {
    margin: 0 0 70px 0;
  }
  .hearder_list > li:last-child {
    margin-bottom: 0;
  }
  .hearder_list_link {
    font-size: 24px;
    font-weight: 700;
  }
  .peculiarities_card {
    width: 100%;
  }
  .project_card {
    width: 100%;
  }
  .mission_card {
    width: 100%;
    padding-bottom: 30px;
  }
  .footer_card {
    width: 100%;
    margin-bottom: 20px;
  }
  .header_container {
    justify-content: space-between;
    margin: 0 0;
  }
  .peculiarities_card {
    margin-bottom: 20px;
  }
  .card_img {
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mission_card_img {
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card_figure {
    width: 100px;
    height: 100px;
  }
  .hero_price_title {
    margin-top: 20px;
  }
  .hero_price_container {
    height: 40vh;
  }
  .price_card {
    width: 100%;
    margin: 15px 0px;
  }
  .hearder_list_link_active a {
    font-size: 24px;
    font-weight: 700;
  }
  .about_dopbg {
    padding: 20px 0px;
    margin-top: 30px;
  }
  .footer_container {
    margin: 0 0;
  }
  .footer {
    margin-top: 0;
  }
  .price_about {
    margin-top: 30px;
  }
  .price {
    margin-top: 30px;
  }
  .team_card {
    width: 60%;
    padding-bottom: 20px;
  }
  .contact_form_nameemail {
    flex-direction: column;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  .hero_contact_container {
    height: 40vh;
  }
}
