header {
  color: #333;
  
  padding-top: 10px;
}

.sXpkiTiEXx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.ZCrJTmGTCP a {
  color: #eee;
  font-size: 32px;
  text-decoration: none;
  transition: color 0.3s;
}
.ZCrJTmGTCP a:hover {
  color: #ff934f;
  text-decoration: none;
}



nav {
  width: auto;
}

.GxfqDSsMmP {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.GxfqDSsMmP li {
  margin: 0 15px;
}

.GxfqDSsMmP a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.GxfqDSsMmP a:hover {
  color: #ff934f;
}

@media (max-width: 768px) {
  .sXpkiTiEXx {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-top: 10px;
  }

  .GxfqDSsMmP {
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding: 0;
  }

  .GxfqDSsMmP li {
    margin: 5px 0;
  }
}