
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
header,
main,
section {
  display: block;
}
video {
  display: inline-block;
  vertical-align: baseline;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: none;
}


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}
.RoLojyPQzd {
  max-width: 100%;
  display: inline-block;
}
.wwaHEvCRWs {
  display: inline-block;
  padding: 9px 15px;
  background-color: #3898ec;
  color: white;
  border: 0;
  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
h1 {
  font-size: 38px;
  line-height: 44px;
  margin-top: 20px;
}
h2 {
  font-size: 32px;
  line-height: 36px;
  margin-top: 20px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}
.JadaCekvWD {
  margin: 0 0 15px;
}
.YxLCMnKgva {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.uBwyJPZxgh {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.iSDiRqvNVG {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}
.iSDiRqvNVG:-moz-placeholder {
  color: #999;
}
.iSDiRqvNVG::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.iSDiRqvNVG:-ms-input-placeholder {
  color: #999;
}
.iSDiRqvNVG::-webkit-input-placeholder {
  color: #999;
}
.iSDiRqvNVG:focus {
  border-color: #3898ec;
  outline: 0;
}
textarea.iSDiRqvNVG {
  height: auto;
}
@media screen and (max-width: 767px) {
  .HJlCYyGbfb {
    padding-left: 10px;
  }
}
.HJlCYyGbfb {
  position: relative;
  float: left;
  text-decoration: none;
  color: #333333;
}
@media screen and (max-width: 767px) {
  .HJlCYyGbfb {
    padding-left: 10px;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.ygmPLJgGKS {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.jXJfYljEGT {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.jXJfYljEGT::before {
  content: " ";
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}

.jXJfYljEGT::after {
  content: " ";
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  grid-row-start: 1;
  clear: both;
}

.ncnijgudfA {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.QogvhhZWqW {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

body {
  color: #000;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
}

h1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #000;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 500;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 3.2rem;
  line-height: 1.2;
  font-weight: 500;
}

h3 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
}

p {
  margin-bottom: 0rem;
}

a {
  -webkit-transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 250ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #000;
  text-decoration: underline;
}

a:hover {
  color: #d9998a;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.joBUEkDtQN {
  margin: 0.5rem;
}

.MquKwTiQnI {
  margin: 3rem;
}

.uXYNXRyJtl {
  padding: 3rem;
}

.DtDVDQYoPb {
  margin: 5rem;
}

.HGnvmcwlqx {
  margin: 1rem;
}

.etQYKGsfzP {
  margin: 2rem;
}

.COSTFDcvqf {
  margin-top: 0rem;
  margin-right: 0rem;
  margin-left: 0rem;
}

.COSTFDcvqf.HGnvmcwlqx {
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.EwAeGYvyze {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.EwAeGYvyze.etQYKGsfzP {
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

.zfglwJdqUa {
  padding-top: 0rem;
  padding-right: 0rem;
  padding-left: 0rem;
}

.hrwTBwAmBo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
  padding-left: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.yMNVJOSoNH {
  width: 1rem;
  height: 1rem;
  margin: 0rem 0.5rem 0rem 0rem;
  border-width: 1px;
  border-color: #000;
  border-radius: 0.125rem;
}

.YJJRqcCrOb {
  width: 1.25rem;
  height: 1.25rem;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.BOHwzontEi {
  width: 100%;
  max-width: none;
}

.nhgzDXnIxW {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 500;
}

.nGZOIESKIX {
  width: 2rem;
  height: 2rem;
}

.lCXCfdRZET {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.BRKZRACRaE {
  color: #fff;
}

.gZnsgeutkz {
  font-weight: 500;
}

.EfFSpOJudC {
  width: 100%;
  max-width: 32rem;
}

.DCoKVerdtD {
  width: 100%;
  max-width: 48rem;
}

.DCoKVerdtD.EAVEAfamgB {
  margin-right: auto;
  margin-left: auto;
}

.UNldHlNHwz {
  font-size: 0.875rem;
}

.zMiuwmaEXe {
  min-height: 3rem;
  margin-bottom: 0px;
  padding: 0.5rem 1rem;
  border: 1px none #000;
  border-radius: 0.5rem;
  background-color: #fff;
}

.zMiuwmaEXe.abBnrwurSs {
  min-height: 8rem;
  padding-top: 0.75rem;
}

.pIQEBNZJAl {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.woZZrdJnOu {
  font-size: 1.25rem;
  line-height: 1.3;
  font-weight: 500;
}

.OqGLjrohMv {
  width: 100%;
  max-width: 80rem;
  margin-right: auto;
  margin-left: auto;
}

.mfyqgJhkMO {
  text-align: center;
}

.EAVEAfamgB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.qUNLHjkoIV {
  padding: 0.6rem 2rem;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #d9998a;
  border-radius: 10rem;
  background-color: #d9998a;
  -webkit-transition: border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: border-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1),
    background-color 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: #000;
  font-weight: 500;
  text-align: center;
}

.qUNLHjkoIV:hover {
  border-color: #274f4a;
  background-color: #274f4a;
  color: #fff;
}

.qUNLHjkoIV.MFlPkweTYE {
  border-color: #274f4a;
  background-color: transparent;
  color: #274f4a;
}

.qUNLHjkoIV.MFlPkweTYE:hover {
  background-color: #274f4a;
  color: #fff;
}

.qUNLHjkoIV.MFlPkweTYE.HaqeOkaRWl {
  border-color: #fff;
  color: #fff;
}

.qUNLHjkoIV.MFlPkweTYE.HaqeOkaRWl:hover {
  background-color: #fff;
  color: #274f4a;
}

.qUNLHjkoIV.HaqeOkaRWl:hover {
  border-color: #fff;
  background-color: #fff;
  color: #274f4a;
}

.CTOYmOlNVH {
  font-size: 1.125rem;
}

.KireWOaBZd {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.ORYkgpzFVB {
  width: 100%;
  border-radius: 1rem;
}

.ORYkgpzFVB.TIXinwOojJ {
  width: 100%;
}

.JMucvkRoqY {
  font-weight: 500;
}

.ycCxPgkkHl {
  margin-top: 1.5rem;
  padding: 0.875rem 1rem;
}

.YpEqATKHZj {
  color: #e23939;
}

.PIVzInvtXJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
}

.HeAXxRxGZt {
  padding: 1.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #f4f4f4;
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: transparent;
}

.Caepnzmrln {
  position: relative;
}

.MZEXDTmwjL {
  position: relative;
  padding: 8rem 4rem;
  border-radius: 1rem;
}

.byhiKEzSSL {
  width: 100%;
}

.xDBkkKzLOH {
  padding-left: 0px;
}

.pUCcFQmrTt {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.JRlzuwsOuq {
  width: 3rem;
  height: 3rem;
  min-height: 3rem;
  min-width: 3rem;
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.wKNuQPAuIA {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 1.25rem 1.5rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dKUXmdUDvE {
  width: 1.5rem;
  height: 1.5rem;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.CEUrfAtbps {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 1rem;
  background-color: #f4f4f4;
}

.lHjDMslFpw {
  overflow: hidden;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.uRVCCjvcOS {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.ReVrBiEivc {
  height: 2rem;
}

.COvTcKKzUj {
  padding-top: 4rem;
}

.QicONDxEtP {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.GFpMlEbZdA {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.PobYyvHUkG {
  position: relative;
  padding-top: 4.5rem;
}

.VyXhiwBFDI {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 60rem;
  min-height: 80vh;
  padding: 4rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
}

.OxCqWdTlAn {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  border-radius: 1rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#274f4a),
    color-stop(81%, rgba(39, 79, 74, 0))
  );
  background-image: linear-gradient(90deg, #274f4a, rgb(39 79 74 / 63%) 81%);
}
#xfPUSGHoZQ {
  grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;

}
#GZTVmiEIwj {
  grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;

}
.gwrvg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.AaxJhtvNzg {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  border-radius: 1rem;
}

.CBKLNdrmQJ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.CBKLNdrmQJ.EAVEAfamgB {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.dleXifZcSB {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10rem;
  background-color: #f5e4e0;
}

.glxOmQDkCS {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.WXNOCDGbim {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.SXRTgGlKOV {
  display: -ms-grid;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.qNkFXutaBp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 3.5rem;
  height: 3.5rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10rem;
  background-color: #f5e4e0;
}

.PNsWYojEyZ {
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.UhadPIxBqf {
  width: 100%;
  padding: 3rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
  background-color: #f4f4f4;
}

.MdmkncYqhO {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-color: transparent;
}

.IFZAXlQFaZ {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 1rem;
}

.IFZAXlQFaZ.TIXinwOojJ {
  width: 100%;
}

.AvxNylLzLA {
  position: absolute;
  left: 4%;
  top: auto;
  right: auto;
  bottom: 4%;
  display: -ms-grid;
  display: grid;
  padding: 0.75rem 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.25rem;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 10rem;
  background-color: #f5e4e0;
  color: #000;
  font-weight: 500;
}

.MJLlradIQo {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.QRkNZgVSNX {
  width: 100%;
  border-radius: 1rem;
}

.NXSzJFnfzC {
  display: block;
  width: 100%;
  padding: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 1rem;
  background-color: #274f4a;
  color: #fff;
}

.HCdkeDTVqH {
  margin-right: 1rem;
}

.IcjACfrLNe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heOsQDNDbs {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 4rem;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.qYWzcmFuMA {
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 8vw;
  grid-row-gap: 1rem;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.LhRDVBxyHO {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.NddrUygLiD {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 1.5rem;
  grid-row-gap: 0rem;
  -ms-grid-columns: -webkit-max-content;
  -ms-grid-columns: max-content;
  grid-template-columns: -webkit-max-content;
  grid-template-columns: max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  white-space: normal;
}

.dGFzPJwBbM {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.jKSUcsqEOa {
  justify-items: end;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.BfVPPsrqJr {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.juVUvqBRJZ {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10rem;
  background-color: #f5e4e0;
}

.tHGaHDNNdj {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.PCMDnhwUrh {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.AOeQNsladX {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.EaITzyjNTQ {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.YGlGAcKVzr {
  position: relative;
}

.mCvskwqSwn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.rGOAOlBWmI {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: #000;
  font-size: 0.875rem;
  font-weight: 400;
  text-decoration: none;
}

.hSLXIOkJEk {
  display: -ms-grid;
  display: grid;
  padding: 3rem 4rem;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 4rem;
  grid-row-gap: 5rem;
  -ms-grid-columns: 0.75fr 1fr;
  grid-template-columns: 0.75fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  border-radius: 1rem;
  background-color: #f4f4f4;
}

.zVocQZiCSy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1.5rem;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10rem;
  background-color: #f4f4f4;
  text-decoration: none;
}

.iWUmtRbhap {
  margin-bottom: 0px;
  padding: 3rem 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border-radius: 1rem;
  background-color: #f4f4f4;
}

.ZkqHfWGDmh {
  display: -ms-grid;
  display: grid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  justify-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.xfQZiawQKM {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  grid-auto-columns: 1fr;
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.qPexhFfyxU {
  padding-top: 4rem;
}

.KirJFwQsLG {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 1rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  border-radius: 10rem;
  background-color: #f5e4e0;
}

.BnOESFSAIR {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.tIphRAJfqA {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.XBiFsnjpOY {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
  border-radius: 1rem;
}

.IqnvrlhEvl {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;
  border-radius: 1rem;
  background-color: rgba(39, 79, 74, 0.9);
}

.qxqjJQyGxP {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.MBgxFlwauv {
  width: 100%;
  max-width: 40rem;
}

.wgEkZYxYPq {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 3.5rem;
  }

  .MquKwTiQnI {
    margin: 2.5rem;
  }

  .uXYNXRyJtl {
    padding: 2.5rem;
  }

  .DtDVDQYoPb {
    margin: 4rem;
  }

  .etQYKGsfzP {
    margin: 1.5rem;
  }

  .COSTFDcvqf {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .EwAeGYvyze {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .zfglwJdqUa {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .pIQEBNZJAl {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .KireWOaBZd {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .ORYkgpzFVB {
    width: 100%;
  }

  .MZEXDTmwjL {
    padding: 5rem 3rem;
  }

  .VyXhiwBFDI {
    padding-left: 2rem;
  }

  .glxOmQDkCS {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PNsWYojEyZ {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .MJLlradIQo {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .QRkNZgVSNX {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }

  .heOsQDNDbs {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .qYWzcmFuMA {
    grid-row-gap: 4rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .jKSUcsqEOa {
    justify-items: start;
  }

  .tHGaHDNNdj {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PCMDnhwUrh {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .AOeQNsladX {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hSLXIOkJEk {
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    -ms-grid-columns: 0.5fr 1fr;
    grid-template-columns: 0.5fr 1fr;
  }

  .xfQZiawQKM {
    min-height: auto;
    grid-auto-flow: row;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tIphRAJfqA {
    margin-right: 3rem;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .MquKwTiQnI {
    margin: 1.5rem;
  }

  .uXYNXRyJtl {
    padding: 1.5rem;
  }

  .DtDVDQYoPb {
    margin: 3rem;
  }

  .etQYKGsfzP {
    margin: 1.25rem;
  }

  .COSTFDcvqf {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .EwAeGYvyze {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .zfglwJdqUa {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .nhgzDXnIxW {
    font-size: 1.5rem;
  }

  .lCXCfdRZET {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .pIQEBNZJAl {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .woZZrdJnOu {
    font-size: 1rem;
  }

  .CTOYmOlNVH {
    font-size: 1.125rem;
  }

  .KireWOaBZd {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .MZEXDTmwjL {
    padding: 4rem 2rem;
  }

  .pUCcFQmrTt {
    justify-items: center;
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 1.5rem;
  }

  .wKNuQPAuIA {
    padding: 1rem 1.25rem;
  }

  .dKUXmdUDvE {
    width: 1.75rem;
  }

  .lHjDMslFpw {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }

  .VyXhiwBFDI {
    min-height: 0vh;
  }

  .glxOmQDkCS {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PNsWYojEyZ {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .MJLlradIQo {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .NXSzJFnfzC {
    padding: 1.5rem;
  }

  .IcjACfrLNe {
    width: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .heOsQDNDbs {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .qYWzcmFuMA {
    grid-row-gap: 3rem;
  }

  .LhRDVBxyHO {
    padding-bottom: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .NddrUygLiD {
    grid-auto-flow: row;
    grid-column-gap: 0rem;
    grid-row-gap: 1rem;
  }

  .jKSUcsqEOa {
    grid-column-gap: 1.5rem;
  }

  .tHGaHDNNdj {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .AOeQNsladX {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hSLXIOkJEk {
    padding: 1.25rem 2rem 2.5rem;
    grid-column-gap: 2.5rem;
  }

  .xfQZiawQKM {
    grid-row-gap: 3rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .BnOESFSAIR {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tIphRAJfqA {
    margin-right: 0rem;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 2.3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .COSTFDcvqf {
    margin-top: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }

  .EwAeGYvyze {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
  }

  .zfglwJdqUa {
    padding-top: 0rem;
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .nGZOIESKIX {
    width: 1.5rem;
    height: 1.5rem;
  }

  .CTOYmOlNVH {
    font-size: 1rem;
  }

  .MZEXDTmwjL {
    padding: 2rem 1.5rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
  }

  .GFpMlEbZdA {
    -o-object-position: 65% 50%;
    object-position: 65% 50%;
  }

  .VyXhiwBFDI {
    padding: 0rem 1.5rem;
  }

  .OxCqWdTlAn {
    background-image: -webkit-gradient(
      linear,
      left top,
      right top,
      from(#274f4a),
      to(rgba(39, 79, 74, 0.4))
    );
    background-image: linear-gradient(90deg, #274f4a, rgba(39, 79, 74, 0.4));
  }

  .glxOmQDkCS {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PNsWYojEyZ {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .UhadPIxBqf {
    padding: 2rem 1.5rem;
  }

  .MJLlradIQo {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heOsQDNDbs {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .qYWzcmFuMA {
    grid-row-gap: 48px;
  }

  .jKSUcsqEOa {
    grid-row-gap: 2.5rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .tHGaHDNNdj {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .PCMDnhwUrh {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .AOeQNsladX {
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hSLXIOkJEk {
    padding: 2rem 1.5rem;
    grid-row-gap: 1rem;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .iWUmtRbhap {
    padding: 2rem 1.5rem;
  }

  .xfQZiawQKM {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.open {
  display: flex !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: var(--secondary-light);
  /* color: #eee; */
  padding: 0 40px;
}
.rhjr {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 210;
}
.rhjr a {
  font-size: 30px;
  text-decoration: none;
  /* color: #eee; */
  font-weight: 900;
}
.nav {
  display: flex;
  width: 700px;
  padding: 0 40px;
}
.nav a {
  /* color: #eee; */
  text-decoration: none;
  font-weight: 600;
}
.nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 40px;
}
.nfrnr {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  z-index: 200;
}
.nfrnr span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #333;
}
.nfrnr::before,
.nfrnr::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #333;
  transition: all 0.5s ease 0s;
}
.nfrnr::before {
  top: 0;
}
.nfrnr::after {
  bottom: 0;
}
.nfrnr.active span {
  transform: scale(0);
}
.nfrnr.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.nfrnr.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}
.header-fewvfswve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bwrg {
  width: 100%;
  z-index: 200;
}
@media (max-width: 991px) {
  .nfrnr {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #eee;
    animation: nfrnrAnimation 0.5s;
    font-size: 30px;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 90px;
    align-items: center;
  }
}

@keyframes nfrnrAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.polhuol{
  line-height: 30px;
}