html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    
  }
  
  body {
    margin: 0;
  }
  
   footer, header, main, menu, nav, section {
    display: block;
  }
  
  a {
    background-color: rgba(0, 0, 0, 0);
  }
  
  a:active, a:hover {
    outline: 0;
  }
  
  h1 {
    margin: .67em 0;
    font-size: 2em;
  }
  
  img {
    border: 0;
  }
  
  svg:not(:root) {
    overflow: hidden;
  }
  
   input, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
   input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  
  input {
    line-height: normal;
  }
  
  input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
  }
  
  textarea {
    overflow: auto;
  }
  
  * {
    box-sizing: border-box;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    color: #333;
    background-color: #fff;
    margin: 0;
    
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  .gNajQGzitz {
    max-width: 100%;
    display: inline-block;
  }
  
  .sypRHthPeD {
    color: #fff;
    line-height: inherit;
    cursor: pointer;
    background-color: #3898ec;
    border: 0;
    border-radius: 0;
    padding: 9px 15px;
    text-decoration: none;
    display: inline-block;
  }
  
  input.sypRHthPeD {
    -webkit-appearance: button;
  }
  
  h1, h2, h3 {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  h1 {
    margin-top: 20px;
    font-size: 38px;
    line-height: 44px;
  }
  
  h2 {
    margin-top: 20px;
    font-size: 32px;
    line-height: 36px;
  }
  
  h3 {
    margin-top: 20px;
    font-size: 24px;
    line-height: 30px;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .XoOEtzePJv:before, .XoOEtzePJv:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .XoOEtzePJv:after {
    clear: both;
  }
  
  .iDubkxZSSt {
    margin: 0 0 15px;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
    display: block;
  }
  
  .NRizYkQSPE {
    width: 100%;
    height: 38px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857;
    display: block;
  }
  
  .NRizYkQSPE:-moz-placeholder {
    color: #999;
  }
  
  .NRizYkQSPE::-moz-placeholder {
    color: #999;
    opacity: 1;
  }
  
  .NRizYkQSPE::-webkit-input-placeholder {
    color: #999;
  }
  
  .NRizYkQSPE:focus {
    border-color: #3898ec;
    outline: 0;
  }
  
  textarea.NRizYkQSPE {
    height: auto;
    resize: none;
  }
  
  .DaUqENuZnf {
    text-align: left;
    z-index: 900;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    position: relative;
  }
  
   .JgYGWyMbZs {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative;
  }
  
  .JgYGWyMbZs {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block;
  }
  
  .JgYGWyMbZs:focus {
    outline: 0;
  }
  
  .gTbQXnrOnq {
    min-width: 100%;
    background: #ddd;
    display: none;
    position: absolute;
  }
  
  @media screen and (max-width: 767px) {
    .cXqXernEAd {
      padding-left: 10px;
    }
  }
  
  .XorluQSmcC {
    z-index: 1000;
    background: #ddd;
    position: relative;
  }
  
  .XorluQSmcC:before, .XorluQSmcC:after {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .XorluQSmcC:after {
    clear: both;
  }
  
  .cXqXernEAd {
    float: left;
    color: #333;
    text-decoration: none;
    position: relative;
  }
  
  .QZwyVsUFJM {
    vertical-align: top;
    color: #222;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    position: relative;
  }
  
  .QZwyVsUFJM.TPMRkFjboc {
    color: #0082f3;
  }
  
  .hTvtIMaXyT {
    float: right;
    position: relative;
  }
  
  .ZxPiWvZBaD {
    width: 100%;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  
  .ZcQgIHhsQJ {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative;
  }
  
  .ZcQgIHhsQJ:focus {
    outline: 0;
  }
  
  @media screen and (max-width: 991px) {
    .XorluQSmcC[data-collapse="medium"] .hTvtIMaXyT {
      display: none;
    }
  
    .XorluQSmcC[data-collapse="medium"] .ZcQgIHhsQJ {
      display: block;
    }
  }
  
  @media screen and (max-width: 767px) {
  
    .cXqXernEAd {
      padding-left: 10px;
    }
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  :root {
    --black: black;
    --secondary: #277a8c;
    --primary: #a7e4f2;
    --light-gray: #f4f4f4;
    --white: white;
  }
  
  .ALjcRnDsUC {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .yRpdQxsbHb {
    margin-bottom: 5px;
    padding-left: 20px;
    display: block;
  }
  
  .yRpdQxsbHb:before {
    content: " ";
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .yRpdQxsbHb:after {
    content: " ";
    clear: both;
    grid-area: 1 / 1 / 2 / 2;
    display: table;
  }
  
  .ZYtRdGmgzO {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
  }
  
  .NSfAMiPtkD {
    width: 12px;
    height: 12px;
    border: 1px solid #ccc;
    border-radius: 2px;
  }
  
  body {
    color: var(--black);
    
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  
  h1 {
    color: var(--black);
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 5rem;
    font-weight: 400;
    line-height: 1;
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 1.1;
  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
  }
  
  p {
    margin-bottom: 0;
  }
  
  a {
    color: var(--black);
    text-decoration: underline;
    transition: opacity .25s cubic-bezier(.165, .84, .44, 1);
  }
  
  a:hover {
    color: var(--secondary);
  }
  
  img {
    max-width: 100%;
    display: inline-block;
  }
  
  label {
    margin-bottom: .25rem;
    font-weight: 400;
  }
  
  .dZcchEJCfn {
    margin: .5rem;
  }
  
  .IBRXjWYQne {
    padding: 7rem;
  }
  
  .IYjCRgiSMI {
    margin: 3rem;
  }
  
  .vJYlsOuvSO {
    padding: 3rem;
  }
  
  .BDNymnFwTL {
    padding: 1rem;
  }
  
  .MaFJZnjPPK {
    margin: 1rem;
  }
  
  .cNSpViYMxz {
    margin: 2rem;
  }
  
  .vJIxWYuIhr {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .eRSYKHnnII {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .FETfWODHPM {
    padding-left: 0;
    padding-right: 0;
  }
  
  .qxMTHBNlzX, .qxMTHBNlzX.cNSpViYMxz {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .TwTzvJqSmt {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  
  .THRIDoJXlI {
    flex-direction: row;
    align-items: center;
    margin-bottom: .5rem;
    padding-left: 0;
    display: flex;
  }
  
  .mKDDncJhRN {
    width: 1.5rem;
    height: 1.5rem;
    flex: none;
  }
  
  .QOVuQMGMIq {
    width: 100%;
    max-width: none;
  }
  
  .kSbDRfhnpX {
    width: 2rem;
    height: 2rem;
  }
  
  .qDgyqLlKCf {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.1;
  }
  
  .KDrWKCBeFh {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  
  .FpSDGVZXwi {
    width: 100%;
    max-width: 32rem;
  }
  
  .KKCaoFnvLt {
    width: 100%;
    max-width: 48rem;
  }
  
  .vthYQkEoAV {
    font-size: .875rem;
  }
  
  .UJFLETQDdK {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.4;
  }
  
  .WXAwpsnHyb {
    width: 100%;
    max-width: 64rem;
  }
  
  .IdjiJZNztt {
    min-height: 3rem;
    background-color: var(--light-gray);
    border: 1px #000;
    border-radius: .5rem;
    margin-bottom: 0;
    padding: .5rem 1rem;
  }
  
  .IdjiJZNztt.FPeOBPtDqC {
    min-height: 8rem;
    padding-top: .75rem;
  }
  
  .zZuGluADir {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
  }
  
  .ffUxDkUsXa {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
  
  .vzIYcAUPXs {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  .YBykboGqcB {
    width: 100%;
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  .xbEwlmeFEE {
    border: .125rem solid var(--primary);
    background-color: var(--primary);
    color: var(--black);
    text-align: center;
    border-radius: .5rem;
    padding: .75rem 2rem;
    
    font-weight: 400;
    transition: background-color .25s cubic-bezier(.165, .84, .44, 1), border-color .25s cubic-bezier(.165, .84, .44, 1);
  }
  
  .xbEwlmeFEE:hover {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  .xbEwlmeFEE.TPMRkFjboc {
    transition: opacity .2s, background-color .25s cubic-bezier(.165, .84, .44, 1);
  }
  
  .xbEwlmeFEE.DUBwDjbEuN {
    padding: .5rem 1.25rem;
  }
  
  .xbEwlmeFEE.LnoOiOXjcK {
    border-color: var(--secondary);
    color: var(--secondary);
    background-color: rgba(167, 228, 242, 0);
  }
  
  .xbEwlmeFEE.LnoOiOXjcK:hover {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--primary);
  }
  
  .UndYLplPkV {
    font-size: 1.25rem;
  }
  
  .NSSRENgtEP {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: center;
    display: flex;
  }
  
  .TEGkaJwMkJ {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .UehRgLoHIe {
    overflow: hidden;
  }
  
  .dzMpGecFcK {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
    position: relative;
  }
  
  .MPgXSzJuxb {
    width: 105%;
  }
  
  .RiMqaQzRVQ {
    width: 100%;
    border-radius: 2rem;
  }
  
  .lWJaEdsIXf {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  
  .HKzcTUHOjE {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  .HroyLVOxtK {
    flex-direction: column;
    display: block;
  }
  
  .VmjyNhphCQ {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto;
  }
  
  .jDfTlUFzXJ {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: stretch;
    display: grid;
  }
  
  .fhyFXlnuwF {
    width: 100%;
    position: relative;
  }
  
  .PaHxQmLpEj {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .qLWIyHZCbX {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 0;
  }
  
  .vNPlFskKIe {
    position: relative;
  }
  
  .bRmhuSvDVt {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr max-content;
    grid-auto-columns: 1fr;
    align-items: start;
    padding: 6rem 5rem;
    display: grid;
  }
  
  .doGXWiPRqn {
    width: 100%;
  }
  
  .AzhhCTboRQ {
    grid-column-gap: 6rem;
    grid-row-gap: 6rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  .UfoPoZBHXf {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    align-items: center;
    display: grid;
  }
  
  .UVgXBuwZBf {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--primary);
    border-radius: 10rem;
    flex: none;
    justify-content: center;
    align-self: flex-start;
    align-items: center;
    margin-top: .25rem;
    margin-right: .5rem;
    display: flex;
  }
  
  .ZGjZcSdPXy {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: grid;
  }
  
  .VjTPQBSAGN {
    width: 1rem;
    height: 1rem;
  }
  
  .CXsetLhDFu {
    grid-column-gap: .2rem;
    grid-row-gap: .5rem;
    color: var(--secondary);
    grid-template-rows: auto;
    grid-template-columns: max-content max-content;
    grid-auto-columns: 1fr;
    justify-content: start;
    align-items: center;
    justify-items: start;
    font-weight: 400;
    text-decoration: none;
    transition-property: color;
    display: grid;
  }
  
  .CXsetLhDFu.PPmwyUBrqF {
    color: var(--primary);
  }
  
  .OfDtdUKnLQ {
    position: relative;
  }
  
  .LFXIPkFkvU {
    line-height: 1;
  }
  
  .NyZHtrnVmw {
    background-color: var(--secondary);
    color: var(--white);
  }
  
  .rlTTHWoNng {
    color: #000;
    
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
  }
  
  .gxErjkdwQL {
    font-size: .875rem;
  }
  
  .dvnzDVgarf {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .GoRrvDWheg {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .KPfyuywiaX {
    grid-column-gap: 2.5rem;
    grid-row-gap: 2.5rem;
    grid-template-rows: auto;
    grid-template-columns: max-content auto auto auto;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    display: grid;
  }
  
  .QZupfNIRYl {
    justify-content: space-between;
    display: flex;
  }
  
  .piFSOjOcGr {
    grid-column-gap: .75rem;
    grid-row-gap: .75rem;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    display: grid;
  }
  
  .bvvzoNJRit {
    height: 1.5rem;
    max-height: 1.5rem;
    border-radius: 0;
  }
  
  .uribsuOkNz {
    max-width: 32rem;
  }
  
  .yesmPTYNVb {
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-weight: 400;
    text-decoration: none;
    transition: color .2s;
  }
  
  .yesmPTYNVb:hover {
    color: var(--secondary);
  }
  
  .pGYbDxARem {
    margin-top: 4rem;
  }
  
  .xjzqyAFxAp {
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-items: end;
    display: grid;
  }
  
  .kiWzYQbinp {
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }
  
  .IFBdIHfLdb {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .LmtVrHcRzc {
    background-color: var(--secondary);
    color: var(--white);
  }
  
  .oRnpVqtkMC {
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: start;
    display: grid;
  }
  
  .uMsrTWJynQ {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .HepXejHoNC {
    width: 3.5rem;
    height: 3.5rem;
    min-height: 3.5rem;
    min-width: 3.5rem;
    object-fit: cover;
    border-radius: 100%;
  }
  
  .MaaPRvvmYO {
    text-align: left;
    align-items: center;
    display: flex;
  }
  
  .zCSTjsxSZz {
    width: 1.5rem;
    height: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .lPuiulatED {
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .aiCMBoUCjC {
    display: flex;
  }
  
  .VadpAdiVTD {
    margin-right: 1rem;
  }
  
  .sdicLxyYRI {
    color: var(--secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: .25rem;
    display: flex;
  }
  
  .GQlALPMpqx {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .QgDEnjiAGl {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary);
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .AcfetQjsEo {
    grid-column-gap: .75rem;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: max-content 1fr;
    grid-auto-columns: 1fr;
    align-items: flex-start;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-decoration: none;
    display: grid;
  }
  
  .dMGVtXdBZu {
    padding: 0;
  }
  
  .mjxnNqSPdj {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5rem;
    display: flex;
    position: static;
  }
  
  .MPcKvMFjCx {
    height: 1.5rem;
  }
  
  .EvFqxuhsGa {
    width: 1rem;
    height: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .TaOafavABZ {
    padding-left: 0;
  }
  
  .tzkcTzXAxX {
    grid-column-gap: 4rem;
    grid-row-gap: 0px;
    flex: 1;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: grid;
  }
  
  .DYTxLrxzId {
    grid-column-gap: 0px;
    grid-row-gap: 1rem;
    grid-template-rows: max-content;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }
  
  .asZXjnEySQ {
    width: 100%;
    display: flex;
  }
  
  .HUWCEsvBoa {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: flex;
  }
  
  .oWxxrGGPTv {
    padding: 1.5rem 1rem;
    font-weight: 400;
  }
  
  .oWxxrGGPTv.TPMRkFjboc {
    color: #000;
  }
  
  .IJwPyBGWSr {
    flex: none;
  }
  
  .DpHqjcXfNp {
    grid-column-gap: .5rem;
    flex-wrap: nowrap;
    align-items: center;
    padding: 1.5rem 1rem;
    font-weight: 400;
    display: flex;
  }
  
  .rtIaqJoaOm {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: flex;
  }
  
  .lYCMIJzItF {
    width: 100%;
    height: 100%;
    max-width: 80rem;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  
  .cJyOPdPAuJ {
    position: static;
  }
  
  .HZeqjkyuFb {
    width: 100%;
    min-height: 4.5rem;
    background-color: rgba(255, 255, 255, 0);
    align-items: center;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    position: absolute;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
  }
  
  .uvaDDeceGl {
    width: 1.25rem;
    height: 1.25rem;
    background-color: var(--secondary);
    border-radius: .25rem;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .nBbMqKXnNm {
    padding-top: 4rem;
  }
  
  .YzDzIlXgIi {
    width: 100%;
  }
  
  .yAQIAujBVd {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
  }
  
  .gEJiKnMdEN {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  
  .tDxiwuhRQg {
    flex-direction: column;
    align-items: flex-start;
    display: flex;
  }
  
  .ZTwlViLJlv {
    grid-column-gap: 5.25rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    display: grid;
  }
  
  .TexPLGNtuX {
    color: var(--secondary);
    font-size: 5rem;
    font-weight: 400;
    line-height: 1.3;
  }
  
  .LWbckXTXLI {
    width: 100%;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: start;
    display: grid;
  }
  
   .BrsPBbyOSE {
    grid-column-gap: 5rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
  }
  
  .iOWeYxMoBi {
    font-weight: 400;
    display: flex;
  }
  
  .QdNhokULQr {
    flex: none;
    align-self: flex-start;
    margin-right: .75rem;
  }
  
  .ybXIpGtgBG {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: grid;
  }
  
  .AWppZoqGOB {
    width: 1rem;
    height: 1rem;
  }
  
  .rSEjVncdtW {
    overflow: hidden;
  }
  
  .PVmRVuLkdq {
    width: 1rem;
    height: 1rem;
    background-color: #f4f4f4;
    border: 1px #000;
    border-radius: .125rem;
    margin: 0 .5rem 0 0;
  }
  
  @media screen and (max-width: 991px) {
    h1 {
      font-size: 4rem;
    }
  
    .IBRXjWYQne {
      padding: 6rem;
    }
  
    .IYjCRgiSMI {
      margin: 2.5rem;
    }
  
    .vJYlsOuvSO {
      padding: 2.5rem;
    }
  
    .cNSpViYMxz {
      margin: 1.5rem;
    }
  
    .vJIxWYuIhr {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .eRSYKHnnII {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .FETfWODHPM {
      padding-left: 0;
      padding-right: 0;
    }
  
    .qxMTHBNlzX {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .TwTzvJqSmt {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .ffUxDkUsXa {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  
    .TEGkaJwMkJ {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  
    .dzMpGecFcK {
      min-height: auto;
      grid-column-gap: 0rem;
      grid-row-gap: 0rem;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
      padding-top: 4rem;
    }
  
    .MPgXSzJuxb, .RiMqaQzRVQ {
      width: 100%;
    }
  
    .HKzcTUHOjE {
      min-height: auto;
      grid-column-gap: 3rem;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  
    .VmjyNhphCQ {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
    }
  
    .jDfTlUFzXJ {
      min-height: auto;
      grid-column-gap: 3rem;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  
    .fhyFXlnuwF {
      min-height: 24rem;
    }
  
    .bRmhuSvDVt {
      grid-column-gap: 2rem;
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  
    .AzhhCTboRQ {
      min-height: auto;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  
    .KPfyuywiaX {
      grid-template-columns: auto auto auto;
    }
  
    .uribsuOkNz {
      margin-right: 0;
    }
  
    .xjzqyAFxAp {
      grid-column-gap: 4rem;
      grid-row-gap: 4rem;
      grid-template-columns: 1fr;
    }
  
    .kiWzYQbinp {
      border-radius: 2rem;
    }
  
    .oRnpVqtkMC {
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
    }
  
    .lPuiulatED {
      grid-column-gap: 2rem;
      grid-row-gap: 4rem;
    }
  
    .mjxnNqSPdj {
      height: 100dvh;
      -webkit-text-fill-color: inherit;
      background-color: #fff;
      background-clip: border-box;
      border-bottom: 1px solid #000;
      align-items: flex-start;
      margin-left: 0;
      padding: 1rem 5% 6.5rem;
      transition: height .5s;
      position: absolute;
      overflow: auto;
    }
  
    .EvFqxuhsGa {
      top: auto;
      bottom: auto;
      left: auto;
      right: 0%;
    }
  
    .aqQRWgCcIn {
      width: 48px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-right: -.5rem;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }
  
    .VDmYpXGErm {
      width: 24px;
      height: 2px;
      background-color: #000;
      justify-content: center;
      align-items: center;
      margin-top: 6px;
      margin-bottom: 6px;
      padding-bottom: 0;
      padding-right: 0;
      display: flex;
    }
  
    .pGOWyDlsNb {
      width: 24px;
      height: 2px;
      background-color: #000;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .JfzwDzhomc {
      position: relative;
      overflow: hidden;
    }
  
    .tzkcTzXAxX {
      grid-row-gap: 1.5rem;
      grid-template-columns: 1fr 1fr;
      align-content: start;
      align-items: start;
      padding-left: 0;
      padding-right: 0;
    }
  
    .asZXjnEySQ {
      flex-direction: column;
    }
  
    .HUWCEsvBoa {
      flex-direction: column;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      align-items: stretch;
      margin-top: 1.5rem;
    }
  
    .oWxxrGGPTv {
      width: auto;
      padding: .75rem 0;
      font-size: 1.125rem;
    }
  
    .DpHqjcXfNp {
      align-items: center;
      padding-top: .75rem;
      padding-bottom: .75rem;
      padding-left: 0;
      font-size: 1.125rem;
      display: flex;
    }
  
    .cJyOPdPAuJ {
      width: 100%;
    }
  
    .tYSGcLODvH {
      width: 4px;
      height: 0;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .uBevCAllvE {
      width: 24px;
      height: 2px;
      background-color: #000;
      padding-bottom: 0;
      padding-right: 0;
    }
  
    .ZTwlViLJlv {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      grid-template-columns: 1fr;
    }
  
    .TexPLGNtuX {
      font-size: 4rem;
    }
  
    .LWbckXTXLI {
      grid-column-gap: 2rem;
    }
  
     .BrsPBbyOSE {
      min-height: auto;
      grid-column-gap: 3rem;
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
      grid-auto-flow: row;
    }
  }
  
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 3rem;
    }
  
    h2 {
      font-size: 2.5rem;
    }
  
    h3 {
      font-size: 1.5rem;
    }
  
    .IBRXjWYQne {
      padding: 4rem;
    }
  
    .IYjCRgiSMI {
      margin: 1.5rem;
    }
  
    .vJYlsOuvSO {
      padding: 1.5rem;
    }
  
    .cNSpViYMxz {
      margin: 1.25rem;
    }
  
    .vJIxWYuIhr {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .eRSYKHnnII {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .FETfWODHPM {
      padding-left: 0;
      padding-right: 0;
    }
  
    .qxMTHBNlzX {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .TwTzvJqSmt {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .qDgyqLlKCf {
      font-size: 2.5rem;
    }
  
    .KDrWKCBeFh {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  
    .UJFLETQDdK {
      font-size: 1.25rem;
    }
  
    .zZuGluADir {
      font-size: 1rem;
    }
  
    .ffUxDkUsXa {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  
    .vzIYcAUPXs {
      font-size: 1.25rem;
    }
  
    .UndYLplPkV {
      font-size: 1.125rem;
    }
  
    .TEGkaJwMkJ {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  
    .dzMpGecFcK {
      grid-row-gap: 3rem;
    }
  
    .HKzcTUHOjE, .jDfTlUFzXJ {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
    }
  
    .bRmhuSvDVt {
      padding: 4rem 2rem;
    }
  
    .AzhhCTboRQ {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
    }
  
    .rlTTHWoNng {
      font-size: 1rem;
    }
  
    .QZupfNIRYl {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      flex-direction: column;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
      display: grid;
    }
  
    .xjzqyAFxAp {
      grid-template-columns: 1fr;
    }
  
    .oRnpVqtkMC {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
    }
  
    .MaaPRvvmYO {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
    }
  
    .lPuiulatED {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
    }
  
    .VadpAdiVTD {
      margin-bottom: 1rem;
      margin-right: 0;
    }
  
    .iRYtINQmnO {
      margin-bottom: 1rem;
    }
  
    .mjxnNqSPdj {
      padding-bottom: 6rem;
    }
  
    .tzkcTzXAxX {
      grid-row-gap: .5rem;
      flex-direction: column;
      grid-template-rows: auto;
      grid-template-columns: 1fr;
      grid-auto-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .DYTxLrxzId {
      max-width: none;
      grid-row-gap: .5rem;
    }
  
    .HZeqjkyuFb {
      min-height: 4rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  
    .ZTwlViLJlv {
      grid-column-gap: 1.25rem;
      grid-row-gap: 1.25rem;
      grid-template-columns: 1fr;
    }
  
    .TexPLGNtuX {
      font-size: 3.5rem;
    }
  
    .LWbckXTXLI {
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
    }
  
     .BrsPBbyOSE {
      grid-row-gap: 3rem;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (max-width: 479px) {
    h1 {
      font-size: 2.5rem;
    }
  
    h2 {
      font-size: 2.2rem;
    }
  
    h3 {
      font-size: 1.25rem;
    }
  
    .vJIxWYuIhr {
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .eRSYKHnnII {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .FETfWODHPM {
      padding-left: 0;
      padding-right: 0;
    }
  
    .qxMTHBNlzX {
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
  
    .TwTzvJqSmt {
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
    }
  
    .kSbDRfhnpX {
      width: 1.5rem;
      height: 1.5rem;
    }
  
    .IdjiJZNztt {
      border-radius: .75rem;
    }
  
    .UndYLplPkV {
      font-size: 1rem;
    }
  
    .dzMpGecFcK {
      grid-column-gap: 0rem;
      grid-row-gap: 0rem;
      grid-template-columns: 1fr;
    }
  
    .RiMqaQzRVQ {
      border-radius: 1.5rem;
    }
  
    .HKzcTUHOjE, .VmjyNhphCQ, .jDfTlUFzXJ {
      grid-template-columns: 1fr;
    }
  
    .bRmhuSvDVt {
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      padding: 2rem 1.5rem;
    }
  
    .AzhhCTboRQ {
      grid-template-columns: 1fr;
    }
  
    .KPfyuywiaX {
      grid-template-columns: auto;
    }
  
    .xjzqyAFxAp {
      grid-template-columns: 1fr;
    }
  
    .oRnpVqtkMC {
      grid-template-columns: 1fr;
    }
  
    .AcfetQjsEo {
      padding-left: 0;
    }
  
    .tzkcTzXAxX {
      grid-template-columns: 1fr;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  
    .ZTwlViLJlv {
      grid-row-gap: 1.25rem;
      grid-template-columns: 1fr;
    }
  
    .LWbckXTXLI {
      grid-row-gap: 2rem;
      grid-template-columns: 1fr;
    }
  
     .BrsPBbyOSE {
      grid-template-columns: 1fr;
    }
  }
  
  .open {
    display: flex !important;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100px;
    background-color: var(--secondary-light);
    color: #333;
    /* padding: 0 40px; */
  }
  .rhjr {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 210;
  }
  .rhjr a {
    font-size: 30px;
    text-decoration: none;
    color: #eee;
    font-weight: 900;
  }
  .nav {
    display: flex;
    justify-content: end;
    width: 700px;
    padding: 0 40px;
  }
  .nav a {
    color: #eee;
    text-decoration: none;
    font-weight: 600;
  }
  .nav ul {
    /* width: 100%; */
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 40px;
  }
  .nfrnr {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    z-index: 200;
  }
  .nfrnr2 {
    display: none;
    position: relative;
    z-index: 50;
    align-items: center;
    justify-content: flex-end;
    width: 30px;
    height: 18px;
    z-index: 200;
  }
  .nfrnr span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #eee;
  }
  .nfrnr2 span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #eee;
  }
  .nfrnr::before,
  .nfrnr::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #eee;
    transition: all 0.5s ease 0s;
  }
  .nfrnr2::before,
  .nfrnr2::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #eee;
    transition: all 0.5s ease 0s;
  }
  .nfrnr::before {
    top: 0;
  }
  .nfrnr::after {
    bottom: 0;
  }
  .nfrnr.active span {
    transform: scale(0);
  }
  .nfrnr.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .nfrnr.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .nfrnr2::before {
    top: 0;
  }
  .nfrnr2::after {
    bottom: 0;
  }
  .nfrnr2.active span {
    transform: scale(0);
  }
  .nfrnr2.active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
  }
  .nfrnr2.active::after {
    top: 50%;
    transform: rotate(45deg) translate(0, 50%);
  }
  .header-fewvfswve {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .bwrg {
    width: 100%;
    z-index: 200;
  }
  @media (max-width: 991px) {
    .nfrnr {
      display: flex;
    }
    .nfrnr2 {
      display: flex;
    }
    .nav {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 200;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: #eee;
      animation: nfrnrAnimation 0.5s;
      font-size: 30px;
    }
    .nav {
      display: none;
      flex-direction: column;
      justify-content: center;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 200;
      overflow-y: auto;
      padding: 50px 40px;
      background-color: #277a8c;
      animation: nfrnr2Animation 0.5s;
      font-size: 30px;
    }
    .nav ul {
      flex-direction: column;
      row-gap: 90px;
      align-items: center;
    }
  }
  
  @keyframes nfrnrAnimation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes nfrnr2Animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .polhuol{
    line-height: 30px;
    font-size: 18px;
  }

  .drcdrc{
    width: 100%;
    background-color: #277a8c;
  }