html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

section {
  display: block;
}

a {
  background-color: rgba(0, 0, 0, 0);
}

a:active,
a:hover {
  outline: 0;
}

strong {
  font-weight: bold;
}

h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #333;
  background-color: #fff;
  margin: 0;

  font-size: 14px;
  line-height: 20px;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.KwUsXKAuOT {
  max-width: 100%;
  display: inline-block;
}

.gpyljvswhb {
  color: #fff;
  line-height: inherit;
  cursor: pointer;
  background-color: #3898ec;
  border: 0;
  border-radius: 0;
  padding: 9px 15px;
  text-decoration: none;
  display: inline-block;
}

input.gpyljvswhb {
  -webkit-appearance: button;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 10px;
  font-weight: bold;
}

h1 {
  margin-top: 20px;
  font-size: 38px;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  font-size: 32px;
  line-height: 36px;
}

h3 {
  margin-top: 20px;
  font-size: 24px;
  line-height: 30px;
}

h4 {
  margin-top: 10px;
  font-size: 18px;
  line-height: 24px;
}

h5 {
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;
}

h6 {
  margin-top: 10px;
  font-size: 12px;
  line-height: 18px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.FhmDizPxTN {
  margin: 0 0 15px;
}

.pAEFtnIybl {
  width: 100%;
  height: 38px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857;
  display: block;
}

.pAEFtnIybl:-moz-placeholder {
  color: #999;
}

.pAEFtnIybl::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.pAEFtnIybl::-webkit-input-placeholder {
  color: #999;
}

.pAEFtnIybl:focus {
  border-color: #3898ec;
  outline: 0;
}

textarea.pAEFtnIybl {
  height: auto;
  resize: none;
}
.eRSYKHnnII {
  padding-bottom: 20px;
  padding-top: 20px;
}
.LEKsZPwsWE {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.LEKsZPwsWE:before,
.LEKsZPwsWE:after {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.LEKsZPwsWE:after {
  clear: both;
}

@media screen and (max-width: 991px) {
  .LEKsZPwsWE {
    max-width: 728px;
  }
}

@media screen and (max-width: 479px) {
  .LEKsZPwsWE {
    max-width: none;
  }
}

.OAbCwrNgUd {
  height: 300px;
  text-align: center;
  clear: both;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  background: #ddd;
  position: relative;
}

.ATxRzWZfux {
  z-index: 1;
  height: 100%;
  white-space: nowrap;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  overflow: hidden;
}

.HPhUmnOPff {
  vertical-align: top;
  width: 100%;
  height: 100%;
  white-space: normal;
  text-align: left;
  display: inline-block;
  position: relative;
}

.pPcXGJpxxT {
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .IefEQbBMRp {
    padding-left: 10px;
  }
}

.IefEQbBMRp {
  float: left;
  color: #333;
  text-decoration: none;
  position: relative;
}

@media screen and (max-width: 767px) {
  .IefEQbBMRp {
    padding-left: 10px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

:root {
  --text-color: #19202b;
  --paragraph-light: #616f85;
  --primary: #4f4cfe;
  --gray: #d5ddea;
  --primary-light: #e7eeff;
  --light-grey-bg: #fafafa;
  --white: white;
  --blue: #0090ff;
  --orange: #3db5fa;
  --green: #42b46c;
  --paragraph-grey: #384559;
}

.WyOlCTYMhT {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.NhhBPYNtQr {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}

@media screen and (max-width: 991px) {
  .WyOlCTYMhT {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .WyOlCTYMhT {
    max-width: none;
  }
}

body {
  color: var(--text-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 1.5em;
}

h1 {
  letter-spacing: -0.52px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 52px;
  font-weight: 700;
  line-height: 1.15em;
}

h2 {
  letter-spacing: -0.4px;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 40px;
  font-weight: 700;
  line-height: 1.25em;
}

h3 {
  letter-spacing: -0.24px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 22px;
  font-weight: 600;
  line-height: 1.6em;
}

h4 {
  letter-spacing: -0.22px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 21px;
  font-weight: 600;
  line-height: 1.5em;
}

h5 {
  color: var(--text-color);
  letter-spacing: -0.2px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 20px;
  font-weight: 600;
  line-height: 1.5em;
}

h6 {
  color: var(--text-color);
  letter-spacing: -0.18px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  font-weight: 600;
  line-height: 1.4em;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.667em;
}

a {
  color: var(--paragraph-light);
  text-transform: capitalize;
  align-items: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 1.1em;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--primary);
}

img {
  max-width: 100%;
  display: inline-block;
}

.ZJxVrkEAor {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
  overflow: hidden;
}

.ZJxVrkEAor.aOjJcqikxy {
  z-index: 4;
  padding-bottom: 0;
}

.ZJxVrkEAor.rzhFirNBGd {
  z-index: 50;
}

.ZJxVrkEAor.DaCejhyeXL {
  background-image: linear-gradient(to bottom, var(--primary-light), white);
  padding-top: 140px;
  padding-bottom: 0;
  display: flex;
  overflow: hidden;
}

.ZJxVrkEAor.bgYHgpBwZU {
  background-color: var(--text-color);
  overflow: hidden;
}

.ZJxVrkEAor.LomToiYrDQ {
  z-index: 5;
  background-color: var(--text-color);
  background-position: 130% 100%;
  background-repeat: no-repeat;
  background-size: 75% 100%;
  border-radius: 16px;
  margin-left: 15px;
  margin-right: 15px;
}

.ZJxVrkEAor.uYCbouoYET {
  z-index: 5;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/6.jpg");
  background-position: 0 0, 50%;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.ZJxVrkEAor.XMElDDEsFL {
  z-index: 60;
  background-image: linear-gradient(to bottom, var(--primary-light), white);
  padding-top: 140px;
  padding-bottom: 100px;
  display: flex;
  overflow: hidden;
}

.ZJxVrkEAor.dPdFRCZqES {
  background-color: var(--light-grey-bg);
}

.ZoeoHIIneN {
  max-width: 1330px;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}
.ZoeoHIIneNn {
  max-width: 1330px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

.daspaVoqeF {
  border: 1px solid var(--text-color);
  background-color: var(--text-color);
  color: var(--white);
  text-align: center;
  letter-spacing: -0.54px;
  text-transform: capitalize;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  transition: border-color 0.3s, background-color 0.3s, color 0.3s;
  display: flex;
}

.daspaVoqeF:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--white);
}

.daspaVoqeF.cpqhkZFobF {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.daspaVoqeF.noLmDmvWHO {
  border-color: var(--white);
  background-color: rgba(25, 32, 43, 0);
}

.daspaVoqeF.noLmDmvWHO:hover {
  background-color: var(--white);
  color: var(--text-color);
}

.daspaVoqeF.jjkUqmdiFq {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.TQtYhYxXBr {
  max-width: 740px;
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.oljemzwfQv {
  color: var(--white);
}

.zFhSJdkfEP {
  text-align: center;
  margin-top: 20px;
}

.fAZlXzXEJc {
  width: 100%;
  grid-column-gap: 30px;
  padding-top: 10px;
  display: flex;
}

.TnSVlwkQlr {
  border: 1px solid var(--primary);
  background-image: radial-gradient(
    circle farthest-corner at 50% 0%,
    var(--primary-light),
    white
  );
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 30px 30px;
  transition: transform 0.3s;
  display: flex;
}

.TnSVlwkQlr:hover {
  transform: translate(0, -10px);
}

.TnSVlwkQlr.UMXZMbtzZh {
  margin-right: 0;
}

.QUfZKjXwSd {
  margin-bottom: 20px;
}

.qCWhfbFXae {
  min-width: 50px;
  border: 1px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 10px;

  font-size: 18px;
}

.yAffdDFQiF {
  z-index: 60;
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.CPcCFfDcQx {
  width: 50%;
  padding-right: 40px;
}

.HxWMFNDGZg {
  width: 50%;
  min-height: 570px;
  border: 1px solid var(--gray);
  background-color: var(--light-grey-bg);
  border-radius: 16px;
  margin-left: 40px;
  padding: 40px;
}

.pQceMLQHnm {
  width: 100%;
  height: 1px;
  background-color: rgba(175, 175, 175, 0.5);
  margin-top: 30px;
  margin-bottom: 20px;
}

.LEWZgAHtkv {
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 4px;
  display: flex;
}

.andsFdfuiF {
  color: var(--primary);
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 15px;
}

.YXSTjqLCxz {
  height: auto;
  background-color: rgba(0, 0, 0, 0);
  padding-right: 100px;
  position: relative;
}

.VEgmuvnNxO {
  max-height: 100%;
  max-width: 100%;
  min-height: 200px;
  min-width: 100%;
  border: 1px solid var(--gray);
  color: var(--text-color);
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 12px 24px;

  font-size: 16px;
}

.VEgmuvnNxO:focus {
  border-color: var(--text-color);
}

.VEgmuvnNxO::-ms-input-placeholder {
  color: var(--paragraph-light);
  font-size: 16px;
}

.VEgmuvnNxO::placeholder {
  color: var(--paragraph-light);
  font-size: 16px;
}

.KMqWUKeRBK {
  height: 50px;
  border: 1px solid var(--gray);
  color: var(--text-color);
  border-radius: 8px;
  padding: 12px 24px;

  font-size: 16px;
  transition: all 0.2s;
}

.KMqWUKeRBK:focus {
  border-bottom-color: var(--text-color);
}

.KMqWUKeRBK::-ms-input-placeholder {
  color: var(--paragraph-light);
  font-size: 16px;
}

.KMqWUKeRBK::placeholder {
  color: var(--paragraph-light);
  font-size: 16px;
}

.IDIvwRkCKk {
  text-align: center;
  margin-bottom: 40px;
  font-size: 26px;
}

.BvMgJACJDJ {
  color: #fff;
}

.BvMgJACJDJ.cxbwEAhKPh {
  width: 90%;
}

.rzhFirNBGd {
  padding-top: 0;
}

.QjCKWrtRpY {
  justify-content: flex-start;
  margin-top: 20px;
  display: flex;
}

.QjCKWrtRpY.rLMOWeIQfe,
.QjCKWrtRpY.cDAjIppfht {
  grid-column-gap: 20px;
  margin-top: 80px;
}

.nGmQtiexBC {
  width: 80px;
  height: 80px;
  background-color: var(--white);
  color: var(--primary);
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  font-size: 28px;
  line-height: 28px;
  display: flex;
  box-shadow: 0 0 15px rgba(213, 201, 248, 0.2);
}

.UxccFUjRpn {
  width: 25%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px;
  display: flex;
}

.ZkUqWsBSHA {
  display: flex;
}

.qcJTCrpZJy {
  grid-column-gap: 30px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.VCRuMQHvYa {
  width: 100%;
  height: 100%;
  flex-direction: column;
  display: flex;
}

.RtfOStImuS {
  width: 100%;
  min-height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.JbfkZQBnQB {
  width: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 40px;
  flex-direction: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1.1fr 0.9fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.wTxVzpAgRV {
  margin-top: 0;
  margin-bottom: 0;
}

.mespMDFgvS {
  width: 100%;
  grid-row-gap: 60px;
  flex-direction: column;
  display: flex;
}

.FDEvqWIcxP {
  width: 100%;
  height: 555px;
  background-image: url("images/1.jpg");
  background-position: 50% 5%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
}

.zxSbQcoSof {
  width: 65%;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.zxSbQcoSof.xxouPruSvP {
  width: 50%;
  grid-row-gap: 15px;
  justify-content: flex-start;
}

.IhmPiyENPk {
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}

.IhmPiyENPk.XLRNUweACm {
  grid-column-gap: 100px;
  justify-content: space-between;
}

.TrLLRphmOB {
  width: 100%;
  margin-top: 70px;
}

.vNEjAtRZAz {
  color: var(--paragraph-light);
  margin-top: 0;
  margin-bottom: 0;
  transition: color 0.3s;
}

.vNEjAtRZAz:hover {
  color: var(--primary);
}

.NzvslXJFSz {
  grid-row-gap: 15px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.lgKCkDKtCS {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

.lgKCkDKtCS.DMEvCXhQVy {
  text-align: center;
}

.cfgoTBfOQS {
  z-index: 3;
  border: 1px solid var(--gray);
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s;
  display: flex;
}

.cfgoTBfOQS:hover {
  transform: translate(0, -10px);
}

.BHfgPqvsUN {
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.SCTdRrilSD {
  width: 100%;
  align-items: center;
  display: flex;
}

.SCTdRrilSD.XLRNUweACm {
  justify-content: space-between;
}

.fWiINfAKbH {
  z-index: 10;
  width: 75%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.fWiINfAKbH.xxouPruSvP {
  width: 43%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.gQUbLkGsgj {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: 0% 0%;
  position: absolute;
  top: auto;
  bottom: 2%;
  left: auto;
  right: -16%;
}

.IhmPiyENPk {
  width: 100%;
}

.YgzvHauerM {
  z-index: 2000000;
  width: 100%;
  border: 1px solid var(--green);
  background-color: rgba(66, 180, 108, 0.1);
  border-radius: 16px;
  justify-content: space-between;
  margin-top: 40px;
  padding: 20px;
  display: flex;
  position: relative;
}

.pECiGhODNb {
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.33);
}

.NapSvmXEtF {
  margin-top: auto;
  display: flex;
}

.NapSvmXEtF.sETuHJTRwr {
  margin-top: 50px;
}

.GClrhXrxMm {
  width: 45%;
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.dpTCDMnica {
  width: 100%;
  grid-column-gap: 30px;
  justify-content: space-between;
  margin-top: 30px;
  display: flex;
}

.SeQZBqBdCa {
  width: 30%;
  grid-column-gap: 20px;
  border: 1px solid var(--blue);
  background-color: rgba(0, 144, 255, 0.05);
  border-radius: 16px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  display: flex;
  position: relative;
}

.SeQZBqBdCa.KvDZTNJUEh {
  width: 70%;
  border-color: var(--orange);
  background-color: rgba(250, 173, 61, 0.05);
  flex-direction: row;
  padding-right: 0;
}

.dulpoaULQV {
  width: 46%;
  height: 100%;
  object-fit: cover;
}

.dulpoaULQV.KvDZTNJUEh {
  width: 46%;
  object-fit: cover;
  object-position: 0% 50%;
}

.gTxLpLtRlM {
  width: 49%;
  height: 100%;
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.CoXTfvyXUs {
  width: 100%;
  background-color: var(--text-color);
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding-top: 20px;
  padding-left: 50px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.cpWFckoGcj {
  width: 50%;
  height: 350px;
  border-radius: 8px;
  position: absolute;
  top: 16%;
  bottom: 0%;
  left: auto;
  right: -14%;
}

.cpWFckoGcj.QvcVUAjDjg {
  top: 7%;
  right: -1%;
}

.pxqBbANTQA {
  width: 58%;
}

.bATRAbbwwL {
  width: 100%;
  grid-column-gap: 30px;
  justify-content: space-between;
  display: flex;
  position: relative;
}

.wYweuDcfMa {
  z-index: 4;
  width: 50%;
  height: 760px;
  object-fit: cover;
  border-radius: 8px;
}

.GHzzywjDKg {
  grid-column-gap: 20px;
  margin-top: 25px;
  display: flex;
}

.icIhOYcRiB {
  margin-top: 0;
}

.WDNCuuwZad {
  font-weight: 500;
  line-height: 1.5em;
}

.ejVVjUYeXg {
  grid-column-gap: 20px;
  display: flex;
}

.iMRdFslRaO {
  width: 100%;
  grid-row-gap: 30px;
  flex-direction: column;
  display: flex;
}

.PdEuWtOZTL {
  width: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
  position: relative;
}

.AjgOLZWFcs {
  width: 2px;
  background-color: var(--text-color);
  position: absolute;
}

.mjABMdQalu {
  border-radius: 8px;
  display: flex;
  position: relative;
}

.jQKcPVJBHS {
  z-index: 1;
  width: 75%;
  grid-row-gap: 25px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  position: relative;
}

.jQKcPVJBHS.xxouPruSvP {
  width: 75%;
}

.NvClnpHCzh {
  grid-column-gap: 10px;
  display: flex;
}

.pXgbKMLxtX {
  grid-column-gap: 30px;
  margin-top: 25px;
  display: flex;
}

.QjRKvEAtgx {
  letter-spacing: -1.2px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  line-height: 1.2em;
}

.vtdgfdXeEX {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 65px;
}

.vtdgfdXeEX.xxouPruSvP {
  width: 60%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.vtdgfdXeEX.BvMgJACJDJ {
  text-align: center;
}

.jmIZqKCoax {
  grid-row-gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.YKpbVomaYF {
  width: 100%;
  grid-row-gap: 50px;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.VszUPAhEzv {
  height: 100%;
  display: block;
  overflow: hidden;
}

.BFUBIFDBTY {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.bLOftYIIyd {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.nrNlGMlaSI {
  font-size: 16px;
  line-height: 1.625em;
}

.YdJqHcYxww {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  border-radius: 8px;
  justify-content: center;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  transition: background-color 0.3s, border-color 0.3s;
  display: flex;
}

.YdJqHcYxww:hover {
  color: var(--white);
  background-color: #23c1ff;
  border-color: #fd5b38;
}

.ZpPRWiKGMx {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  border: 1px solid var(--gray);
  color: var(--text-color);
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5em;
  transition: box-shadow 0.3s;
  display: flex;
}

.ZpPRWiKGMx:hover {
  color: var(--text-color);
  box-shadow: 0 11px 20px -6px rgba(56, 69, 89, 0.16);
}

.WXhJSROOME {
  align-items: flex-start;
  display: flex;
}

.QOWvxoncKu {
  width: 100%;
  text-align: left;
  flex-direction: column;
}

.ByBurgKGbN {
  max-width: 63%;
  text-align: left;
  margin-top: 35px;
  margin-bottom: 0;
}

.rYeRTgQprU {
  height: 28px;
}

.KZRNoPPpxv {
  grid-column-gap: 40px;
  align-items: center;
  margin-top: 68px;
  display: flex;
}

.GmrguddvHj {
  color: var(--primary);
  font-size: 16px;
  line-height: 1.6em;
}

.GmrguddvHj:hover {
  color: var(--paragraph-light);
}

.KyNpOfIjgu {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.XrVrKJdzuY {
  width: 255px;
  height: 50px;
  max-width: 290px;
  border: 1px solid var(--gray);
  color: var(--text-color);
  border-radius: 8px 0 0 8px;
  margin-bottom: 0;
  padding: 12px 24px;
}

.XrVrKJdzuY:focus {
  border-color: var(--text-color);
}

.XrVrKJdzuY::-ms-input-placeholder {
  color: var(--paragraph-light);
  font-size: 16px;
}

.XrVrKJdzuY::placeholder {
  color: var(--paragraph-light);
  font-size: 16px;
}

.XBJbmugcEu {
  width: 100%;
  grid-row-gap: 5px;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  display: flex;
}

.rLKgUkkVct {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
}

.OVOAuNoYps {
  text-transform: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
}

.iphkxuVDyP {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.dhVHxiklkt {
  color: #fff;
}

.dhVHxiklkt.olKvgTcDTJ {
  color: #fff;
  padding-left: 0;
}

.ROdQsAXpZe {
  width: 47%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.qmOhfSdYQC {
  width: 36%;
  grid-row-gap: 30px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.YmMYJjGiYF {
  width: 56%;
  grid-column-gap: 50px;
  flex-wrap: wrap;
  display: flex;
}

.dgjkSPwxVZ {
  width: 100%;
  border-top: 1px solid var(--gray);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 60px;
  display: flex;
}

.dgjkSPwxVZ.GUDNSpOMzc {
  border-top-style: none;
  border-top-width: 0;
}

.WTlLwqgZku {
  grid-column-gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
}

.gAeLRotWWC {
  color: var(--text-color);
  letter-spacing: -0.24px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  transition: all 0.3s;
}

.gAeLRotWWC:hover {
  color: var(--primary);
}

.gAeLRotWWC.olKvgTcDTJ {
  padding-top: 0;
  padding-bottom: 0;
}

.gAeLRotWWC.olKvgTcDTJ:hover {
  color: #25caa9;
}

.gFKAfUBLWS {
  margin-top: 30px;
  margin-bottom: 0;
}

.tUkrHMtYbL {
  grid-row-gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.qjgnOLdYWI {
  width: 43%;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.hzwyruTsSe {
  width: 90%;
}

.cjAjdAmbRP {
  color: var(--light-grey-bg);
}

.VWVHGvnqlZ {
  color: var(--blue);
  font-size: 80px;
  font-weight: 600;
  line-height: 1em;
}

.bvGtzYLKFI {
  width: 100%;
  border-top: 1px solid var(--gray);
  margin-top: 20px;
  padding-top: 20px;
}

.TQjcxsooux {
  width: 55%;
}

.gTenFctZeO {
  width: 45%;
}

.HYUdxDkfFd {
  margin-bottom: 0;
}

.JiAgepfRRU {
  background-color: var(--white);
  position: relative;
}

.XMwAMaAdbS {
  width: 75%;
  grid-row-gap: 15px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.RuMghQmFMk {
  font-size: 18px;
}

.eLhulDPcNt {
  margin-bottom: 10px;
}

@media screen and (min-width: 1280px) {
  h1 {
    letter-spacing: -0.64px;
    font-size: 64px;
  }

  h2 {
    letter-spacing: -0.48px;
    font-size: 48px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 21px;
  }

  .ZJxVrkEAor {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .ZJxVrkEAor.bgYHgpBwZU {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .ZJxVrkEAor.LomToiYrDQ {
    background-position: 110% -100%;
    background-size: 54% 100%;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .ZJxVrkEAor.XMElDDEsFL {
    padding-bottom: 120px;
  }

  .rzhFirNBGd {
    padding-top: 0;
  }

  .UxccFUjRpn {
    padding-left: 20px;
    padding-right: 20px;
  }

  .qcJTCrpZJy.DMEvCXhQVy {
    margin-top: 60px;
  }

  .JbfkZQBnQB {
    grid-template-columns: 1.2fr 0.8fr 1fr;
  }

  .FDEvqWIcxP {
    height: 600px;
    background-position: 50% 12%;
    right: -30px;
  }

  .zxSbQcoSof {
    width: 56%;
  }

  .zxSbQcoSof.xxouPruSvP {
    grid-row-gap: 10px;
  }

  .IhmPiyENPk.XLRNUweACm {
    grid-column-gap: 125px;
  }

  .fWiINfAKbH {
    justify-content: space-between;
  }

  .fWiINfAKbH.xxouPruSvP {
    width: 43%;
  }

  .gQUbLkGsgj {
    height: 650px;
    bottom: 3%;
    right: -15%;
  }

  .YgzvHauerM {
    margin-top: 60px;
    padding: 30px;
  }

  .pECiGhODNb {
    border-radius: 20px;
  }

  .NapSvmXEtF.sETuHJTRwr {
    margin-top: 100px;
  }

  .GClrhXrxMm {
    width: 38%;
  }

  .SeQZBqBdCa {
    padding: 30px;
  }

  .SeQZBqBdCa.KvDZTNJUEh {
    padding-right: 0;
  }

  .dulpoaULQV {
    width: 52%;
    object-fit: cover;
  }

  .dulpoaULQV.KvDZTNJUEh {
    width: 44%;
  }

  .gTxLpLtRlM {
    width: 51%;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
  }

  .cpWFckoGcj {
    width: 51%;
    height: 420px;
    top: 22%;
    right: -8%;
  }

  .cpWFckoGcj.QvcVUAjDjg {
    top: -1%;
    right: 1%;
  }

  .bATRAbbwwL {
    grid-column-gap: 50px;
  }

  .wYweuDcfMa {
    height: 720px;
    max-width: 570px;
  }

  .WDNCuuwZad {
    margin-top: 5px;
  }

  .jQKcPVJBHS {
    width: 60%;
  }

  .jQKcPVJBHS.xxouPruSvP {
    width: 62%;
  }

  .vtdgfdXeEX {
    font-size: 82px;
  }

  .VszUPAhEzv {
    height: 100%;
  }

  .BFUBIFDBTY {
    display: flex;
  }

  .QOWvxoncKu {
    font-size: 18px;
  }

  .ByBurgKGbN {
    max-width: 50%;
  }

  .KZRNoPPpxv {
    margin-top: 87px;
  }

  .GmrguddvHj {
    font-size: 18px;
  }

  .XrVrKJdzuY {
    width: 290px;
  }

  .XBJbmugcEu {
    margin-top: 40px;
  }

  .ROdQsAXpZe {
    width: 49%;
  }

  .YmMYJjGiYF {
    grid-column-gap: 80px;
  }

  .dgjkSPwxVZ {
    grid-column-gap: 70px;
    padding-top: 120px;
  }

  .gAeLRotWWC {
    font-size: 18px;
  }

  .qjgnOLdYWI {
    width: 45%;
  }

  .hzwyruTsSe {
    width: 89%;
  }

  .bvGtzYLKFI {
    text-align: center;
  }

  .XMwAMaAdbS {
    width: 74%;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    margin-bottom: 10px;
    font-size: 80px;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  .ZJxVrkEAor.LomToiYrDQ {
    background-position: 99%;
    background-size: 39%;
    margin-left: 80px;
    margin-right: 80px;
  }

  .ZJxVrkEAor.uYCbouoYET {
    background-position: 0 0, 50% 40%;
  }

  .UxccFUjRpn {
    padding-left: 25px;
    padding-right: 25px;
  }

  .FDEvqWIcxP {
    height: 595px;
    right: -85px;
  }

  .fWiINfAKbH {
    width: 70%;
  }

  .fWiINfAKbH.xxouPruSvP {
    width: 40%;
  }

  .gQUbLkGsgj {
    right: -21%;
  }

  .cpWFckoGcj {
    height: 430px;
  }

  .cpWFckoGcj.QvcVUAjDjg {
    width: 47%;
    height: 390px;
    top: 3%;
    right: 1%;
  }

  .bATRAbbwwL {
    grid-column-gap: 100px;
  }

  .mjABMdQalu {
    margin-left: 40px;
    margin-right: 40px;
  }

  .jQKcPVJBHS.xxouPruSvP {
    width: 63%;
  }

  .vtdgfdXeEX {
    font-size: 85px;
  }
}

@media screen and (min-width: 1920px) {
  .ZJxVrkEAor.rzhFirNBGd {
    padding-top: 0;
  }

  .ZJxVrkEAor.DaCejhyeXL {
    padding-top: 180px;
  }

  .ZJxVrkEAor.LomToiYrDQ {
    background-position: 95%;
    background-size: 37%;
  }

  .ZJxVrkEAor.uYCbouoYET {
    padding-top: 260px;
    padding-bottom: 260px;
  }

  .ZJxVrkEAor.XMElDDEsFL {
    padding-top: 180px;
  }

  .FDEvqWIcxP {
    right: -325px;
  }

  .IhmPiyENPk.XLRNUweACm {
    grid-column-gap: 180px;
  }

  .SCTdRrilSD {
    align-items: stretch;
  }

  .gQUbLkGsgj {
    width: 80%;
    height: 750px;
    bottom: -12%;
    right: -16%;
  }

  .wYweuDcfMa {
    max-width: 580px;
  }

  .jQKcPVJBHS {
    width: 61%;
  }

  .jQKcPVJBHS.xxouPruSvP {
    width: 62%;
  }

  .vtdgfdXeEX {
    font-size: 120px;
  }

  .vtdgfdXeEX.xxouPruSvP {
    width: 75%;
    font-size: 100px;
  }

  .gAeLRotWWC:hover {
    color: var(--primary);
  }
}

@media screen and (max-width: 991px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    letter-spacing: -0.35px;
    font-size: 35px;
  }

  .ZJxVrkEAor.DaCejhyeXL {
    padding-top: 140px;
  }

  .ZJxVrkEAor.LomToiYrDQ {
    background-size: 74%;
  }

  .ZJxVrkEAor.uYCbouoYET {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .ZoeoHIIneN {
    max-width: 100%;
  }

  .TQtYhYxXBr {
    max-width: 560px;
  }

  .fAZlXzXEJc {
    grid-row-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .TnSVlwkQlr {
    width: 43%;
    padding-left: 20px;
    padding-right: 20px;
  }

  .yAffdDFQiF {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .CPcCFfDcQx {
    width: 100%;
    padding-right: 0;
  }

  .HxWMFNDGZg {
    width: 75%;
    margin-left: 0;
    padding: 30px;
  }

  .YXSTjqLCxz {
    padding-right: 65px;
  }

  .IDIvwRkCKk {
    font-size: 22px;
  }

  .QjCKWrtRpY.rLMOWeIQfe,
  .QjCKWrtRpY.cDAjIppfht {
    margin-top: 40px;
  }

  .UxccFUjRpn {
    width: 50%;
  }

  .ZkUqWsBSHA {
    flex-wrap: wrap;
  }

  .JbfkZQBnQB {
    width: 100%;
    grid-template-columns: 0.9fr 1.1fr 1fr;
  }

  .mespMDFgvS {
    grid-row-gap: 60px;
  }

  .FDEvqWIcxP {
    height: 370px;
    right: 15px;
  }

  .zxSbQcoSof {
    width: 70%;
  }

  .zxSbQcoSof.xxouPruSvP {
    width: 100%;
  }

  .IhmPiyENPk.XLRNUweACm {
    width: 90%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TrLLRphmOB {
    margin-top: 50px;
  }

  .vNEjAtRZAz:hover {
    color: var(--primary);
  }

  .cfgoTBfOQS {
    width: 47%;
  }

  .BHfgPqvsUN {
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .SCTdRrilSD {
    grid-row-gap: 50px;
    flex-direction: column;
  }

  .fWiINfAKbH {
    width: 100%;
  }

  .fWiINfAKbH.xxouPruSvP {
    width: 50%;
    grid-row-gap: 20px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .gQUbLkGsgj {
    width: 85%;
    top: auto;
    bottom: 0%;
    left: auto;
    right: -4%;
  }

  .YgzvHauerM {
    margin-top: 50px;
    padding: 30px;
  }

  .NapSvmXEtF.sETuHJTRwr {
    margin-top: 20px;
  }

  .GClrhXrxMm {
    width: 45%;
  }

  .SeQZBqBdCa {
    width: 35%;
    align-items: center;
    padding-right: 20px;
  }

  .SeQZBqBdCa.KvDZTNJUEh {
    width: 65%;
    justify-content: space-between;
  }

  .gTxLpLtRlM {
    width: 50%;
  }

  .CoXTfvyXUs {
    padding-top: 10px;
    padding-left: 20px;
  }

  .cpWFckoGcj {
    width: 67%;
    height: 300px;
    top: 11%;
    right: -29%;
  }

  .cpWFckoGcj.QvcVUAjDjg {
    width: 50%;
    height: 260px;
    right: -1%;
  }

  .pxqBbANTQA {
    width: 30%;
  }

  .bATRAbbwwL {
    grid-row-gap: 40px;
    flex-direction: column-reverse;
  }

  .wYweuDcfMa {
    width: 100%;
    height: 500px;
    object-position: 50% 15%;
  }

  .GHzzywjDKg {
    margin-top: 15px;
  }

  .ejVVjUYeXg.UjnYJzHyLi {
    flex-direction: column;
  }

  .ejVVjUYeXg.IYHGdcFLZy,
  .ejVVjUYeXg.vhbvTaeUXm,
  .ejVVjUYeXg.tciyunJwRQ {
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .mjABMdQalu {
    grid-row-gap: 30px;
    flex-direction: column;
  }

  .jQKcPVJBHS,
  .jQKcPVJBHS.xxouPruSvP {
    width: 100%;
  }

  .vtdgfdXeEX.BvMgJACJDJ {
    font-size: 50px;
  }

  .YKpbVomaYF {
    grid-row-gap: 40px;
  }

  .QOWvxoncKu {
    text-align: center;
  }

  .ByBurgKGbN {
    margin-top: 20px;
  }

  .KZRNoPPpxv {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .XBJbmugcEu {
    justify-content: center;
  }

  .OVOAuNoYps {
    text-align: center;
    font-size: 28px;
  }

  .iphkxuVDyP {
    align-items: center;
  }

  .ROdQsAXpZe {
    width: 43%;
  }

  .qmOhfSdYQC {
    width: 40%;
  }

  .YmMYJjGiYF {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .dgjkSPwxVZ {
    grid-row-gap: 50px;
    flex-wrap: wrap;
  }

  .tUkrHMtYbL {
    align-items: flex-start;
  }

  .qjgnOLdYWI {
    width: 100%;
    align-items: center;
  }

  .VWVHGvnqlZ {
    font-size: 45px;
  }

  .bvGtzYLKFI {
    text-align: center;
  }

  .TQjcxsooux,
  .gTenFctZeO {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    letter-spacing: -0.28px;
    font-size: 28px;
  }

  h3 {
    font-size: 25px;
  }

  p {
    font-size: 18px;
  }

  .ZJxVrkEAor {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .ZJxVrkEAor.rzhFirNBGd {
    padding-top: 0;
  }

  .ZJxVrkEAor.DaCejhyeXL {
    padding-top: 120px;
  }

  .ZJxVrkEAor.uYCbouoYET {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .ZJxVrkEAor.XMElDDEsFL {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .TQtYhYxXBr {
    margin-bottom: 40px;
  }

  .fAZlXzXEJc {
    column-count: 1;
    flex-wrap: wrap;
  }

  .TnSVlwkQlr {
    width: 100%;
    margin-right: 0;
  }

  .TnSVlwkQlr.UMXZMbtzZh {
    margin-bottom: 0;
  }

  .yAffdDFQiF {
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    flex-wrap: wrap;
  }

  .CPcCFfDcQx {
    width: 100%;
    margin-bottom: 30px;
    padding-right: 0;
  }

  .HxWMFNDGZg {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .YXSTjqLCxz {
    padding-right: 100px;
  }

  .QjCKWrtRpY.rLMOWeIQfe {
    margin-top: 20px;
  }

  .qcJTCrpZJy {
    justify-content: center;
  }

  .JbfkZQBnQB {
    grid-row-gap: 20px;
    text-align: center;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }

  .mespMDFgvS {
    grid-row-gap: 40px;
  }

  .FDEvqWIcxP {
    height: 270px;
    right: 10px;
  }

  .zxSbQcoSof {
    width: 100%;
    grid-row-gap: 0px;
  }

  .zxSbQcoSof.xxouPruSvP {
    width: 100%;
  }

  .IhmPiyENPk {
    grid-row-gap: 20px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .IhmPiyENPk.XLRNUweACm {
    grid-row-gap: 10px;
  }

  .TrLLRphmOB {
    margin-top: 40px;
  }

  .lgKCkDKtCS.DMEvCXhQVy {
    text-align: center;
  }

  .cfgoTBfOQS {
    width: 100%;
  }

  .BHfgPqvsUN {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-wrap: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .SCTdRrilSD {
    justify-content: center;
  }

  .fWiINfAKbH {
    grid-row-gap: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .fWiINfAKbH.xxouPruSvP {
    width: 100%;
  }

  .gQUbLkGsgj {
    height: 400px;
    bottom: 11%;
  }

  .YgzvHauerM {
    grid-row-gap: 40px;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 40px;
  }

  .pECiGhODNb {
    width: 75%;
  }

  .GClrhXrxMm {
    width: 100%;
    grid-row-gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .dpTCDMnica {
    grid-row-gap: 30px;
    flex-direction: column;
  }

  .SeQZBqBdCa {
    width: 100%;
  }

  .SeQZBqBdCa.KvDZTNJUEh {
    width: 100%;
    align-items: flex-end;
  }

  .gTxLpLtRlM {
    padding-bottom: 20px;
  }

  .CoXTfvyXUs {
    flex-direction: column-reverse;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .cpWFckoGcj {
    width: 100%;
    height: 280px;
    position: relative;
    top: 0%;
    right: -22px;
  }

  .cpWFckoGcj.QvcVUAjDjg {
    width: 100%;
    height: 320px;
    right: auto;
  }

  .pxqBbANTQA {
    width: 100%;
    height: auto;
  }

  .wYweuDcfMa {
    height: 350px;
  }

  .mjABMdQalu {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .jQKcPVJBHS {
    grid-row-gap: 15px;
  }

  .jQKcPVJBHS.xxouPruSvP {
    align-items: center;
  }

  .pXgbKMLxtX {
    grid-row-gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .QjRKvEAtgx {
    font-size: 30px;
  }

  .vtdgfdXeEX.xxouPruSvP {
    font-size: 48px;
  }

  .vtdgfdXeEX.BvMgJACJDJ {
    font-size: 45px;
  }

  .YKpbVomaYF {
    grid-row-gap: 20px;
  }

  .ByBurgKGbN {
    text-align: center;
  }

  .KZRNoPPpxv {
    margin-top: 20px;
  }

  .KyNpOfIjgu {
    max-width: 80%;
    text-align: center;
  }

  .XBJbmugcEu {
    flex-wrap: wrap;
  }

  .rLKgUkkVct {
    text-align: center;
  }

  .OVOAuNoYps {
    text-align: center;
    font-size: 24px;
  }

  .dhVHxiklkt {
    padding-left: 0;
  }

  .ROdQsAXpZe {
    width: 100%;
    align-items: center;
  }

  .qmOhfSdYQC {
    width: 100%;
    grid-row-gap: 20px;
    align-items: center;
  }

  .YmMYJjGiYF {
    grid-row-gap: 30px;
  }

  .dgjkSPwxVZ {
    grid-column-gap: 50px;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .WTlLwqgZku {
    width: 100%;
    grid-column-gap: 30px;
  }

  .tUkrHMtYbL {
    grid-row-gap: 10px;
  }

  .XMwAMaAdbS {
    width: 100%;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }

  .ZJxVrkEAor.LomToiYrDQ {
    background-size: contain;
    margin-left: 20px;
    margin-right: 20px;
  }

  .ZJxVrkEAor.XMElDDEsFL {
    background-position: 100% 0;
    background-size: cover;
    padding-bottom: 60px;
  }

  .daspaVoqeF.cpqhkZFobF {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .qCWhfbFXae {
    margin-right: 15px;
  }

  .CPcCFfDcQx {
    text-align: center;
  }

  .YXSTjqLCxz {
    padding-right: 40px;
  }

  .QjCKWrtRpY.cDAjIppfht {
    grid-row-gap: 20px;
    flex-flow: column-reverse wrap;
  }

  .UxccFUjRpn {
    width: 100%;
  }

  .qcJTCrpZJy {
    margin-top: 20px;
  }

  .qcJTCrpZJy.DMEvCXhQVy {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    flex-direction: column;
    align-items: center;
  }

  .FDEvqWIcxP {
    height: 165px;
  }

  .IhmPiyENPk.XLRNUweACm {
    width: 100%;
  }

  .vNEjAtRZAz.DMEvCXhQVy {
    text-align: center;
  }

  .cfgoTBfOQS {
    width: 100%;
  }

  .SCTdRrilSD {
    grid-row-gap: 40px;
  }

  .gQUbLkGsgj {
    width: 100%;
    bottom: 22%;
    right: 0%;
  }

  .pECiGhODNb {
    width: 100%;
  }

  .SeQZBqBdCa {
    flex-direction: column;
  }

  .SeQZBqBdCa.KvDZTNJUEh {
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }

  .dulpoaULQV,
  .dulpoaULQV.KvDZTNJUEh {
    width: 100%;
  }

  .gTxLpLtRlM {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .gTxLpLtRlM.cgKzpiYIDF {
    padding-left: 20px;
    padding-right: 20px;
  }

  .cpWFckoGcj {
    height: 195px;
  }

  .cpWFckoGcj.QvcVUAjDjg {
    height: 260px;
  }

  .wYweuDcfMa {
    object-position: 50% 50%;
  }

  .jQKcPVJBHS {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .QjRKvEAtgx {
    font-size: 25px;
    line-height: 1.3em;
  }

  .jmIZqKCoax {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .VszUPAhEzv {
    min-height: 60px;
  }

  .WXhJSROOME {
    grid-row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .QOWvxoncKu {
    width: 100%;
    text-align: center;
    justify-content: center;
    line-height: 1.6em;
  }

  .ByBurgKGbN {
    max-width: 100%;
  }

  .KZRNoPPpxv {
    grid-row-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .KyNpOfIjgu {
    max-width: 100%;
  }

  .XrVrKJdzuY {
    width: 290px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .XBJbmugcEu {
    flex-wrap: wrap;
    margin-top: 40px;
  }

  .dgjkSPwxVZ {
    grid-row-gap: 40px;
  }

  .WTlLwqgZku {
    justify-content: center;
  }
}
.open {
  display: flex !important;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  background-color: var(--secondary-light);
  color: #eee;
  /* padding: 0 40px; */
}
.rhjr {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 210;
}
.rhjr a {
  font-size: 30px;
  text-decoration: none;
  color: #eee;
  font-weight: 900;
}
.nav {
  display: flex;
  justify-content: end;
  width: 700px;
  padding: 0 40px;
}
.nav a {
  color: #eee;
  text-decoration: none;
  font-weight: 600;
}
.nav ul {
  /* width: 100%; */
  list-style: none;
  display: flex;
  justify-content: end;
  gap: 40px;
}
.nfrnr {
  display: none;
  position: relative;
  z-index: 50;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  z-index: 200;
}

.nfrnr span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #eee;
}
.nfrnr2 span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: #eee;
}
.nfrnr::before,
.nfrnr::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #eee;
  transition: all 0.5s ease 0s;
}

.nfrnr::before {
  top: 0;
}
.nfrnr::after {
  bottom: 0;
}
.nfrnr.active span {
  transform: scale(0);
}
.nfrnr.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}
.nfrnr.active::after {
  top: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.header-fewvfswve {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bwrg {
  width: 100%;
  z-index: 200;
}
@media (max-width: 991px) {
  .nfrnr {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #0e181e;
    animation: nfrnrAnimation 0.5s;
    font-size: 30px;
  }
  .nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    overflow-y: auto;
    padding: 50px 40px;
    background-color: #1f455c;
    animation: nfrnr2Animation 0.5s;
    font-size: 30px;
  }
  .nav ul {
    flex-direction: column;
    row-gap: 90px;
    align-items: center;
  }
}

@keyframes nfrnrAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes nfrnr2Animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.polhuol {
  line-height: 30px;
  font-size: 18px;
}

.drcdrc {
  width: 100%;
  background-color: #1f455c;
}
